@model IEnumerable<Go81WebApp.Models.数据模型.用户数据模型.用户基本数据>
@using Go81WebApp.Models.数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.管理器
@using MongoDB.Driver.Builders
@using Go81WebApp.Models.管理器.推广业务管理
@using Go81WebApp.Models.数据模型.推广业务数据模型
<link href="~/css/css.css" rel="stylesheet" />
<script src="~/JS/provinceandcity_all.js"></script>
<script src="~/JS/marquee.js" type="text/javascript"></script>
<script src="~/JS/clickStatistics.js" type="text/javascript"></script>
<style>
    .links:hover {
        text-decoration: underline;
        color: blue;
    }

    .childbox {
        z-index: 200;
        position: relative;
        width: 933px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        border: 1px solid lightgray;
        font-size: 12px;
        display: none;
    }

        .childbox a {
            color: blue;
            text-decoration: underline;
        }

    .title {
        display: inline-block;
        text-align: left;
        font-weight: bolder;
    }
         .out_box {
        display: none;
    }

    .out_box_infirst {
        position: fixed;
        z-index: 5;
        top: 0px;
        left: 0px;
        text-align: center;
        right: 0;
        bottom: 0px;
        background-color: black;
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter: alpha(opacity=50);
        height: 100%;
        width: 100%;
        border: 1px solid green;
        box-shadow: 0px 0px 10px gray;
        -webkit-box-shadow: 0px 0px 10px gray;
        -moz-box-shadow: 0px 0px 10px gray;
    }

    .out_box_insecond {
        position: fixed;
        width: 100%;
        height: 80%;
        left: 0px;
        z-index: 20;
        top: 3%;
    }

    .out_box_insecond_child {
        width: 880px;
        position: relative;
        margin: 0px auto;
        z-index: 100;
        background-color: white;
        border:7px solid #D8E6DF;
    }

    .close_outbox {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: red;
        font-size: 30px;
        color: white;
        float: right;
        cursor: pointer;
    }
    #areamsg{
        position:fixed;
        left:0px;
        top:0px;
        border:1px solid #000;
        background-color:#fff;
        width:200px;
        height:90px;
        line-height:30px;
        padding-left:10px;
        z-index:100;
        display:none;
    }
</style>
@if (WebApiApplication.IsIntranet)
{
    <map name="planetmap" id="planetmap">
        <area shape="poly" onclick="getGys('西藏自治区')" onmousemove="showMsg('tibet', event)" onmouseover="getMsg('西藏自治区')" onmouseout="showMsg('', event)" coords="55,3,55,4,55,5,55,6,55,7,55,8,55,9,54,9,54,10,53,10,52,10,51,10,51,11,50,11,50,12,49,12,48,12,48,13,47,13,47,14,46,14,45,14,44,14,43,14,43,15,42,15,42,16,41,16,40,16,40,17,39,17,38,17,38,18,37,18,36,18,35,18,34,18,34,19,33,19,33,20,32,20,31,20,30,20,29,20,28,20,27,20,26,20,25,20,25,21,24,21,23,21,22,21,22,22,22,23,22,24,22,25,22,26,22,27,22,28,22,29,21,30,21,31,20,31,20,32,20,33,20,34,20,35,20,36,20,37,20,38,20,39,20,40,20,41,20,42,21,42,21,43,21,44,21,45,22,45,22,46,22,47,22,48,22,49,22,50,22,51,21,51,20,51,20,52,19,52,18,52,17,53,16,53,15,53,14,53,13,53,13,54,12,54,11,54,10,54,10,55,10,56,10,57,10,58,10,59,11,59,11,60,11,61,11,62,10,62,10,63,9,63,9,64,9,65,8,65,8,66,8,67,8,68,8,69,8,70,8,71,7,71,7,72,6,73,6,74,6,75,6,76,5,76,5,77,5,78,5,79,5,80,5,81,5,82,5,83,5,84,5,85,5,86,5,87,6,87,7,87,7,88,7,89,7,90,8,90,8,91,8,92,8,93,9,93,9,94,9,95,10,95,10,96,11,96,11,97,12,97,12,98,13,98,14,98,14,99,15,99,16,100,16,101,17,101,18,102,18,103,19,103,20,103,20,104,21,105,21,106,21,107,22,107,22,108,23,108,23,109,24,109,24,110,25,110,25,111,25,112,25,113,26,113,26,114,26,115,27,115,28,115,28,116,28,117,29,117,29,118,30,118,30,119,31,119,32,120,32,121,33,121,33,122,34,122,34,123,34,124,35,124,35,125,36,125,36,126,36,127,37,127,37,126,38,126,38,125,39,125,40,125,40,124,41,124,42,124,43,124,44,124,45,124,46,124,47,124,48,124,49,124,50,124,50,125,51,125,51,126,52,126,52,127,53,127,53,128,54,128,54,129,54,130,54,131,55,131,55,132,56,132,56,133,57,133,57,134,58,134,58,135,58,136,59,136,59,137,60,137,60,138,61,138,62,138,62,139,63,140,64,140,64,141,65,141,66,141,66,142,67,142,67,143,68,143,69,144,70,144,70,145,71,145,71,146,71,147,72,148,73,148,73,149,73,150,74,150,74,151,75,152,75,153,76,153,76,154,77,154,77,155,78,155,78,156,79,157,80,158,80,159,81,159,81,160,82,160,83,160,83,161,84,161,85,161,86,162,87,162,88,162,88,163,89,163,89,164,90,164,91,164,92,165,93,165,93,166,94,166,94,167,94,168,94,169,94,170,94,171,95,171,95,172,95,173,96,173,96,174,96,175,97,175,97,176,98,176,98,177,99,177,99,178,100,178,100,179,101,179,102,179,102,180,103,180,103,181,104,181,105,181,105,182,106,183,107,183,107,184,107,185,107,186,108,186,108,187,109,187,109,188,109,189,109,190,110,190,111,191,111,192,111,193,112,193,112,194,113,194,113,195,114,196,114,197,115,197,115,198,115,199,116,199,117,200,118,200,119,200,119,201,120,201,120,202,121,202,122,202,123,203,124,203,125,203,126,203,127,203,128,203,129,203,130,203,131,203,132,203,133,203,134,203,135,203,136,203,137,203,138,203,138,204,139,204,140,204,140,205,141,206,141,207,142,207,142,208,143,208,143,209,144,209,144,210,145,210,145,211,146,211,147,211,148,211,149,211,149,212,150,212,151,212,152,212,153,212,154,212,155,212,156,212,157,212,158,212,159,212,160,212,161,212,162,212,163,212,164,212,165,212,165,211,166,211,167,211,168,211,169,211,170,211,171,211,171,212,172,212,172,213,173,213,173,214,173,215,173,216,173,217,173,218,173,219,174,219,175,219,176,219,177,219,178,219,178,218,179,218,179,217,180,217,181,217,181,216,182,216,183,216,183,215,184,215,185,214,186,214,186,213,187,213,188,213,189,213,190,213,191,213,192,213,193,213,194,213,194,212,195,212,196,212,197,212,198,212,199,212,200,212,201,212,202,212,202,213,203,213,203,214,203,215,203,216,204,216,205,217,206,217,207,217,207,218,208,218,209,218,210,218,211,218,212,218,213,218,213,219,214,219,215,219,216,220,217,220,218,220,218,221,218,222,219,222,220,222,220,223,221,223,222,224,223,225,223,226,224,226,224,227,225,227,226,227,226,228,227,228,227,229,228,229,228,230,229,230,229,231,230,231,230,232,230,233,231,233,231,234,231,235,232,236,232,237,233,237,233,238,234,238,234,239,234,240,234,241,234,242,234,243,234,244,234,245,234,246,234,247,234,248,235,249,235,250,236,250,236,251,237,251,238,251,238,252,239,252,240,252,241,252,242,252,243,252,243,253,244,253,245,253,246,253,247,253,248,253,249,253,250,253,251,253,252,253,253,253,254,253,255,253,256,253,257,253,258,253,259,253,260,253,261,253,261,252,262,252,263,252,263,251,264,251,264,250,265,250,265,249,266,249,267,249,267,248,268,248,269,248,269,247,270,246,271,246,272,246,272,245,273,245,274,244,275,244,275,243,276,243,276,242,277,242,278,241,279,241,280,241,280,240,281,240,281,239,282,239,282,238,283,238,284,238,284,237,285,237,286,237,287,237,288,237,289,237,289,236,290,236,291,236,292,236,293,236,294,236,294,235,295,235,296,235,297,234,298,234,299,234,300,234,301,234,302,233,303,233,304,233,305,233,306,233,307,233,308,233,309,233,310,233,311,233,312,233,313,233,313,234,314,234,314,235,315,235,316,235,317,235,317,236,318,236,318,237,319,237,320,237,321,237,322,237,322,238,323,238,323,239,324,239,325,239,326,239,326,240,327,240,327,241,328,241,329,241,329,242,330,242,330,243,331,243,332,243,333,243,334,243,335,243,335,242,336,242,337,242,337,241,337,240,337,239,338,239,338,238,339,238,339,237,340,237,341,237,341,236,342,236,343,236,343,235,343,234,344,234,345,233,346,233,346,232,347,232,348,232,349,232,350,232,351,233,352,234,353,234,354,235,355,235,356,235,357,235,358,235,359,235,359,234,360,234,360,233,360,232,361,232,361,231,361,230,361,229,362,229,362,228,362,227,363,227,364,227,364,226,365,225,366,225,366,224,367,224,367,223,368,223,368,222,369,222,369,221,370,221,370,220,371,220,371,219,371,218,371,217,371,216,371,215,371,214,371,213,372,213,373,213,374,213,375,213,375,212,376,212,377,212,378,212,379,211,379,210,379,209,379,208,380,208,380,207,380,206,380,205,380,204,380,203,380,202,380,201,380,200,380,199,380,198,380,197,380,196,380,195,380,194,380,193,380,192,380,191,380,190,379,190,379,189,379,188,378,188,378,187,377,187,377,186,377,185,377,184,376,184,376,183,376,182,376,181,376,180,375,180,375,179,375,178,375,177,375,176,375,175,375,174,374,174,374,173,374,172,374,171,373,170,373,169,373,168,373,167,373,166,373,165,373,164,373,163,372,163,372,162,372,161,372,160,372,159,372,158,372,157,372,156,372,155,372,154,372,153,372,152,372,151,372,150,372,149,371,149,371,148,371,147,371,146,371,145,371,144,371,143,370,143,370,142,370,141,369,141,369,140,369,139,368,139,368,138,368,137,368,136,368,135,367,135,367,134,367,133,367,132,366,132,366,131,366,130,366,129,365,129,365,128,365,127,365,126,364,126,364,125,364,124,363,124,362,124,362,123,361,123,361,122,360,122,359,122,358,123,357,123,357,124,356,124,356,125,356,126,356,127,355,127,355,128,355,129,355,130,355,131,354,131,354,132,353,132,353,133,353,134,353,135,352,135,352,136,352,137,351,137,351,138,350,138,350,139,350,140,349,140,349,141,348,141,348,142,347,142,347,143,347,144,346,144,345,144,345,145,344,145,344,146,343,146,343,147,342,147,342,148,341,148,340,148,339,148,339,149,338,149,337,149,336,149,335,149,334,149,333,149,332,149,331,149,330,149,329,149,328,149,327,149,327,148,326,148,326,147,325,147,324,147,324,146,323,146,322,146,322,145,321,145,320,145,320,144,319,144,319,143,318,143,318,142,317,142,316,142,316,141,315,141,314,141,314,140,314,139,314,138,314,137,314,136,314,135,313,135,313,134,313,133,312,133,312,132,311,132,311,131,311,130,311,129,310,129,310,128,310,127,310,126,310,125,310,124,310,123,310,122,310,121,310,120,309,120,309,119,308,119,307,119,306,119,305,119,304,119,303,119,302,119,301,119,300,119,299,119,298,119,297,119,296,119,296,118,295,118,294,118,293,118,292,117,291,117,290,117,289,117,289,116,288,116,287,116,286,116,285,116,284,116,283,116,283,115,282,115,282,114,281,114,280,114,279,114,278,114,278,113,277,113,276,113,275,113,274,113,273,113,272,113,272,112,271,112,270,112,269,112,269,111,268,111,268,110,267,110,266,110,265,110,265,109,264,109,263,109,263,108,262,108,261,108,260,107,260,106,259,106,258,106,257,106,257,105,256,105,256,104,255,104,254,104,253,103,253,102,252,102,251,102,250,102,250,101,249,101,249,100,248,100,247,99,246,99,246,98,245,98,244,98,244,97,243,97,243,96,242,96,241,96,241,95,240,95,239,95,239,94,238,94,237,94,237,93,236,93,235,93,235,92,234,92,233,92,232,92,231,92,230,92,229,92,228,92,228,91,227,90,227,89,227,88,226,88,225,88,225,87,225,86,225,85,225,84,225,83,225,82,225,81,225,80,225,79,225,78,225,77,225,76,225,75,225,74,225,73,224,73,224,72,223,71,222,70,221,70,221,69,220,69,220,68,219,68,219,67,218,67,217,67,217,66,216,66,216,65,216,64,215,64,215,63,214,63,214,62,213,62,213,61,213,60,213,59,213,58,214,57,214,56,215,56,215,55,216,55,217,55,217,54,218,54,218,53,219,53,219,52,220,52,220,51,220,50,221,50,221,49,221,48,222,48,222,47,222,46,223,46,223,45,223,44,223,43,224,43,224,42,224,41,224,40,224,39,225,39,225,38,225,37,226,37,226,36,226,35,226,34,227,34,227,33,227,32,227,31,227,30,227,29,227,28,227,27,226,27,225,26,225,25,224,25,224,24,223,24,223,23,222,22,221,22,221,21,220,21,220,20,219,20,219,19,218,19,217,18,216,18,216,17,215,17,215,16,214,15,214,14,213,14,212,14,212,13,211,13,211,12,210,12,210,11,209,11,208,11,207,11,206,11,205,11,204,11,203,11,202,11,201,11,200,11,199,11,199,12,198,12,197,12,196,12,195,13,194,13,193,13,192,13,191,13,190,13,189,13,188,13,187,13,186,13,185,13,184,13,183,13,182,13,181,13,180,13,179,13,178,13,177,13,176,13,175,13,174,13,173,13,172,13,171,13,170,13,169,13,168,13,167,13,167,14,166,14,166,15,166,16,165,16,165,17,164,17,163,17,162,17,161,17,160,17,159,17,158,17,157,17,156,17,155,17,154,17,153,17,152,17,151,17,150,17,149,17,148,17,147,17,146,17,145,17,144,17,143,17,142,17,141,17,141,18,140,18,140,19,139,19,138,19,137,19,136,19,135,19,134,19,133,19,132,19,131,19,130,19,129,19,128,19,128,18,127,18,126,18,126,17,125,17,124,17,124,16,123,16,123,15,122,15,122,14,121,14,121,13,120,13,120,12,120,11,120,10,119,10,118,10,117,10,116,10,115,10,114,10,113,10,112,10,111,9,110,9,109,9,108,9,108,8,108,7,107,7,106,6,105,6,105,5,104,5,104,4,103,4,102,4,101,4,100,5,99,6,98,6,97,6,97,7,96,7,95,7,94,7,93,7,92,7,91,7,90,7,89,7,88,7,87,7,87,8,86,8,86,9,85,9,85,10,84,10,83,10,82,10,81,10,80,10,80,9,79,9,79,8,78,7,77,7,77,6,76,6,75,6,75,5,74,5,73,5,73,4,72,4,71,4,70,4,69,4,68,4,68,3,67,3,67,2,66,2,65,2,64,2,63,2,62,2,61,2,60,2,59,2,58,2,57,2,57,3,56,3,55,3,55,4,54,4,54,5,54,6,54,7,54,8,53,8,53,9,52,9,51,9,50,10,49,10,48,10,47,10,46,10,46,11,45,11,45,12,44,12,43,12,42,12,42,13,41,13,40,13,39,13,39,14,38,14,37,14,36,15,35,15,35,16,34,16,34,17,33,17,33,18,32,18,31,18,30,18,30,19,29,19,28,19,28,20,27,20,26,20,25,20,24,20,23,20,22,20,22,21,22,22,23,22," href="/供应商陈列/SupplierInArea?area=西藏自治区&page=1" target="_blank" alt="西藏" />
        <area shape="poly" onclick="getGys('四川省')" onmousemove="showMsg('tibet', event)" onmouseover="getMsg('四川省')" onmouseout="showMsg('', event)" coords="360,125,361,125,361,126,361,127,361,128,362,128,362,129,362,130,362,131,363,131,363,132,364,132,364,133,364,134,365,134,365,135,366,135,366,136,366,137,366,138,367,138,367,139,368,140,368,141,369,141,369,142,370,142,370,143,370,144,371,144,371,145,372,145,372,146,372,147,372,148,372,149,373,150,373,151,373,152,374,153,374,154,374,155,374,156,374,157,374,158,374,159,374,160,374,161,374,162,374,163,373,163,373,164,373,165,372,165,372,166,371,166,371,167,371,168,371,169,371,170,371,171,371,172,371,173,372,173,373,174,374,174,374,175,374,176,374,177,375,177,375,178,375,179,376,179,376,180,376,181,376,182,377,182,377,183,377,184,377,185,377,186,377,187,378,187,378,188,378,189,378,190,379,190,379,191,379,192,380,192,380,193,380,194,380,195,380,196,381,197,381,198,381,199,381,200,381,201,381,202,381,203,381,204,381,205,381,206,381,207,381,208,381,209,381,210,381,211,381,212,381,213,380,213,380,214,379,214,379,215,379,216,378,216,378,217,378,218,378,219,378,220,378,221,378,222,378,223,378,224,378,225,378,226,378,227,378,228,378,229,378,230,378,231,378,232,379,232,380,232,380,233,381,233,382,234,382,233,383,233,383,232,383,231,383,230,384,230,384,229,385,229,385,228,386,227,386,226,387,226,388,226,388,225,389,225,390,225,391,225,392,225,393,225,394,225,395,225,395,226,396,227,396,228,396,229,396,230,396,231,396,232,396,233,396,234,396,235,396,236,395,236,395,237,394,237,394,238,395,238,396,238,396,239,397,239,398,239,399,239,400,239,401,239,402,239,403,239,404,239,404,240,405,240,405,241,406,241,407,241,408,241,408,242,409,242,409,243,409,244,409,245,409,246,410,246,410,247,410,248,410,249,410,250,410,251,410,252,410,253,411,253,411,254,412,254,413,254,413,255,414,255,414,256,414,257,415,257,415,258,415,259,416,259,417,259,417,260,417,261,418,261,418,262,418,263,418,264,418,265,418,266,419,266,419,267,419,268,420,268,421,268,421,269,421,270,422,270,422,271,422,272,422,273,422,274,422,275,422,276,422,277,422,278,422,279,423,279,423,280,424,280,424,281,425,281,425,282,426,282,427,282,428,282,429,282,430,282,431,282,432,282,433,282,434,282,435,282,436,282,436,281,437,281,438,281,438,280,439,280,440,280,440,279,441,279,442,279,443,279,444,279,445,279,446,279,447,279,448,279,448,278,449,278,449,277,450,277,450,276,451,276,451,275,451,274,452,274,452,273,452,272,451,272,451,271,450,271,449,271,449,270,449,269,449,268,449,267,449,266,449,265,449,264,449,263,450,263,450,262,451,262,451,261,451,260,452,260,452,259,453,259,453,258,454,258,455,257,455,256,456,256,457,256,457,255,458,255,459,255,460,255,460,254,461,254,462,254,463,254,463,253,463,252,464,252,465,251,465,250,465,249,464,248,463,248,462,248,462,247,461,247,461,246,461,245,461,244,461,243,461,242,461,241,461,240,461,239,461,238,461,237,462,237,462,236,463,236,464,236,465,236,466,236,467,236,468,236,468,235,469,235,469,234,470,234,470,233,471,233,471,232,471,231,472,231,472,230,473,229,473,228,474,228,475,227,476,227,477,227,478,227,479,227,480,227,481,227,482,227,482,228,483,228,483,229,483,230,483,231,484,232,484,233,484,234,485,234,485,235,485,236,485,237,486,237,486,238,486,239,486,240,486,241,486,242,487,242,487,243,487,244,487,245,487,246,488,246,489,246,490,246,491,246,492,246,493,246,494,245,495,244,496,244,497,244,498,244,499,244,500,244,500,245,500,246,501,246,501,247,501,248,501,249,502,249,502,250,503,250,504,250,505,250,506,250,507,250,508,250,509,251,510,251,511,251,512,251,513,251,514,251,514,250,514,249,514,248,514,247,514,246,514,245,514,244,513,244,512,244,511,244,510,244,509,244,509,243,508,243,508,242,508,241,508,240,508,239,508,238,508,237,508,236,508,235,508,234,508,233,509,233,509,232,510,232,510,231,511,231,512,231,513,231,513,230,514,230,515,231,515,232,516,232,517,232,518,232,519,232,519,231,520,231,519,231,518,231,517,231,516,231,515,231,514,231,513,231,512,231,512,230,511,230,511,229,511,228,511,227,511,226,511,225,511,224,511,223,511,222,511,221,510,221,510,220,510,219,509,219,508,219,508,218,507,218,507,217,506,217,506,216,505,216,505,215,504,214,504,213,503,213,502,213,502,212,502,211,501,211,501,210,500,210,500,209,499,209,499,208,498,208,498,207,497,207,497,206,496,206,496,205,496,204,496,203,496,202,496,201,497,201,497,200,498,200,499,200,499,199,500,199,500,198,501,197,502,196,503,196,503,195,503,194,503,193,503,192,503,191,503,190,503,189,503,188,504,187,505,187,506,187,507,187,508,187,509,187,510,187,511,187,512,187,513,187,514,187,515,187,516,187,517,187,518,187,519,187,520,187,520,188,521,188,521,189,522,189,522,190,523,190,524,190,524,191,525,191,525,192,526,192,527,192,528,192,528,191,528,190,529,190,529,189,530,189,530,188,531,188,532,188,532,187,532,186,533,186,533,185,534,185,535,184,536,184,536,183,537,183,537,182,538,181,538,180,539,180,539,179,539,178,540,178,540,177,541,177,541,176,542,176,543,176,543,175,544,175,545,175,545,174,546,174,547,174,548,174,549,174,550,174,551,174,551,173,551,172,550,172,550,171,550,170,550,169,550,168,550,167,550,166,551,166,551,165,552,165,553,164,554,163,554,162,555,162,555,161,556,160,557,160,557,159,557,158,557,157,558,157,558,156,558,155,559,155,559,154,559,153,559,152,559,151,560,151,560,150,560,149,559,149,558,149,557,149,556,149,555,149,554,149,553,149,552,150,551,150,550,150,550,149,549,149,549,148,548,148,548,147,548,146,548,145,547,145,547,144,547,143,546,143,546,142,545,142,545,141,544,141,543,140,542,140,541,140,540,140,539,140,539,139,538,139,538,138,537,138,537,137,537,136,537,135,536,135,535,135,534,135,533,135,532,135,531,135,530,135,529,135,528,135,527,135,526,135,525,135,524,134,523,134,522,134,521,134,520,134,519,134,519,133,518,133,517,133,517,132,516,132,515,132,514,132,513,132,512,132,511,132,510,132,509,132,509,133,508,133,507,134,506,134,505,134,505,135,504,135,503,135,502,135,502,136,501,136,500,136,499,136,498,136,497,135,496,135,496,134,495,134,494,134,494,133,493,133,493,132,492,132,492,131,491,131,490,131,490,130,489,130,489,129,488,129,488,128,487,128,486,128,486,127,485,127,485,126,485,125,485,124,485,123,485,122,485,121,485,120,485,119,485,118,484,118,484,117,484,116,483,116,483,115,482,115,482,114,481,114,481,113,481,112,480,112,480,111,479,111,478,111,478,110,477,110,476,110,475,110,474,110,473,110,472,110,471,110,470,110,469,110,468,110,467,110,466,110,465,110,464,110,464,109,463,109,463,108,463,107,463,106,462,106,462,105,461,105,461,104,461,103,460,102,460,101,459,101,458,100,457,100,457,99,456,99,455,99,454,99,453,99,452,99,451,100,450,100,449,101,449,102,449,103,449,104,449,105,450,105,451,105,451,106,452,106,452,107,452,108,452,109,452,110,452,111,452,112,452,113,451,113,450,113,450,114,449,114,448,114,447,114,447,115,446,115,445,115,444,115,443,115,443,116,442,116,441,116,440,117,439,117,438,117,437,117,436,117,436,118,435,118,434,118,433,118,432,118,431,118,430,118,429,118,428,118,427,118,427,117,426,118,426,119,425,119,425,120,425,121,424,121,424,122,424,123,423,123,423,124,423,125,423,126,422,126,422,127,422,128,421,128,421,129,420,129,419,129,418,129,418,130,417,130,416,130,415,130,414,130,413,130,412,130,411,130,410,130,409,130,409,129,408,128,408,127,407,127,407,126,407,125,407,124,406,124,406,123,406,122,406,121,406,120,406,119,406,118,405,118,405,117,405,116,404,116,403,116,402,116,401,116,401,115,400,115,399,115,398,115,397,115,396,115,395,115,394,115,393,115,392,115,391,115,390,115,389,115,388,115,387,115,387,114,386,114,385,114,385,113,384,113,383,112,382,112,382,111,381,111,380,111,379,111,379,110,378,110,377,110,376,110,375,110,374,110,374,109,373,109,372,109,371,109,370,109,369,109,368,109,367,109,366,109,365,109,365,110,364,110,364,111,363,111,362,111,362,112,362,113,361,113,361,114,360,114,360,115,359,115,359,116,358,117,358,118,358,119,358,120,358,121,358,122,359,122,360,122,360,123,360,124,360,125,361,125,361,126,361,127,362,127,363,127,363,128,364,128,364,129,365,129," href="/供应商陈列/SupplierInArea?area=四川省&page=1" alt="四川" target="_blank" />
        <area shape="poly" onclick="getGys('云南省')" onmousemove="showMsg('tibet', event)" onmouseover="getMsg('云南省')" onmouseout="showMsg('', event)" coords="371,214,371,215,371,216,371,217,371,218,371,219,371,220,371,221,371,222,371,223,370,223,370,224,369,224,369,225,368,225,367,225,367,226,366,226,365,226,365,227,364,227,363,227,362,227,362,228,361,228,361,229,361,230,360,230,360,231,359,231,359,232,359,233,359,234,359,235,359,236,359,237,359,238,360,238,360,239,361,239,361,240,361,241,361,242,362,242,362,243,362,244,362,245,362,246,362,247,362,248,362,249,362,250,362,251,363,251,363,252,364,252,364,253,364,254,364,255,364,256,365,256,365,257,365,258,365,259,365,260,365,261,365,262,365,263,365,264,365,265,365,266,365,267,365,268,365,269,365,270,365,271,365,272,365,273,365,274,365,275,364,275,364,276,364,277,363,277,363,278,363,279,362,279,362,280,361,281,361,282,360,282,360,283,359,283,359,284,358,284,357,284,357,285,356,285,355,285,354,285,354,286,354,287,353,287,353,288,352,288,352,289,351,289,351,290,350,290,350,291,350,292,349,292,349,293,348,293,348,294,348,295,347,295,346,296,345,296,345,297,344,297,344,298,343,298,342,298,342,299,341,299,341,300,340,300,340,301,339,301,339,302,338,302,338,303,338,304,337,304,337,305,337,306,337,307,337,308,337,309,337,310,338,310,338,311,339,311,339,312,339,313,340,313,340,314,341,314,341,315,341,316,341,317,341,318,341,319,341,320,341,321,341,322,340,323,340,324,340,325,340,326,341,326,341,327,342,327,343,327,344,327,344,328,345,328,346,328,347,328,348,328,349,328,350,328,350,329,351,329,351,330,352,330,353,330,353,331,354,331,355,331,355,332,355,333,356,333,356,334,357,334,357,335,358,335,359,335,359,336,359,337,360,337,360,338,361,339,361,340,361,341,361,342,361,343,361,344,361,345,361,346,361,347,361,348,362,348,362,349,362,350,363,350,363,351,364,351,365,352,365,353,366,353,367,354,368,354,368,355,369,356,369,357,369,358,369,359,369,360,369,361,369,362,369,363,369,364,369,365,369,366,369,367,369,368,369,369,368,369,368,370,367,370,367,371,367,372,366,372,366,373,366,374,365,374,366,375,367,375,368,375,369,375,369,376,370,376,371,376,372,376,372,377,372,378,373,378,373,379,373,380,374,380,375,381,375,382,376,382,376,383,377,383,377,384,378,384,378,385,379,385,380,385,381,385,382,385,383,385,384,385,384,386,385,386,386,386,387,386,388,386,389,386,390,386,391,386,392,386,393,386,394,386,394,387,395,387,396,387,397,387,398,387,398,388,399,388,400,388,401,388,401,389,402,390,403,390,404,390,405,390,405,391,406,391,406,391,407,391,408,391,408,392,409,392,410,392,411,393,411,393,412,393,412,394,413,394,414,394,414,394,415,394,416,394,417,394,418,394,419,394,420,394,421,394,422,394,423,394,424,394,424,393,424,392,424,391,424,390,424,389,424,388,424,387,424,386,424,385,424,384,424,383,424,382,424,381,424,380,424,379,423,379,423,378,423,377,423,376,423,375,423,374,423,373,424,373,425,373,426,372,427,372,428,372,429,371,430,371,431,371,432,371,433,371,434,371,434,370,435,370,436,370,436,369,437,369,438,369,439,370,440,371,440,372,441,373,441,374,442,374,443,374,443,373,444,373,445,372,446,372,446,371,447,371,447,370,448,370,449,370,450,370,451,370,452,370,453,370,454,370,455,370,456,370,457,370,458,370,459,370,460,370,461,370,462,370,463,370,464,370,465,370,466,370,467,370,468,370,469,370,470,370,471,370,472,370,473,370,474,370,475,370,476,370,477,370,478,370,479,370,480,370,481,369,482,369,483,369,483,368,484,368,484,367,484,366,484,365,485,365,485,364,486,364,487,364,487,363,488,363,488,362,488,361,489,361,489,360,490,360,491,360,491,359,492,359,493,359,494,359,495,359,496,359,496,358,496,357,496,356,496,355,496,354,496,353,496,352,496,351,496,350,496,349,496,348,496,347,497,347,497,346,498,346,499,346,499,345,500,345,500,344,501,344,501,343,502,343,503,343,503,342,504,342,505,342,506,342,507,341,508,341,509,341,509,340,510,340,511,340,511,339,511,338,511,337,511,336,511,335,511,334,510,334,509,334,509,333,509,332,508,332,507,332,506,332,505,332,504,332,503,332,503,331,503,330,504,330,504,329,504,328,503,328,503,327,502,327,501,327,500,327,499,327,499,328,498,328,498,329,498,328,499,327,499,326,500,326,500,325,500,324,501,323,501,322,502,322,502,321,502,320,503,320,503,319,503,318,502,318,502,317,501,317,501,316,500,316,499,316,498,316,497,316,496,316,495,316,494,316,493,316,492,316,492,317,491,317,490,317,489,317,489,318,488,318,487,318,486,318,485,318,484,318,483,318,483,317,483,316,483,315,483,314,483,313,484,313,484,312,485,312,485,311,486,311,487,311,487,310,487,309,487,308,487,307,487,306,487,305,487,304,486,304,486,303,486,302,485,302,485,301,484,301,484,300,483,300,483,299,482,299,481,298,481,297,480,297,480,296,480,295,480,294,480,293,480,292,480,291,480,290,481,290,481,289,481,288,481,287,482,286,483,286,483,285,483,284,484,284,484,283,484,282,485,282,485,281,485,280,485,279,485,278,486,278,486,277,486,276,486,275,486,274,486,273,485,273,484,273,483,273,482,273,481,273,480,273,479,273,478,273,477,273,476,273,476,272,475,272,474,272,473,272,472,272,472,271,471,271,471,270,471,269,471,268,471,267,470,267,470,266,470,265,470,264,470,263,470,262,471,262,472,262,472,261,473,261,474,261,475,261,476,261,477,261,478,261,479,261,480,261,481,261,482,261,483,261,484,261,485,261,486,261,487,261,487,260,488,260,489,260,490,260,491,260,491,259,491,258,492,258,493,257,493,256,494,256,495,256,495,255,495,254,496,254,496,253,496,252,497,252,497,251,497,250,498,250,498,249,499,249,499,248,499,247,499,246,499,245,498,245,497,245,496,245,495,245,494,245,493,245,492,245,491,245,490,245,489,245,489,246,488,246,488,247,488,248,487,248,487,249,486,249,486,248,486,247,486,246,486,245,486,244,485,244,485,243,485,242,485,241,485,240,484,240,484,239,484,238,484,237,483,236,483,235,482,235,482,234,482,233,482,232,482,231,482,230,482,229,481,229,480,229,480,228,479,228,478,228,477,228,476,228,475,228,474,228,473,228,472,228,471,228,470,228,469,228,469,229,469,230,469,231,468,231,468,232,468,233,468,234,468,235,467,235,467,236,466,236,465,236,465,237,464,237,463,237,463,238,462,238,461,238,461,239,461,240,461,241,461,242,461,243,461,244,461,245,461,246,461,247,461,248,461,249,461,250,461,251,461,252,460,252,459,252,458,252,457,252,456,253,455,253,455,254,454,254,453,254,452,255,451,255,451,256,450,256,450,257,449,257,449,258,449,259,448,259,448,260,448,261,448,262,448,263,448,264,448,265,448,266,448,267,448,268,449,268,449,269,450,269,450,270,450,271,451,271,451,272,451,273,451,274,451,275,451,276,451,277,450,277,449,277,448,277,448,278,447,278,446,278,445,278,444,278,443,278,442,278,441,278,440,278,439,278,438,278,437,278,436,278,436,279,435,280,435,281,434,281,433,281,432,281,431,281,430,281,429,281,428,281,427,281,426,281,425,281,425,280,425,279,424,278,424,277,424,276,424,275,424,274,424,273,424,272,424,271,424,270,423,270,423,269,422,269,422,268,421,268,421,267,420,267,420,266,419,266,419,265,418,265,418,264,417,264,416,264,416,263,415,263,415,262,415,261,414,261,414,260,414,259,414,258,414,257,414,256,414,255,414,254,414,253,414,252,414,251,413,251,413,250,413,249,412,249,412,248,411,248,411,247,410,247,410,246,410,245,410,244,410,243,410,242,409,242,408,242,408,241,406,240,405,240,404,240,404,239,403,239,402,239,401,239,400,239,399,239,398,239,397,239,396,239,396,238,396,237,396,236,396,235,397,235,397,234,398,234,398,233,398,232,399,232,399,231,399,230,399,229,399,228,399,227,399,226,398,226,397,226,397,225,396,225,395,225,394,225,393,225,393,224,392,224,391,224,390,224,389,224,388,224,387,224,386,224,385,224,384,224,383,224,382,224,382,225,381,225,380,225,380,226,379,226,379,227,379,228,378,228,378,229,378,228,378,227,378,226,378,225,378,224,378,223,378,222,377,221,377,220,376,220,376,219,376,218,375,218,375,217,375,216,375,215,375,214,375,213,375,212,374,212,373,212,372,212,371,212,370,212,370,213,369,213,369,214,369,215,369,216,369,217" href="/供应商陈列/SupplierInArea?area=云南省&page=1" alt="云南" target="_blank" />
        <area shape="poly" onclick="getGys('重庆市')" onmousemove="showMsg('tibet', event)" onmouseover="getMsg('重庆市')" onmouseout="showMsg('', event)" coords="572,241,572,240,572,239,572,238,572,237,572,236,572,235,573,235,573,234,573,233,573,232,573,231,574,231,574,230,574,229,574,228,574,227,574,226,574,225,574,224,574,223,574,222,574,221,574,220,573,220,573,219,573,218,572,218,572,217,572,216,571,216,571,215,571,214,571,213,570,213,570,212,570,211,570,210,570,209,570,208,570,207,570,206,570,205,570,204,570,203,570,202,570,201,570,200,570,199,570,198,570,197,570,196,569,196,569,195,568,195,567,195,567,194,566,194,566,193,565,193,565,192,564,192,564,191,564,190,564,189,565,188,566,188,567,187,568,187,569,186,569,185,570,185,571,185,572,185,573,185,573,184,574,184,575,184,576,184,576,183,577,183,578,183,578,182,579,182,580,182,580,181,581,181,582,180,583,180,584,180,585,180,585,179,586,179,587,179,588,178,588,177,589,177,589,176,590,176,590,175,590,174,590,173,590,172,590,171,591,171,591,170,591,169,591,168,591,167,590,167,589,167,589,166,589,165,589,164,589,163,589,162,589,161,589,160,589,159,589,158,589,157,589,156,590,156,590,155,590,154,590,153,590,152,590,151,589,151,588,151,587,151,586,151,585,151,584,151,583,151,582,151,582,152,581,152,580,152,580,153,579,153,578,153,577,153,576,153,575,153,575,152,574,152,574,151,573,151,573,150,573,149,573,148,572,148,572,147,571,147,570,147,569,147,568,146,567,146,566,146,565,146,564,146,563,146,562,146,561,146,560,146,559,146,559,147,558,147,558,148,558,149,557,149,557,150,557,151,557,152,557,153,557,154,556,155,556,156,556,157,556,158,555,158,555,159,554,159,554,160,554,161,553,161,553,162,552,162,552,163,552,164,552,165,551,165,551,166,550,166,550,167,550,168,550,169,550,170,550,171,550,172,550,173,551,173,551,174,550,174,549,174,548,174,547,174,546,174,546,175,545,175,544,175,543,175,542,175,542,176,541,176,541,177,540,177,540,178,539,178,539,179,538,179,538,180,537,181,537,182,537,183,537,184,536,184,536,185,536,186,535,187,534,187,534,188,533,188,532,188,532,189,531,189,531,190,530,190,529,190,528,191,527,191,526,191,525,191,524,191,523,191,522,191,521,191,521,190,521,189,520,189,519,189,519,188,518,188,518,187,517,187,516,187,516,186,515,186,514,186,513,186,512,186,511,186,510,186,509,186,508,186,507,186,506,186,505,187,504,187,504,188,503,188,503,189,503,190,502,190,502,191,502,192,501,192,501,193,500,193,500,194,500,195,500,196,501,196,501,197,502,197,502,198,501,198,500,198,499,198,499,199,499,200,498,200,498,201,498,202,498,203,498,204,498,205,498,206,498,207,498,208,498,209,498,210,499,210,499,211,500,211,500,212,501,212,501,213,502,213,502,214,503,214,503,215,504,216,504,217,505,217,506,217,506,218,506,219,507,220,507,221,508,221,508,222,508,223,509,223,509,224,510,224,510,225,510,226,510,227,510,228,510,229,510,230,511,230,512,230,513,230,514,230,515,230,516,230,517,230,518,230,519,230,520,230,521,230,522,230,523,230,524,230,525,230,526,230,527,230,528,229,528,228,529,228,530,228,530,227,530,226,530,225,531,225,531,224,531,223,532,223,532,222,532,221,533,221,534,221,534,220,535,220,536,220,536,219,537,219,538,219,539,219,540,219,541,219,542,219,543,219,544,219,545,219,546,219,546,220,547,220,548,220,548,221,549,221,549,222,550,222,551,223,552,223,552,224,553,224,553,225,553,226,554,226,554,227,555,227,555,228,556,228,556,229,556,230,557,230,557,231,558,231,558,232,559,232,559,233,559,234,560,234,560,235,561,235,561,236,562,236,562,237,563,237,563,238,564,238,564,239,565,239,565,240,566,240,567,240,567,241,568,241,569,241,569,242,570,242,571,242,572,242,572,241,571,241,571,240,571,239" href="/供应商陈列/SupplierInArea?area=重庆市&page=1" alt="重庆" target="_blank" />
        <area shape="poly" onclick="getGys('贵州省')" onmousemove="showMsg('tibet', event)" onmouseover="getMsg('贵州省')" onmouseout="showMsg('', event)" coords="502,315,503,315,504,315,505,315,506,315,507,315,508,315,509,315,510,315,511,315,511,314,512,314,513,314,514,314,515,314,516,314,517,314,518,314,518,313,519,313,519,312,520,312,521,311,522,311,522,310,522,309,523,309,523,308,523,307,523,306,524,306,524,305,525,305,526,305,526,304,527,304,527,303,528,303,528,302,529,302,530,302,531,302,532,302,533,302,534,302,535,302,535,303,535,304,536,304,536,305,537,305,538,305,539,305,540,305,541,305,542,305,543,305,544,305,545,305,546,305,546,304,547,303,548,302,548,301,549,301,549,300,549,299,550,299,551,299,552,299,553,299,554,299,555,299,556,299,557,299,558,299,559,299,560,299,561,298,562,298,563,298,563,297,564,297,565,297,565,296,566,296,566,295,567,295,568,295,569,295,569,294,570,294,570,293,571,293,571,292,572,292,572,291,573,290,573,289,574,289,574,288,574,287,575,287,575,286,576,286,576,285,577,285,577,284,577,283,576,282,575,282,574,282,573,282,572,282,571,282,571,281,571,280,571,279,571,278,571,277,571,276,571,275,572,275,572,274,573,274,573,273,573,272,574,272,575,271,575,270,576,270,576,269,577,269,577,268,577,267,577,266,576,266,575,266,574,266,573,266,573,265,572,265,571,265,571,264,571,263,571,262,571,261,571,260,572,260,573,259,573,258,574,258,574,257,575,257,576,257,576,256,576,255,576,254,576,253,576,252,575,252,575,251,574,251,573,251,573,250,572,250,572,249,572,248,572,247,572,246,572,245,572,244,571,244,570,244,569,244,568,244,567,244,566,244,565,243,565,242,565,241,564,241,564,240,564,239,564,238,564,237,564,236,563,236,563,235,562,235,562,234,561,234,561,233,560,233,559,233,559,232,558,232,557,232,557,231,556,231,556,230,556,229,556,228,556,227,555,227,554,227,553,227,552,227,551,227,550,227,549,227,549,226,548,226,548,225,547,225,546,224,545,224,545,223,544,223,543,223,542,223,541,223,540,223,539,223,538,223,537,223,536,223,535,223,534,223,533,223,532,223,532,224,531,225,531,226,530,226,530,227,529,227,529,228,528,229,528,230,527,230,526,230,525,230,525,231,524,231,523,231,522,231,521,231,520,231,519,231,518,231,517,231,516,231,515,231,515,232,514,232,513,232,512,232,512,233,511,234,510,234,510,235,509,235,509,236,508,236,508,237,508,238,508,239,508,240,508,241,509,241,509,242,510,242,511,242,511,243,512,243,513,243,514,243,514,244,514,245,515,245,515,246,515,247,515,248,515,249,515,250,515,251,515,252,514,252,513,252,512,252,511,252,510,252,509,252,508,252,507,252,506,252,505,252,504,252,503,252,502,252,501,252,500,252,499,252,499,253,499,254,499,255,499,256,498,256,498,257,497,257,496,257,496,258,496,259,495,259,494,259,494,260,493,260,492,260,492,261,491,261,490,261,489,261,488,261,487,261,486,261,485,261,484,261,483,261,482,261,481,261,480,261,479,261,478,261,477,261,476,261,475,261,474,261,473,261,472,261,471,261,470,261,469,261,468,261,468,262,468,263,468,264,468,265,468,266,468,267,468,268,468,269,468,270,468,271,469,271,470,271,470,272,471,272,472,272,473,272,474,272,475,272,476,272,477,272,478,272,479,272,479,273,480,273,481,273,482,273,482,274,483,274,483,275,483,276,484,276,484,277,484,278,485,278,485,279,485,280,485,281,485,282,485,283,485,284,485,285,485,286,485,287,485,288,484,288,484,289,483,289,483,290,482,290,482,291,482,292,482,293,482,294,482,295,482,296,482,297,482,298,482,299,482,300,482,301,482,302,482,303,482,304,483,304,484,304,484,305,485,305,486,305,486,306,487,306,487,307,487,308,487,309,487,310,487,311,487,312,487,313,486,313,485,313,484,313,484,314,484,315,484,316,484,317,484,318,484,319,484,320,485,320,486,320,487,320,488,320,489,320,490,320,491,320,492,320,492,319,493,319,494,319,494,318,495,318,496,318,496,317,497,317,498,316,499,316,500,316,500,315,501,315,502,315,503,315,503,314" href="/供应商陈列/SupplierInArea?area=贵州省&page=1" alt="贵州" target="_blank" />
    </map>
    <div id="areamsg">

    </div>
    <div id="pdf4" class="out_box">
        <div class="out_box_infirst">
        </div>
        <div class="out_box_insecond">
            <div class="out_box_insecond_child">
                <div style="width:100%; height:auto;"><a class="close_outbox" title="关闭窗口" onclick="hidebox('#pdf4')">×</a></div>
                <div style="width:880px; height:470px;text-align:center; overflow-y:scroll; overflow-x:hidden;">
                    <div>
                        <img usemap="#planetmap" src="~/Images/southwest.jpg" alt="usemap" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="gys_xttz_box">
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">供应商查询</div>
        </div>
    </div>
    <table width="100%" style="margin-top:20px;" class="gyslisttable">
        @if (WebApiApplication.IsIntranet)
        {
            <tr>
                <td rowspan="4"><i style="display:inline-block;width:100px;height:115px;background:url('../Images/searchico.png') no-repeat top center"></i></td>
            </tr>
        }
        <tr style="line-height:30px;">
            <td width="10%" align="right">所属地区：</td>
            <td width="90%">
                <select id="deliverprovince" name="deliverprovince"></select>
                <select id="delivercity" name="delivercity"></select>
                <select id="deliverarea" name="deliverarea"></select>
                <script>
                    window.onload = function () { new PCAS("deliverprovince", "delivercity", "deliverarea"); }
                </script>
            </td>
        </tr>
        <tr style="line-height:30px;">
            <td align="right">所属行业：</td>
            <td class="">
                @{
                    IEnumerable<商品分类>
                        goodclass = ViewData["行业列表"] as IEnumerable<商品分类>
                            ;
                    if (goodclass != null && goodclass.Any())
                    {
                        <select id="yjfn" class="yjfn" style="width:154px;">
                            <option>请选择行业</option>
                            @foreach (var i in goodclass)
                            {
                                <option class="yjfn" id="@i.Id">@i.分类名</option>
                            }
                        </select>
                    }
                }
            </td>
        </tr>
        <tr style="line-height:30px;">
            <td align="right">企业名称：</td>
            <td>
                <input id="search_text" type="text" class="gys_ztbsearch_search_text" />
                <input id="ss_btn" type="button" class="gys_ztbsearch_search_botton" value="查询" />
                @if (WebApiApplication.IsIntranet)
                {
                    <input type="button" onclick="$('#pdf4').show()" class="gys_ztbsearch_search_botton" style="width:150px;" value="查看各地区供应商数量" />
                }
            </td>
        </tr>
    </table>
    <div class="gys_ztbsearch_contentbox" id="userlist">
        @{var gsylist = ViewData["供应商列表"] as IEnumerable<用户基本数据>;
        if (gsylist != null && gsylist.Any())
        {
            foreach (var k in gsylist)
            {

                if (k != null)
                {
                    供应商 gys = k as 供应商;

                    var 服务记录 = 供应商服务记录管理.查询供应商服务记录(0, 0, Query<供应商服务记录>.Where(o => o.所属供应商.用户ID == k.Id));
                    var flageleft = 服务记录.Any() && 服务记录.First().已开通的服务.Any() && 服务记录.First().已开通的服务.Where(o => (o.所申请项目名.Contains("基础会员") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("标准会员") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("商务会员") && o.结束时间 > DateTime.Now)).Any();
                    if (flageleft)
                    {
                        <div class="pay_gys_info">
                            <div class="lefts">
                                <a class="gys_title" href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">@Html.Raw(gys.企业基本信息.企业名称)</a>
                                @if (gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通商务会员 || gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通基础会员 || gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通标准会员)
                                {
                                    <span style=" display:inline-block; width:40px; height:20px;background-image:url(/Images/jctico.png);"></span>
                                    <span title="军采通会员" style=" display:inline-block; width:23px; height:23px;background:url(/Images/jcthy.png);"></span>
                                }
                                else if (gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通基础会员)
                                {
                                    <span style=" display:inline-block; width:40px; height:20px;background-image:url(/Images/jctico.png);"></span>
                                }
                                else if (gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通商务会员)
                                {
                                    <span style=" display:inline-block; width:40px; height:20px;background-image:url(/Images/jctico.png);"></span>
                                }
                                <div class="icon_bar">
                                    @*@if (d >= 4)
                                        {*@ <a class="rzgys_y" href="#" title="@gys.供应商用户信息.认证级别"></a>@*}*@

                                        @if (gys.供应商用户信息.年检列表.ContainsKey(DateTime.Now.Year.ToString()))
                                        {
                                            <a class="njgys_y" href="#" title="已年检"></a>
                                        }

                                        @if (gys.供应商用户信息.应急供应商)
                                        { <a class="yjgys_y" href="#" title="应急供应商"></a>}

                                        @if (gys.供应商用户信息.协议供应商)
                                        { <a class="xygys_y" href="#" title="协议供应商"></a>}

                                        @if ((int)gys.供应商用户信息.入库级别 >= 2)
                                        { <a class="rkgys_y" href="#" title="@gys.供应商用户信息.入库级别"></a>}
                                    </div>
                                    <table width="auto">

                                        <tr>
                                            <td class="notes swidth">所属行业:</td>
                                            <td class="notes_con mwidth" title="@gys.企业基本信息.所属行业">
                                                @if (gys.企业基本信息 != null && !string.IsNullOrEmpty(gys.企业基本信息.所属行业))
                                                {
                                                    <span class="gyslist_zhuying">@gys.企业基本信息.所属行业</span>
                                                }
                                                else
                                                {
                                                    <span>未填写</span>
                                                }
                                            </td>
                                            <td class="notes lwidth">经营类型:</td>
                                            <td class="notes_con" title="@gys.企业基本信息.经营类型 / @gys.企业基本信息.经营子类型">@gys.企业基本信息.经营类型 / @gys.企业基本信息.经营子类型</td>
                                        </tr>
                                        <tr>
                                            <td class="notes swidth">主营产品:</td>
                                            @{
                                                var m = "";
                                                foreach (var h in gys.可提供产品类别列表)
                                                {
                                                    foreach (var h_s in h.二级分类)
                                                    {
                                                        m += h_s + ";";
                                                    }
                                                }
                                            }
                                            <td class="notes_con mwidth" title="@m">
                                                <span class="gyslist_zhuying">@m</span>
                                            </td>
                                            <td class="notes">历史参标记录:</td>
                                            <td class="notes_con">@gys.历史参标记录.Count() 次</td>



                                        </tr>
                                        <tr>
                                            <td class="notes swidth">所在地域:</td>
                                            <td class="notes_con mwidth">
                                                @if (gys.所属地域.地域.Length > 14)
                                                {
                                                    <span>@gys.所属地域.地域.Substring(0, 14) ...</span>
                                                }
                                                else
                                                {
                                                    <span>@gys.所属地域.地域</span>
                                                }
                                            </td>
                                            <td class="notes lwidth">发布商品:</td>
                                            <td class="notes_con">@商品管理.查询供应商商品(gys.Id, 0, 0, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false).Count() 个</td>
                                               

                                            @*<td class="notes lwidth">信用评级:</td>

    @if (服务记录.First().已开通的服务.Where(o => (o.所申请项目名.Contains("商务会员") && o.结束时间 > DateTime.Now)).Any())
    {
        <td class="notes_con">商务会员</td>
    }
    else if (服务记录.First().已开通的服务.Where(o => (o.所申请项目名.Contains("标准会员") && o.结束时间 > DateTime.Now)).Any())
    {
        <td class="notes_con">标准会员</td>
    }
    else
    {
        <td class="notes_con">基础会员</td>
    }*@
                                       
                                    </tr>
                                    <tr>
                                        <td class="notes swidth">员工人数:</td>
                                        <td class="notes_con mwidth">@gys.企业基本信息.员工人数</td>
                                        <td class="notes lwidth">联系方式:</td>
                                        <td class="notes_con">@gys.企业联系人信息.联系人固定电话</td>
                                    </tr>
                                    <tr>
                                        <td class="notes" valign="top" colspan="2" style="text-align:left">
                                            @if (gys.资质证书列表.Any() && gys.资质证书列表[0].资质证书电子扫描件.Any() && !string.IsNullOrEmpty(gys.资质证书列表[0].资质证书电子扫描件[0].路径))
                                            {
                                                <a href="@gys.资质证书列表[0].资质证书电子扫描件[0].路径" target="_blank">资质证书></a>
                                            }
                                            else
                                            {
                                                <a>资质证书></a>
                                            }
                                            @if (gys.供应商用户信息.供应商图片.Any())
                                            {
                                                <a href="@gys.供应商用户信息.供应商图片.Last()" target="_blank">厂房设备图></a>
                                            }
                                            else
                                            {
                                                <a>厂房设备图></a>
                                            }
                                            @if (gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通商务会员)
                                            {
                                                <a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">更多企业信息></a>
                                            }
                                            else
                                            {
                                                <a href="/登录/Login?ReturnUrl=@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">更多企业信息></a>
                                            }
                                        </td>
                                        <td class="notes" valign="top"></td>
                                        <td class="notes_con"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="rights">
                                @{
                                            //判断是否是会员或订购B1-1，B1-2
                                            var flageright = 服务记录.Any() && 服务记录.First().已开通的服务.Any() && 服务记录.First().已开通的服务.Where(o => (o.所申请项目名.Contains("标准会员") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("商务会员") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("企业推广服务B1-1位置") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("企业推广服务B1-2位置") && o.结束时间 > DateTime.Now)).Any();
                                }
                                @if (flageright)
                                {
                                    //计算展示商品个数
                                    var 已开通的服务 = 服务记录.First().已开通的服务;
                                    var 广告商品B1_1 = 已开通的服务.Where(o => o.所申请项目名.Contains("企业推广服务B1-1位置") && o.结束时间 > DateTime.Now);
                                    var 广告商品B1_2 = 已开通的服务.Where(o => o.所申请项目名.Contains("企业推广服务B1-2位置") && o.结束时间 > DateTime.Now);
                                    var 商务会员 = 已开通的服务.Where(o => o.所申请项目名.Contains("商务会员") && o.结束时间 > DateTime.Now);
                                    var 标准会员 = 已开通的服务.Where(o => o.所申请项目名.Contains("标准会员") && o.结束时间 > DateTime.Now);
                                    var 广告商品数 = (广告商品B1_2.Any() || 商务会员.Any()) ? 6 : (广告商品B1_1.Any() || 标准会员.Any()) ? 3 : 0;
                                    if (广告商品数 <= 3)
                                    {
                                        <div class="rights_more"><a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                        var showpropic = new List<商品链接>();

                                        if (gys.供应商用户信息.广告商品.ContainsKey("标准会员") || gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-1位置"))
                                        {
                                            if (广告商品数 == 3)
                                            {
                                                if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-1位置"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["企业推广服务B1-1位置"].Select(o => o.商品).ToList();
                                                }
                                                else if (gys.供应商用户信息.广告商品.ContainsKey("标准会员"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["标准会员"].Select(o => o.商品).ToList();
                                                }
                                            }
                                        }
                                        if (showpropic.Any())
                                        {
                                            foreach (var g in showpropic)
                                            {
                                                if (g.商品 != null)
                                                {
                                                    if (广告商品数 == 3)
                                                    {
                                                        <div class="gd">
                                                            <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count>0? g.商品.商品信息.商品图片[0].Replace("original","150X150"):"") " /></a>
                                                            <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                            <p class="price">￥@g.商品.销售信息.价格</p>
                                                            @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                        //未选择商品，则从供应商商品库选X个
                                        if (广告商品数 > 0 && showpropic.Count < 广告商品数)
                                        {
                                            var sp = 商品管理.查询供应商商品(gys.Id, 0, 广告商品数 - showpropic.Count, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false);
                                            foreach (var g in sp)
                                            {
                                                if (g != null)
                                                {
                                                    <div class="gd">
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'><img src="@(g.商品信息.商品图片.Count>0? g.商品信息.商品图片[0].Replace("original","150X150"):"") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'>@g.商品信息.商品名</a>
                                                        <p class="price">￥@g.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="rights_more"><a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                        <div class="wrap" id="wrap">
                                            <div class="ul">
                                                @{
                                        var showpropic = new List<商品链接>();

                                        if (gys.供应商用户信息.广告商品.ContainsKey("商务会员") || gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-2位置"))
                                        {
                                            if (广告商品数 == 6)
                                            {
                                                if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-2位置"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["企业推广服务B1-2位置"].Select(o => o.商品).ToList();
                                                }
                                                else if (gys.供应商用户信息.广告商品.ContainsKey("商务会员"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["商务会员"].Select(o => o.商品).ToList();
                                                }
                                            }
                                        }
                                        if (showpropic.Any())
                                        {
                                            foreach (var g in showpropic)
                                            {
                                                if (g.商品 != null)
                                                {
                                                    <div class="gd li">
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-2","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count > 0 ? g.商品.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                        <p class="price">￥@g.商品.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                        //未选择商品，则从供应商商品库选X个
                                        if (广告商品数 > 0 && showpropic.Count < 广告商品数)
                                        {
                                            var sp = 商品管理.查询供应商商品(gys.Id, 0, 广告商品数 - showpropic.Count, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false);
                                            foreach (var g in sp)
                                            {
                                                if (g != null)
                                                {
                                                    <div class="gd li">
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" onclick='clickStatistics("B1-2","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'><img src="@(g.商品信息.商品图片.Count > 0 ? g.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-2","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'>@g.商品信息.商品名</a>
                                                        <p class="price">￥@g.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pay_gys_info">
                            <div class="lefts" style="width:100%;">
                                <a class="gys_title" href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">@Html.Raw(gys.企业基本信息.企业名称)</a>
                                <div class="icon_bar">
                                    @if ((int)gys.供应商用户信息.认证级别 >= 4)
                                    { <a class="rzgys_y" href="#" title="@gys.供应商用户信息.认证级别"></a>}

                                    @if (gys.供应商用户信息.年检列表.ContainsKey(DateTime.Now.Year.ToString()))
                                    { <a class="njgys_y" href="#" title="已年检"></a>}

                                    @if (gys.供应商用户信息.应急供应商)
                                    { <a class="yjgys_y" href="#" title="应急供应商"></a>}

                                    @if (gys.供应商用户信息.协议供应商)
                                    { <a class="xygys_y" href="#" title="协议供应商"></a>}

                                    @if ((int)gys.供应商用户信息.入库级别 >= 2)
                                    { <a class="rkgys_y" href="#" title="@gys.供应商用户信息.入库级别"></a>}
                                </div>
                                <table width="100%" cellspacing="5">
                                    <tr>
                                        <td class="notes">所属行业:</td>
                                        <td class="notes_con" title="@gys.企业基本信息.所属行业">
                                            @if (gys.企业基本信息 != null && !string.IsNullOrEmpty(gys.企业基本信息.所属行业))
                                            {
                                                <span class="gyslist_zhuying">@gys.企业基本信息.所属行业</span>
                                            }
                                            else
                                            {
                                                <span>未填写</span>
                                            }
                                        </td>
                                        <td class="notes">所在地域:</td>
                                        <td class="notes_con">
                                            @if (gys.所属地域.地域.Length > 14)
                                            {
                                                <span>@gys.所属地域.地域.Substring(0, 14) ...</span>
                                            }
                                            else
                                            {
                                                <span>@gys.所属地域.地域</span>
                                            }
                                        </td>
                                        <td class="notes lwidth">经营类型:</td>
                                        <td class="notes_con" title="@gys.企业基本信息.经营类型 / @gys.企业基本信息.经营子类型">@gys.企业基本信息.经营类型 / @gys.企业基本信息.经营子类型</td>
                                        <td class="notes swidth">主营产品:</td>
                                        @{
                                            var m = "";
                                            foreach (var h in gys.可提供产品类别列表)
                                            {
                                                foreach (var h_s in h.二级分类)
                                                {
                                                    m += h_s + ";";
                                                }
                                            }
                                        }
                                        <td class="notes_con mwidth" title="@m">
                                            <span class="gyslist_zhuying">@m</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="notes" colspan="2">
                                            @if (gys.资质证书列表.Any() && gys.资质证书列表[0].资质证书电子扫描件.Any() && !string.IsNullOrEmpty(gys.资质证书列表[0].资质证书电子扫描件[0].路径))
                                            {
                                                <a href="@gys.资质证书列表[0].资质证书电子扫描件[0].路径" target="_blank">资质证书></a>
                                            }
                                            else
                                            {
                                                <a>资质证书></a>
                                            }
                                            @if (gys.供应商用户信息.供应商图片.Any())
                                            {
                                                <a href="@gys.供应商用户信息.供应商图片.Last()" target="_blank">厂房设备图></a>
                                            }
                                            else
                                            {
                                                <a>厂房设备图></a>
                                            }
                                            @if (gys.供应商用户信息.认证级别 == 供应商.认证级别.军采通商务会员)
                                            {
                                                <a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">更多企业信息></a>
                                            }
                                            else
                                            {
                                                <a href="/登录/Login?ReturnUrl=@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">更多企业信息></a>
                                            }
                                            @*<a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">更多企业信息></a>*@
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="rights">
                                @{
                                            //判断是否是会员或订购B1-1，B1-2
                                            var flageright = 服务记录.Any() && 服务记录.First().已开通的服务.Any() && 服务记录.First().已开通的服务.Where(o => (o.所申请项目名.Contains("企业推广服务B1-1位置") && o.结束时间 > DateTime.Now) || (o.所申请项目名.Contains("企业推广服务B1-2位置") && o.结束时间 > DateTime.Now)).Any();
                                }
                                @if (flageright)
                                {
                                    //计算展示商品个数
                                    var 已开通的服务 = 服务记录.First().已开通的服务;
                                    var 广告商品B1_1 = 已开通的服务.Where(o => o.所申请项目名.Contains("企业推广服务B1-1位置") && o.结束时间 > DateTime.Now);
                                    var 广告商品B1_2 = 已开通的服务.Where(o => o.所申请项目名.Contains("企业推广服务B1-2位置") && o.结束时间 > DateTime.Now);
                                    var 广告商品数 = 广告商品B1_2.Any() ? 6 : 广告商品B1_1.Any() ? 3 : 0;
                                    if (广告商品数 <= 3)
                                    {
                                        <div class="rights_more"><a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                        var showpropic = new List<商品链接>();

                                        if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-1位置") || gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-2位置"))
                                        {
                                            if (广告商品数 == 3)
                                            {
                                                if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-1位置"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["企业推广服务B1-1位置"].Select(o => o.商品).ToList();
                                                }
                                            }
                                        }
                                        if (showpropic.Any())
                                        {
                                            foreach (var g in showpropic)
                                            {
                                                if (g.商品 != null)
                                                {
                                                    <div class="gd">
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count > 0 ? g.商品.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                        <p class="price">￥@g.商品.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                        //未选择商品，则从供应商商品库选X个
                                        if (广告商品数 > 0 && showpropic.Count < 广告商品数)
                                        {
                                            var sp = 商品管理.查询供应商商品(gys.Id, 0, 广告商品数 - showpropic.Count, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false);
                                            foreach (var g in sp)
                                            {
                                                if (g != null)
                                                {
                                                    <div class="gd">
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'><img src="@(g.商品信息.商品图片.Count > 0 ? g.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'>@g.商品信息.商品名</a>
                                                        <p class="price">￥@g.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="rights_more"><a href="@Url.Encode("/Supplier_Destination")?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                        <div class="wrap" id="wrap">
                                            <div class="ul">
                                                @{
                                        var showpropic = new List<商品链接>();

                                        if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-1位置") || gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-2位置"))
                                        {
                                            if (广告商品数 == 6)
                                            {
                                                if (gys.供应商用户信息.广告商品.ContainsKey("企业推广服务B1-2位置"))
                                                {
                                                    showpropic = gys.供应商用户信息.广告商品["企业推广服务B1-2位置"].Select(o => o.商品).ToList();
                                                }
                                            }
                                        }
                                        if (showpropic.Any())
                                        {
                                            foreach (var g in showpropic)
                                            {
                                                if (g.商品 != null)
                                                {
                                                    <div class="gd li">
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-2","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count > 0 ? g.商品.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-2","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                        <p class="price">￥@g.商品.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                        //未选择商品，则从供应商商品库选X个
                                        if (广告商品数 > 0 && showpropic.Count < 广告商品数)
                                        {
                                            var sp = 商品管理.查询供应商商品(gys.Id, 0, 广告商品数 - showpropic.Count, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false);
                                            foreach (var g in sp)
                                            {
                                                if (g != null)
                                                {
                                                    <div class="gd li">
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" onclick='clickStatistics("B1-2","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'><img src="@(g.商品信息.商品图片.Count > 0 ? g.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                        <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-2","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'>@g.商品信息.商品名</a>
                                                        <p class="price">￥@g.销售信息.价格</p>
                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                    </div>
                                                }
                                            }
                                        }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
        }
        else
        {
            <div style="width: 710px; height: 270px; color: lightgray; font-size: 40px; text-align: center; line-height: 220px; font-style: italic;">暂无相关数据</div>
        }
        }
        @if (ViewData["currentpage"] != null && ViewData["pagecount"].ToString() != "1")
        {
            <div class="gys_znxx_content_detailbox">
                @if (int.Parse(ViewData["currentPage"].ToString()) != 1)
                {
                    <a onclick="changeMesspage(this) " id="1" class="page">首页</a><a onclick="changeMesspage(this)" style="border-left:none;" id="@(int.Parse(ViewData["currentpage"].ToString())-1)">上一页</a>
                }
                @for (int i = 0; i <= 10; i++)
                {
                    //一共最多显示10个页码，前面5个，后面5个
                    if ((int.Parse(ViewData["currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                    {
                        if (5 == i)
                        {
                            //当前页处理
                            <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentPage"].ToString())</a>
                        }
                        else
                        {
                            //一般页处理
                            <a onclick="changeMesspage(this)" class="page" id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)">@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)</a>

                        }
                    }
                }
                @if (int.Parse(ViewData["currentPage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
                {
                    <a onclick="changeMesspage(this)" style="border-right:none;" id="@(int.Parse(ViewData["currentpage"].ToString())+1)">下一页</a><a onclick=" changeMesspage(this) " id="@int.Parse(ViewData["pagecount"].ToString())" class="page">末页</a>
                }
                <span style="font-size:12px;">第@(ViewData["currentPage"])页/共@(ViewData["pagecount"])页</span>
            </div>
        }
    </div>

</div>
<script type="text/javascript">
    function changeMesspage(a) {
        $(a).css({ "background-color": "#0061B9", "color": "white" });
        $.get("/供应商陈列/Part_SearchByPage?page=" + encodeURI(a.getAttribute("id")), function (response) {
            $("#userlist").html(response);
        });
    }
    function changeMesspage_s(a) {
        var str = "";
        var provence = $("#pro").val();
        var city = $("#city").val();
        var area = $("#area").val();
        var industry = $("#indu").val();
        var comname = $("#com").val();

        str += "&provence=" + encodeURI(provence);
        str += "&city=" + encodeURI(city);
        str += "&area=" + encodeURI(area);
        str += "&industry=" + encodeURI(industry);
        str += "&comname=" + encodeURI(comname);
        $.ajax({
            url: '/供应商陈列/Part_GysSelect_pagechange?page=' + $(a).attr("id") + str,
            success: function (data) {
                $("#gys_manage").html(data);
            },
        });
    }
    $(function () {
        $('.wrap').marquee({
            auto: true,
            interval: 3000,
            speed: 500,
            showNum: 3,
            stepLen: 3
        });

        var str = "";

        //$("#delivercity").change(function () {
        //    str += "area="+$("#delivercity option:selected").text();
        //});
        //$(".yjfn").change(function () {
        //    str += "&industry="+$(".yjfn option:selected").text();
        //});

        $("#ss_btn").click(function () {
            str = "";
            var city = $("#delivercity").find("option:selected").text();
            var industry = $("#yjfn").find("option:selected").text();
            var provence = $("#deliverprovince").find("option:selected").text();
            var area = $("#deliverarea").find("option:selected").text();

            str += "provence=" + encodeURI(provence);
            str += "&city=" + encodeURI(city);
            str += "&area=" + encodeURI(area);
            str += "&industry=" + encodeURI(industry);
            str += "&comname=" + encodeURI($("#search_text").val());
            $.ajax({
                url: '/供应商陈列/Part_GysSelect',
                data: str,
                dataType: 'text',
                success: function (data) {
                    if (data == null || data == "") {
                        $("#userlist").empty().append('根据条件未找到相关信息');
                    }
                    else if (data == "0") {
                        window.location.href = "/供应商陈列/GysList";
                    }
                    else {
                        $("#userlist").empty().append(data);
                    }
                },
                error: function () {
                    $("#userlist").empty().append('根据条件未找到相关信息');
                },
            });
        });

        //$(".yjfn").change(function () {
        //    var parID = $(".yjfn option:selected").attr("id");
        //    if (parID != null && parID != "undefined" && parID != "") {
        //        $.ajax({
        //            url: '/供应商陈列/查找行业分类',
        //            data: "parID=" + parID,
        //            dataType: 'json',
        //            success: function (data) {
        //                //var d = delHtmlTag(data);
        //                //var f = d.replace("不限", "");
        //                if (data != "" && data != null) {
        //                    $(".ejfn").empty();
        //                    var str = "<option>不限</option>";
        //                    $.each(data.Data, function (index, item) {
        //                        str += "<option id=" + item.Id + ">" + item.Name + "</option>";
        //                    });
        //                    $(".ejfn").append(str);
        //                    var ejID = $(".ejfn").find("option:selected").attr("id");
        //                    if (ejID != null && ejID != "" && ejID != "undefined") {
        //                        getSan();
        //                    }
        //                    else {
        //                        $(".sjfn").empty().append("<option>不限</option>");
        //                    }
        //                }
        //                else {
        //                    $(".ejfn").empty().append("<option>不限</option>");
        //                    $(".sjfn").empty().append("<option>不限</option>");
        //                }

        //            },
        //            error: function () { $(".sjfn").empty().append("<option>不限</option>"); },
        //        });
        //    }
        //    else {
        //        $(".ejfn").empty().append("<option>不限</option>");
        //        $(".sjfn").empty().append("<option>不限</option>");
        //    }
        //});
        //$(".ejfn").change(function () {
        //    getSan();
        //});

        //function getSan() {
        //    var ejID = $(".ejfn").find("option:selected").attr("id");
        //    $.ajax({
        //        url: '/供应商陈列/查找行业分类',
        //        data: "ejID=" + ejID + "&parID=" + $(".yjfn option:selected").attr("id"),
        //        dataType: 'json',
        //        success: function (data) {
        //            $(".sjfn").empty();
        //            var str = "<option>不限</option>";
        //            $.each(data.Data, function (index, item) {
        //                str += "<option id=" + item.Id + ">" + item.Name + "</option>";
        //            });
        //            $(".sjfn").append(str);
        //        },
        //        error: function () { $(".sjfn").empty().append("<option>不限</option>"); },
        //    });
        //}

    });
    $(document).ready(function () {
        $("div.box").mouseover(function () {
            $(this).css({ "background-color": "#E0E0E0", "cursor": "pointer" });
        });
        $("div.box").mouseout(function () {
            $("div.box:odd").css("background-color", "rgb(237, 247, 237)");
            $("div.box:even").css("background-color", "white");
        });
    });
    var gmsg = "";
    function getMsg(str) {
        $.get("/协议采购/Countgys", { area: str }, function (data) {
            if (data != -1) {
                gmsg = str + "共有" + data + "家供应商登记信息，点击查看详情";
            }
            else {
                gmsg = "系统繁忙，请待会在查询";
            }
        });
    }
    function showMsg(str, e) {
        $("#areamsg").html("<img width='30' height='30' src='/Images/ajax-loader.gif'/>");
        if (str != "") {
            $("#areamsg").show();
            $("#areamsg").html(gmsg);
            $("#areamsg").css({ "left": (e.clientX - 200), "top": (e.clientY - 95) });
        }
        else {
            $("#areamsg").hide();
        }
    }
    function hidebox(th) {
        $(th).hide();
    }
    function getGys(str) {
        hidebox("#pdf4");
    }
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(".action_link").each(function () {
            if ($(this).text() == "供应商库") {
                $(this).parent("div").addClass("on");
            }
        });
    });
</script>
