@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
@using NPOI.SS.Formula.Functions
@{
    ViewBag.Title = "供应商";
}
<script src="~/JS/clickStatistics.js" type="text/javascript"></script>
<style>
    .list {
        font-size: 14px;
        margin-top: 10px;
        width: 940px;
        height: 30px;
    }


    .links:hover {
        text-decoration: underline;
    }

    .box div.tab {
        position: relative;
        background-color: #FFF;
        display: none;
    }

    table tr td h4 {
        display: inline-block;
    }

    th {
        font-size: 15px;
    }

    .tb2 table, .tb3 table {
        width: 99%;
        margin-left: 5px;
        margin-top: 15px;
        margin-bottom: 10px;
        background-color: rgb(218, 218, 218);
        border-collapse: separate;
    }

        .tb2 table tr td, .tb3 table tr td, .tb4 table tr td {
            font-size: 13px;
            line-height: 30px;
            background-color: rgb(255, 252, 252);
        }

    table#gsj tr td span {
        font-size: 14px;
        margin-left: 10px;
    }

    .successed_register {
        height: 100px;
        width: 700PX;
        margin: 30PX auto;
    }

        .successed_register img {
            margin-top: 50px;
            margin-left: 100px;
            float: left;
        }

    .links:hover {
        text-decoration: underline;
    }

    .successed_register .success_content {
        float: left;
        margin-top: 0;
        margin-left: 20px;
    }

    #pager {
        text-align: center;
    }

        #pager a {
            display: inline-block;
            width: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            height: 25px;
            border: 1px solid rgb(204, 204, 204);
            margin-top: 10px;
            margin-left: 5px;
            margin-right: auto;
            margin-bottom: 5px;
            cursor: pointer;
        }

            #pager a:hover {
                background-color: rgb(243, 243, 243);
            }
            table.img_box{
                margin:40px;
            }
                table.img_box tr td {
                    width: 202px;
                    height: auto;
                    border: 5px solid #fff;
                }
                table.img_box tr td:hover
                {
                    border:5px solid #309000;
                    box-shadow:2px 2px 2px #808080;
                }

</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.2&services=true"></script>
@{
    供应商 sp = ViewData["supplier"] as 供应商;
    IEnumerable<商品> Goods = ViewData["Goods"] as IEnumerable<商品>;
    List<商品> Hot_Sale = ViewData["Hot_Sale"] as List<商品>;
    int number = 0;
}
<div id="f1" class="modal_out">
    <div class="modal_in"></div>
    <div class="modal_content_loading">
        <img src="~/Images/ajax-loader.gif" style=" margin-left:60px;" />
    </div>
</div>
<table class="gyskudetail">
    <tr>
        <td valign="top">
            <div>
                <div style="width:240px; margin-top:5px; margin-left:-3px; min-height:600px; float:left; background-color:#FFF">
                    <div class="title-base-out">
                        <div class="title-base-middle">
                            <div class="title-base-inner" style="margin-left:5px; margin-top:0px;">@sp.企业基本信息.企业名称</div>
                        </div>
                    </div>
                    <div class="gyspage_detail_leftimgbox">
                        <div style="height:170px; width:170px; margin-left:auto; margin-right:auto; border-style:solid; border-width:1px; border-color:#CCC; margin-top:5px;">
                            @if (sp.供应商用户信息.供应商图片 != null && sp.供应商用户信息.供应商图片.Count() != 0)
                            {
                                for (int i = 0; i < sp.供应商用户信息.供应商图片.Count(); i++)
                                {
                                    if (!System.IO.File.Exists(Server.MapPath(@sp.供应商用户信息.供应商图片[i])))
                                    {
                                        sp.供应商用户信息.供应商图片.RemoveAt(i);
                                    }
                                }
                                if (sp.供应商用户信息.供应商图片.Count > 0)
                                {
                                    <img src="@sp.供应商用户信息.供应商图片.Last()" style="margin-left:auto; margin-right:auto; display:block; margin-top:10px;" width="150" height="150" />
                                }
                            }
                            else
                            {
                                <img src="~/Images/noimage.jpg" style="margin-left:auto; margin-right:auto; display:block; margin-top:10px;" width="150" height="150" />
                            }
                        </div>
                        <div>
                            <table style="margin-top:10px; margin-bottom:10px;margin-left:10px;text-align:right;">
                                <tr>
                                    <td>　联系人：</td>
                                    <td align="left">@sp.企业联系人信息.联系人姓名</td>
                                </tr>
                                <tr>
                                    <td>联系电话：</td>
                                    <td align="left">@sp.企业联系人信息.联系人手机</td>
                                </tr>
                                <tr>
                                    <td>固定电话：</td>
                                    <td style="text-align:left;">@sp.企业联系人信息.联系人固定电话</td>
                                </tr>
                                @if (sp.供应商用户信息.认证级别 == 供应商.认证级别.军采通商务会员 || sp.供应商用户信息.认证级别 == 供应商.认证级别.军采通标准会员)
                                {
                                    <tr>
                                        <td align="right">企业网址：</td>
                                        <td align="left">
                                            @if (ViewData["count"].ToString() != "0")
                                            {
                                                if (!string.IsNullOrWhiteSpace(sp.企业基本信息.网站网址))
                                                {
                                                if (!sp.企业基本信息.网站网址.Contains("http://"))
                                                {
                                                    <span><a style="color:purple; text-decoration:underline; display: block;width:133px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" target="_blank" title="http://@(sp.企业基本信息.网站网址)" href="http://@(sp.企业基本信息.网站网址)">@sp.企业基本信息.网站网址</a></span>
                                                }
                                                else
                                                {
                                                    <span><a style="color:purple; text-decoration:underline; display: block;width:133px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" target="_blank" title="http://@(sp.企业基本信息.网站网址)" href="@sp.企业基本信息.网站网址">@sp.企业基本信息.网站网址</a></span>
                                                }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="title-base-out">
                        <div class="title-base-middle">
                            <div class="title-base-inner" style="margin-left:5px; margin-top:0px;">热销产品</div>
                        </div>
                    </div>
                    <div style="width:240px; height:auto; margin-top:10px;">
                        <div>
                            <table width="100%" cellspacing="0">
                                @if (Hot_Sale != null && Hot_Sale.Count() != 0)
                                {
                                    foreach (var item in Hot_Sale)
                                    {
                                        <tr>
                                            <td style="border-bottom:1px solid rgb(218, 218, 218);">
                                                <a target="_blank" href="/商品陈列/Product_Detail?id=@item.Id" onclick='clickStatistics("B3","1", "@item.Id","@item.商品信息.所属供应商.用户ID")'>
                                                    @if (item.商品信息.商品图片.Count > 0)
                                                    {
                                                        <img src="@item.商品信息.商品图片[0].Replace("original","150X150")" style="height: 55px; width: 50px; display: block;" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/noimage.jpg" style="height: 55px; width: 50px; display: block;" />
                                                    }
                                                </a>
                                            </td>
                                            <td style="border-bottom:1px solid rgb(218, 218, 218);">
                                                <div style="height: auto; width: 90px; max-width: 100px;">
                                                    <table>
                                                        <tr><td style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px; word-break: keep-all;"><a target="_blank" href="/商品陈列/Product_Detail?id=@item.Id" onclick='clickStatistics("B3","1", "@item.Id","@item.商品信息.所属供应商.用户ID")'>@item.商品信息.商品名</a></td></tr>
                                                        <tr><td style="color: red;">
                                                            @if (item.销售信息 != null)
                                                            {
                                                                <span>￥@(string.Format("{0:0.00}", item.销售信息.价格))</span>
                                                            }
                                                            else
                                                            {
                                                                <span>￥0</span>
                                                            }
                                                            </td></tr>
                                                        <tr><td><a class="links" style="display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 150px; word-break: keep-all;" title="@item.商品信息.所属供应商.用户数据.企业基本信息.企业名称" target="_blank" href="/供应商陈列/Supplier_Destination?id=@item.商品信息.所属供应商.用户ID">@item.商品信息.所属供应商.用户数据.企业基本信息.企业名称</a></td></tr>
                                                        <tr><td><div style="white-space: nowrap; width: 150px; color:gray;">浏览量：@item.销售信息.点击量</div></td></tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2"></td></tr>
                                    }
                                }
                                else
                                {
                                    <tr><td>暂时没有热销产品</td></tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td valign="top">
            <div class="gys_info">
                <div style="margin-top:-10px; height:auto;">
                    <div class="list">
                        <a onclick="checks(this,'.tb2')">企业基本信息</a>
                        <a onclick="checks(this,'.tb3')">联系方式</a>
                        <a onclick="checks(this,'.tb6')">企业产品<span style="color:red;">(@ViewData["sum"])</span></a>
                        <a onclick="checks(this,'.tb4')">参标记录</a>
                        @*@if (WebApiApplication.IsIntranet)
                        {
                            <a onclick="checks(this,'.tb5')">资质证明</a>
                        }*@
                    </div>
                    <div class="box">
                        <div class="tab tb2">
                            @*<span style="background-image:url(/images/index_content_bg.jpg); height:30px; line-height:30px; display:inline-block; width:930px; font-size:15px; padding:0px; font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;企业基本信息：</span>*@
                            <table width="100%" cellspacing="1">

                                <tr>
                                    <td valign="top" align="right">企业简介：</td>
                                    <td colspan="5">@sp.企业基本信息.企业简介</td>
                                </tr>
                                <tr>
                                    <td width="12%" align="right">企业名称：</td>
                                    <td width="15%">@sp.企业基本信息.企业名称</td>
                                    <td width="15%" align="right">注册地址：</td>
                                    <td width="15%">@sp.企业基本信息.注册地址</td>
                                    <td width="10%" align="right">成立时间：</td>
                                    <td width="10%">@sp.企业基本信息.成立时间.ToString("yyyy-MM-dd")</td>
                                </tr>
                                <tr>
                                    <td width="13%" align="right">注册资本：</td>
                                    <td width="10%">@((int)sp.营业执照信息.营业执照注册资金)万元</td>
                                    <td align="right">经营类型：</td>
                                    <td>@sp.企业基本信息.经营类型</td>
                                    <td align="right">经营子类型：</td>
                                    <td>@sp.企业基本信息.经营子类型</td>
                                </tr>
                                <tr>
                                    <td align="right">注册号：</td>
                                    <td>@sp.营业执照信息.营业执照注册号</td>
                                    <td align="right">法定代表人：</td>
                                    <td>@sp.法定代表人信息.法定代表人姓名</td>
                                    <td align="right">员工人数：</td>
                                    <td>@sp.企业基本信息.员工人数</td>
                                </tr>
                                <tr>
                                    <td align="right">经济性质：</td>
                                    <td>@sp.企业基本信息.经济性质</td>
                                    <td align="right">企业网址：</td>
                                    <td>
                                        @if (ViewData["count"].ToString() != "0")
                                        {
                                            if (!string.IsNullOrWhiteSpace(sp.企业基本信息.网站网址))
                                            {
                                               if (!sp.企业基本信息.网站网址.Contains("http://"))
                                            {
                                                <span>
                                                    <a style="color:purple; text-decoration:underline; display: block;width:133px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" target="_blank" title="http://@(sp.企业基本信息.网站网址)" href="http://@(sp.企业基本信息.网站网址)">@sp.企业基本信息.网站网址</a>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    <a style="color:purple; text-decoration:underline; display: block;width:133px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" target="_blank" title="http://@(sp.企业基本信息.网站网址)" href="@sp.企业基本信息.网站网址">@sp.企业基本信息.网站网址</a>
                                                </span>
                                            } 
                                            }
                                        }
                                    </td>
                                    <td align="right">信用评级：</td>
                                    <td>
                                        @*@sp.信用评级信息.等级*@
                                        <img src="../../Images/star.png" title="分数系统建设中" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">是否是协议供货商：</td>
                                    @if (sp.供应商用户信息.协议供应商)
                                    {
                                        <td><div style="width:30px; height:30px; background-image:url(/Images/qualifies.png);background-position-x:60px;background-position-y:0px;"></div></td>
                                    }
                                    else
                                    {
                                        <td>否</td>
                                    }
                                    <td align="right">是否是应急供应商：</td>
                                    @if (sp.供应商用户信息.应急供应商)
                                    {
                                        <td><div style="width:30px; height:30px; background-image:url(/Images/qualifies.png);background-position-x:90px;background-position-y:0px;"></div></td>
                                    }
                                    else
                                    {

                                        <td>否</td>
                                    }
                                    <td align="right">是否年检：</td>
                                    <td>
                                        @if (sp.供应商用户信息.年检列表 != null && sp.供应商用户信息.年检列表.Any() && sp.供应商用户信息.年检列表.ContainsKey(DateTime.Now.Year.ToString()))
                                        {
                                            <div style="width:30px; height:30px; background-image:url(/Images/qualifies.png);background-position-x:120px;background-position-y:0px;"></div>
                                        }
                                        else
                                        {
                                            <span>未通过年检</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">企业地址：</td>
                                    <td>
                                        @sp.企业基本信息.注册地址
                                    </td>
                                    <td align="right">邮政编码：</td>
                                    <td colspan="3">@sp.企业基本信息.邮政编码</td>
                                </tr>
                                @if(WebApiApplication.IsIntranet)
                                {
                                    <tr>
                                        <td align="right">营业执照电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.营业执照信息.营业执照电子扫描件)))
                                            {
                                                <a href="@sp.营业执照信息.营业执照电子扫描件" target="_blank">@sp.营业执照信息.营业执照电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传营业执照电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">税务登记证电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.营业执照信息.税务登记证电子扫描件)))
                                            {
                                                <a href="@sp.营业执照信息.税务登记证电子扫描件" target="_blank">@sp.营业执照信息.税务登记证电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传税务登记证电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">近3年完税证明电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.税务信息.近3年完税证明电子扫描件)))
                                            {
                                                <a href="@sp.税务信息.近3年完税证明电子扫描件" target="_blank">@sp.税务信息.近3年完税证明电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传税务信息.近3年完税证明电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">基本账户开户银行资信证明电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.工商注册信息.基本账户开户银行资信证明电子扫描件)))
                                            {
                                                <a href="@sp.工商注册信息.基本账户开户银行资信证明电子扫描件" target="_blank">@sp.工商注册信息.基本账户开户银行资信证明电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传基本账户开户银行资信证明电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                     <tr>
                                        <td align="right">近3年缴纳社会保证金证明电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.工商注册信息.近3年缴纳社会保证金证明电子扫描件)))
                                            {
                                                <a href="@sp.工商注册信息.近3年缴纳社会保证金证明电子扫描件" target="_blank">@sp.工商注册信息.近3年缴纳社会保证金证明电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传近3年缴纳社会保证金证明电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                     <tr>
                                        <td align="right">近3年有无重大违法记录电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.工商注册信息.近3年有无重大违法记录电子扫描件)))
                                            {
                                                <a href="@sp.工商注册信息.近3年有无重大违法记录电子扫描件" target="_blank">@sp.工商注册信息.近3年有无重大违法记录电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传近3年有无重大违法记录电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                     <tr>
                                        <td align="right">组织机构代码证电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.工商注册信息.组织机构代码证电子扫描件)))
                                            {
                                                <a href="@sp.工商注册信息.组织机构代码证电子扫描件" target="_blank">@sp.工商注册信息.组织机构代码证电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传组织机构代码证电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">法定代表人身份证电子扫描件：</td>
                                        <td colspan="5">
                                            @if (System.IO.File.Exists(Server.MapPath(@sp.法定代表人信息.法定代表人身份证电子扫描件)))
                                            {
                                                <a href="@sp.法定代表人信息.法定代表人身份证电子扫描件" target="_blank">@sp.法定代表人信息.法定代表人身份证电子扫描件</a>
                                            }
                                            else
                                            {
                                                <span>还没有上传法定代表人身份证电子扫描件</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                @if (sp.供应商用户信息.供应商图片 != null && sp.供应商用户信息.供应商图片.Count() > 0)
                                {
                                    bool hasPic = false;
                                    foreach (var item in sp.供应商用户信息.供应商图片)
                                    {
                                        if (System.IO.File.Exists(Server.MapPath(@item)))
                                        {
                                            hasPic = true;
                                            break;
                                        }
                                    }
                                    if (hasPic)
                                    {
                                        <tr>
                                            <td colspan="6">
                                                <div style="width:720px; margin:0px auto 0px auto; overflow:hidden;">
                                                    <table id="picture" cellpadding="0" cellspacing="0" style="background-color:white; width:auto;">
                                                        <tr>
                                                            @for (int i = 0; i < sp.供应商用户信息.供应商图片.Count(); i++)
                                                            {
                                                                if (System.IO.File.Exists(Server.MapPath(@sp.供应商用户信息.供应商图片[i])))
                                                                {
                                                                    <td style="border:none;"><img width="180" height="150" src="@sp.供应商用户信息.供应商图片[i]" /></td>
                                                                }
                                                            }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="tab tb3">
                            <table width="100%" cellspacing="0">
                                <tr><td colspan="3" style="font-size:15px; font-weight:bolder;">@sp.企业基本信息.企业名称</td></tr>
                            </table>
                            <table id="gsj" cellspacing="0" width="100%" style="margin-top:-10px;">
                                <tr>
                                    @if (sp.供应商用户信息.供应商图片 != null && sp.供应商用户信息.供应商图片.Count() != 0)
                                    {
                                        <td style="width:200px; height:210px;"><img src="@sp.供应商用户信息.供应商图片.Last()" width="200" height="210" /></td>
                                    }
                                    else
                                    {
                                        <td style="width:200px; height:210px;"><img src="~/Images/noimage.jpg" width="200" height="210" /></td>
                                    }
                                    <td align="left">
                                        <span style="line-height:28px;">　联系人：@sp.企业联系人信息.联系人姓名</span>
                                        <br />
                                        <span style="line-height:28px;">固定电话：@sp.企业联系人信息.联系人固定电话</span>
                                        <br />
                                        <span style="line-height:28px;">移动电话：@sp.企业联系人信息.联系人手机</span>
                                        <br />
                                        <span style="line-height:28px;">　　传真：@sp.企业联系人信息.联系人传真</span>
                                        <br />
                                        <span style="line-height:28px;">　　微博：@sp.联系方式.微博</span>
                                        <br />
                                        <span style="line-height:28px;">　　邮件：@sp.企业联系人信息.联系人邮箱</span>
                                        @*<br />
                                            <span style="line-height:28px;">企业主页：@sp.企业基本信息.网站网址</span>*@
                                        <br />
                                        <span style="line-height:28px;">企业地址：@sp.企业基本信息.注册地址</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                            </table>
                            <div style="width:925px; margin:0px auto;height:400px;border:#ccc solid 1px;" id="dituContent"></div>

                        </div>
                        <div class="tab tb4">
                            @if (sp.历史参标记录 != null && sp.历史参标记录.Count() != 0)
                            {
                                <table cellspacing="1" width="98%" style="margin-top:30px; margin-left:auto; margin-right:auto; margin-bottom:10px; background-color:rgb(218, 218, 218);">
                                    <tr>
                                        <th style="background-color:white;" align="center">项目名称</th>
                                        <th style="background-color:white;" align="center">招标方</th>
                                        <th style="background-color:white;" align="center">招标结果</th>
                                        <th style="background-color:white;" align="center">是否是本平台项目</th>
                                        <th style="background-color:white;" align="center">参标时间</th>
                                    </tr>
                                    @foreach (var item in sp.历史参标记录)
                                    {
                                        <tr>
                                            <td style="background-color:white;" align="center">@item.项目名称</td>
                                            <td style="background-color:white;" align="center">@item.招标方</td>
                                            <td style="background-color:white;" align="center">@item.参标结果.ToString()</td>
                                            @if (item.本平台项目)
                                            {
                                                <td style="background-color:white;" align="center">是</td>
                                            }
                                            else
                                            {
                                                <td style="background-color:white;" align="center">否</td>
                                            }
                                            <td style="background-color:white;" align="center">@item.参标时间.ToString("yyyy-MM-dd")</td>
                                        </tr>
                                    }
                                </table>

                            }
                            else
                            {
                                <span style="font-size:30px; display:inline-block; width:100%; margin-top:10px; margin-bottom:10px; text-align:center; font-weight:bolder; color: lightgrey;"><em>没有参标记录！</em></span>
                            }
                        </div>
                        <div class="tab tb6">
                            @{
                                if (Goods.Count() == 0)
                                {
                                    <span style="font-size:30px; display:inline-block; width:100%;margin-top:10px; text-align:center; margin-bottom:10px; font-weight:bolder; color: lightgrey;"><em>未提供任何商品！</em></span>
                                }
                            }
                            <div id="good">
                                <table class="img_box" cellspacing="10">
                                    @{
                                        int rows = Goods.Count() / 4;
                                        int maintain = Goods.Count() % 4;
                                        if (rows > 0)
                                        {
                                            for (int i = 0; i < rows; i++)
                                            {
                                                <tr>
                                                    @for (int j = 0; j < 4; j++)
                                                    {
                                                        <td>
                                                            <span style="text-align:center; margin-top:5px; display:block;">
                                                                <a target="_blank" title="@Goods.ElementAt(number).商品信息.商品名" href="/商品陈列/Product_Detail?id=@Goods.ElementAt(number).Id">
                                                                    @if (Goods.ElementAt(number).商品信息.商品图片.Count > 0)
                                                                    {
                                                                        <img src="@Goods.ElementAt(number).商品信息.商品图片.First().Replace("original","150X150")" height="170" width="150" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/Images/noimage.jpg" height="170" width="150" />
                                                                    }
                                                                </a>

                                                            </span>
                                                            <span style="display:block; padding-left:19px; font-size:13px; width:150px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@Goods.ElementAt(number).商品信息.商品名</span>
                                                            <span style="color:red;font-size:14px; padding-left:19px; height:25px; display:block; line-height:25px;">￥@(string.Format("{0:0.00}", Goods.ElementAt(number).销售信息.价格))</span>
                                                            <div style="text-indent:1.6em; color:gray">浏览量：@Goods.ElementAt(number).销售信息.点击量</div>
                                                        </td>
                                                        number++;
                                                    }
                                                </tr>
                                            }
                                        }
                                        if (maintain > 0)
                                        {
                                            <tr>
                                                @for (int k = 0; k < maintain; k++)
                                                {
                                                    <td>
                                                        @if (Goods.ElementAt(number).商品信息.商品图片 != null && Goods.ElementAt(number).商品信息.商品图片.Count() != 0)
                                                        {
                                                            <span style="text-align:center; margin-top:5px; display:block;"><a title="@Goods.ElementAt(number).商品信息.商品名" target="_blank" href="/商品陈列/Product_Detail?id=@Goods.ElementAt(number).Id"><img src="@Goods.ElementAt(number).商品信息.商品图片.First().Replace("original", "150X150")" height="170" width="150" /></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span style="text-align:center; margin-top:5px; display:block;"><a target="_blank" title="@Goods.ElementAt(number).商品信息.商品名" href="/商品陈列/Product_Detail?id=@Goods.ElementAt(number).Id"><img src="###" height="170" width="150" /></a></span>
                                                        }
                                                        <span style="display:block; padding-left:19px; font-size:13px; width:150px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">@Goods.ElementAt(number).商品信息.商品名</span>
                                                        <span style="color:red;font-size:14px; padding-left:19px; height:25px; display:block; line-height:25px;">￥@(string.Format("{0:0.00}", Goods.ElementAt(number).销售信息.价格))</span>
                                                        <div style="text-indent:1.6em; color:gray">浏览量：@Goods.ElementAt(number).销售信息.点击量</div>
                                                    </td>
                                                    number++;
                                                }
                                            </tr>
                                        }
                                    }
                                </table>
                                @{
                                    if (Goods.Count() == 0)
                                    {
                                        <span style="font-size:30px; display:inline-block; width:100%;margin-top:10px; text-align:center; margin-bottom:10px; font-weight:bolder; color: lightgrey;"><em>未提供任何商品！</em></span>
                                    }
                                }
                            </div>
                            <div id="pager">

                            </div>
                        </div>
                        
                        @*<div class="tab tb4">
                            <table cellspacing="1" width="98%" style="margin-top:30px; margin-left:auto; margin-right:auto; margin-bottom:10px; background-color:rgb(218, 218, 218);">
                                    <tr>
                                        <td style="background-color:white;" align="center">组织机构代码证电子扫描件:</td>
                                        <td style="background-color:white;" align="center">@sp.工商注册信息.组织机构代码证电子扫描件</td>
                                    </tr>
                            </table>
                        </div>*@

                    </div>
                </div>

            </div>
        </td>
    </tr>
</table>
<input type="hidden" name="user" id="user" value="@sp.Id" />
<input type="hidden" id="pageCount" name="pageCount" value="@ViewData["PageCount"]" />
<input type="hidden" id="currentPage" name="currentPage" value="@ViewData["CurrentPage"]" />
<script type="text/javascript" language="javascript">
    var userId="";
    function setPage(pgCount,currentPage) {
        var str = '';
        if(pgCount>0)
        {
            if (currentPage!= 1) {
                str += "<a onclick='getGoods(1)'>首页</a><a onclick='getGoods(" + (currentPage - 1) + ")'>上一页</a>";
            }
        }
        if (pgCount <= 6) {
            for (var i = 1; i <= pgCount; i++) {
                str += "<a onclick='getGoods("+i+")'>" + i + "</a>";
            }
        }
        else {
            if (currentPage < 6) {
                if (currentPage != 1) {
                    for (var i = 1; i < 7; i++) {
                        str += "<a onclick='getGoods("+i+")'>" + i + "</a>";
                    }
                    str += "...<a  onclick='getGoods("+pgCount+")'>" + pgCount + "</a>";
                }
                else {
                    for (var i = 1; i < 7; i++) {
                        str += "<a  onclick='getGoods("+i+")'>" + i + "</a>";
                    }
                    str += "...<a onclick='getGoods("+pgCount+")'>" + pgCount + "</a>";
                }
            }
            else if (currentPage >= 6 && currentPage < pgCount - 3) {
                str += "<a onclick='getGoods("+(1)+")'>1</a>...";
                for (var i = (currentPage - 4 + 1) ; i <= currentPage+1; i++) {
                    str += "<a onclick='getGoods("+i+")'>" + i + "</a>";
                }
                str += "...<a onclick='getGoods("+pgCount+")'>" + pgCount + "</a>";
            }
            else if (currentPage >= pgCount - 3) {
                str += "<a onclick='getGoods("+1+")'>1</a>...";
                for (var i = pgCount - 6 + 1; i <=pgCount; i++) {
                    str += "<a onclick='getGoods("+i+")'>" + i + "</a>";
                }
            }
        }
        if (pgCount > 0)
        {
            if (currentPage != pgCount) {
                str += "<a onclick='getGoods("+(currentPage+1)+")'>下一页</a><a onclick='getGoods("+pgCount+")'>末页</a>";
            }
            if (pgCount != 0) {
                str += "<span>第" + currentPage + "/共" + pgCount + "页</span>";
            }
        }
        $("div#pager").html(str);
        $("div#pager a").each(
            function () {
                if ($(this).text() == currentPage.toString()) {
                    $(this).css("border", "1px solid red");
                }
            }
        );
    }
    $(document).ready(function (e) {
        userId=$("#user").val();
        var pgCount=parseInt($("#pageCount").val());
        var current=parseInt($("#currentPage").val());
        setPage(pgCount,current);
        $(".tb2,.tb3,.tb4,.tb6").css({"border-style":"none"});
        $("#dituContent").show();
        $(".box .tb2").css("display","block");
        $(".list a:first").addClass("select");
    });
    function getGoods(page)
    {
        $("#f1").show();
        $.get('/供应商陈列/GoodList',{p:page,id:userId},function(data){
            setPage(data.Data.Pcount,data.Data.Cpage);
            var row=parseInt(data.Data.Newgood.length/4);
            var left=parseInt(data.Data.Newgood.length%4);
            var number=0;
            var str="<table class='img_box' cellspacing='10'>";
            if (row > 0)
            {
                for (var i = 0; i < row; i++)
                {
                    str+="<tr>";
                    for (var j = 0; j < 4; j++)
                    {
                        str+="<td>"
                            +"<span style='text-align:center; margin-top:5px; display:block;'>"
                            +"<a target='_blank' title='"+data.Data.Newgood[number].name+"' href='/商品陈列/Product_Detail?id="+data.Data.Newgood[number].Id+"'>"
                        if(data.Data.Newgood[number].Picture!="")
                        {
                            str+="<img src='"+data.Data.Newgood[number].Picture+"' height='170' width='150' />";
                        }
                        else
                        {
                            str+="<img src='~/Images/noimage.jpg' height='170' width='150' />";
                        }
                        str+="</a></span><span style='display:block; padding-left:15px; font-size:13px; width:150px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;'><a target='_blank' href='/商品陈列/Product_Detail?id="+data.Data.Newgood[number].Id+"'>"+data.Data.Newgood[number].name+"</a></span><span style='color:red;font-size:14px; padding-left:15px; height:25px; display:block; line-height:25px;'>￥"+data.Data.Newgood[number].Price+"</span>";
                        str+="<span style='display:block; padding-left:15px; font-size:13px; width:150px; height:25px; color:gray; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;'>浏览量："+data.Data.Newgood[number].Scan+"</span>";
                        str+="</td>";
                        number++;
                    }
                    str+="</tr>";
                }
            }
            if (left > 0)
            {
                str+="<tr>";
                for (var k = 0; k < left; k++)
                {
                    str+="<td>";
                    if (data.Data.Newgood[number].Picture!="")
                    {
                        str+="<span style='text-align:center; margin-top:5px; display:block;'><a target='_blank' title='"+data.Data.Newgood[number].name+"' href='/商品陈列/Product_Detail?id="+data.Data.Newgood[number].Id+"'><img src='"+data.Data.Newgood[number].Picture+"' height='170' width='150' /></a></span>";
                    }
                    else
                    {
                        str+="<span style='text-align:center; margin-top:5px; display:block;'><a title='"+data.Data.Newgood[number].name+"' href='/商品陈列/Product_Detail?id="+data.Data.Newgood[number].Id+"'><img src='###' height='170' width='150' /></a></span>";
                    }
                    str+="<span style='display:block; padding-left:15px; font-size:13px; width:150px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;'><a target='_blank' href='/商品陈列/Product_Detail?id="+data.Data.Newgood[number].Id+"'>"+data.Data.Newgood[number].name+"</a></span><span style='color:red;font-size:14px; padding-left:15px; height:25px; display:block; line-height:25px;'>￥"+data.Data.Newgood[number].Price+"</span>";
                    str+="<span style='display:block; padding-left:15px; font-size:13px; width:150px; height:25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:gray;'>浏览量："+data.Data.Newgood[number].Scan+"</span>";
                    str+="</td>";
                    number++;
                }
                str+="</tr>";
            }
            $("#good").html(str);
            $("#f1").hide();
        });
    }
    function checks(th,str)
    {
        $(".list a").each(function() {
            $(this).removeClass("select");
        });
        $(th).addClass("select");
        $(".box").children(".tab").each(function(index, element) {
            $(this).hide();
        });
        $(str).show();
        if(str=='.tb3')
        {
            $("#dituContent").show();
        }
        else
        {
            $("#dituContent").hide();
        }
    }
    $(document).ready(function () {
        if($("table#picture tr td").length >= 5)
        {
            setInterval("PicScroll()",2000);
        }
    });
    function PicScroll() {
        $("table#picture").animate({ "margin-left": "-180" },
            function () {
                var s = $("table#picture tr td:first img:first").attr("src");
                var h1 = $("table#picture tr td:first a:eq(0)").attr("href");
                var h = $("table#picture tr td:first a:eq(1)").attr("href");
                $("table#picture tr td:first").remove();
                $("table#picture tr").append("<td><img width='180' height='150' src='" + s + "'/></td>");
                $("table#picture").css("margin-left", "0px");
            });
    }
</script>
<script type="text/javascript" src="~/JS/baiduMap.js"></script>
<script type="text/javascript">
    @{
        if (sp.企业基本信息.地图坐标 == null)
        {
            sp.企业基本信息.地图坐标 = "0,0";
        }
        }
    var local=@sp.企业基本信息.地图坐标.Split(',')[0];
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        if(local!=0)
        {
            addMarker();
        }
        //向地图中添加marker
    }
    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        map.addControl(new BMap.MapTypeControl());
        if(local==0)
        {
            var point = new BMap.Point(111.699735,40.857281);//定义一个中心点坐标
            map.centerAndZoom(point,4);//设定地图的中心点和坐标并将地图显示在地图容器中
        }
        else
        {
            var point = new BMap.Point(@sp.企业基本信息.地图坐标.Split(',')[0], @sp.企业基本信息.地图坐标.Split(',')[1]);//定义一个中心点坐标
            map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        }
        map.panBy(400,200);
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 0 });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map.addControl(ctrl_sca);
    }
    var m=@sp.企业基本信息.地图坐标.Split(',')[0];
    //标注点数组
    var markerArr=null;
    if(m==0)
    {
        markerArr = [{ title: "", content:"", point:"0|0", isOpen: 0, icon: { w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5 } }
        ];
    }
    else
    {
        markerArr = [{ title: "@sp.企业基本信息.企业名称", content:"(地址：@sp.所属地域.地域)", point:"@sp.企业基本信息.地图坐标.Split(',')[0]|@sp.企业基本信息.地图坐标.Split(',')[1]", isOpen: 0, icon: { w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5 } }
        ];
    }
    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg=new BMap.Icon("../Images/ditu.png", new BMap.Size(30, 40));
            var marker = new BMap.Marker(point, { icon: iconImg });
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function() {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function() {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function() {
                    _marker.getLabel().hide();
                });
                _iw.addEventListener("close", function() {
                    _marker.getLabel().show();
                });
                label.addEventListener("click", function() {
                    _marker.openInfoWindow(_iw);
                });
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })();
        }
    }
    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), { imageOffset: new BMap.Size(-json.l, -json.t), infoWindowOffset: new BMap.Size(json.lb + 5, 1), offset: new BMap.Size(json.x, json.h) })
        return icon;
    }
    initMap();//创建和初始化地图
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $(".action_link").each(function () {
            if($(this).text()=="供应商库")
            {
                $(this).parent("div").addClass("on");
            }
        });
    });
</script>
