@using Go81WebApp.Models.数据模型.内容数据模型;
@using (Html.BeginForm("NoticeListSearch", "通知"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="gys_xttz_box">
        <div class="title-base-out">
            <div class="title-base-middle">
                <div class="title-base-inner">通知
                    <div class="news_search">
                        <input type="text" class="search_text" name="searchtext" />
                        <input type="submit" value="搜索" class="search_botton" />
                    </div>
                </div>
            </div>
        </div>
        <div class="gys_xttz_contentbox" id="pagecontent">
            <ul>
                @{ var j = 0;}
                @foreach (var item in (IEnumerable<通知>)ViewData["通知列表"])
                {
                    TimeSpan ts = DateTime.Now - item.内容主体.发布时间;
                    if (j % 2 == 0)
                    {
                        <li>
                            @if (ts.TotalHours < 360)
                            {
                                <img src="~/Images/newico.gif" />
                                <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span><a target="_blank" class="new" href="~/通知/NoticeDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                            }
                            else
                            {
                                <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span><a target="_blank" href="~/通知/NoticeDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="oddlinecolor">
                            @if (ts.TotalHours < 360)
                            {
                                <img src="~/Images/newico.gif" />
                                <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span><a target="_blank" class="new" href="~/通知/NoticeDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                            }
                            else
                            {
                                <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span><a target="_blank" href="~/通知/NoticeDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                            }
                        </li>
                    }
                    j++;
                }
            </ul>
            <div class="gys_znxx_content_detailbox">
                @if (int.Parse(ViewData["currentpage"].ToString()) != 1)
                {
                    <a id="1" onclick="changeMesspage(this)">首页</a><a onclick="changeMesspage(this)" style="margin-left:5px;" id="@(int.Parse(ViewData["currentpage"].ToString()) -1)" class="page">上一页</a>
                }
                @for (int i = 0; i <= 10; i++)
                {                       //一共最多显示10个页码，前面5个，后面5个
                    if ((int.Parse(ViewData["currentpage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentpage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                    {
                        if (5 == i)
                        {                               //当前页处理
                            <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentpage"].ToString())</a>
                        }
                        else
                        {                               //一般页处理
                            <a id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)" onclick="changeMesspage(this)">@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)</a>

                        }
                    }
                }
                @if (int.Parse(ViewData["currentpage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
                {
                    <a onclick="changeMesspage(this)" style="margin-right:5px;" id="@(int.Parse(ViewData["currentpage"].ToString()) + 1)" class="page">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" onclick="changeMesspage(this)">末页</a>
                }
                第 @ViewData["currentpage"].ToString() 页/共 @ViewData["pagecount"].ToString() 页
            </div>
        </div>
        <script type="text/javascript">
            function changeMesspage(a) {
                $.get("/通知/Part_SearchByPage?page=" + encodeURI(a.getAttribute("id")), function (response) {

                    $("#pagecontent").html(response);
                });
            }
        </script>
    </div>
}