<link rel="stylesheet" href="~/css/index.css" type="text/css">
<div class="gys_xttz_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">系统通知</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_xttz_contentbox" style="height:auto;">
        <ul>
            @foreach (var item in ViewData["通知管理"] as IEnumerable<Go81WebApp.Models.数据模型.内容数据模型.通知>)
            {
                <li><span>@item.基本数据.添加时间.ToString("yyyy.MM.dd")</span><a href="~/供应商后台/Gys_News_Show?id=@item.Id">@item.内容主体.标题</a></li>
            }
        </ul>
    </div>
</div>
   <div class="gys_znxx_content_detailbox">
    @{
        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
        if (Pagecount > 0)
        {
            if (CurrentPage != 1)
            {
                <a href='/供应商后台/Gys_Xttz?page=1'>首页</a><a href='/供应商后台/Gys_Xttz?page=@(CurrentPage-1)'>上一页</a>
            }
        }
        if (Pagecount <= 6)
        {
            for (int i = 1; i <= Pagecount; i++)
            {
                if (CurrentPage == i)
                {
                    <a style="border:1px solid red;" href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                }
                else
                {
                    <a href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                }
            }
        }
        else
        {
            if (CurrentPage < 6)
            {
                if (CurrentPage != 1)
                {
                    for (int i = 1; i < 7; i++)
                    {
                        if (CurrentPage == i)
                        {
                            <a style="border:1px solid red;" href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                        }
                        else
                        {
                            <a href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                        }
                    }
                    <span>...</span><a href="/供应商后台/Gys_Xttz?page=@(Pagecount)">@Pagecount</a>
                }
                else
                {
                    for (int i = 1; i < 7; i++)
                    {
                        if (CurrentPage == i)
                        {
                            <a style="border:1px solid red;" href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                        }
                        else
                        {
                            <a href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                        }
                    }
                    <span>...</span><a href="/供应商后台/Gys_Xttz?page=@(Pagecount)">@Pagecount</a>
                }
            }
            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
            {
                <a href="/供应商后台/Gys_Xttz?page=1">1</a><span>...</span>
                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                {
                    if (CurrentPage == i)
                    {
                        <a style="border:1px solid red;" href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                    }
                    else
                    {
                        <a href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                    }
                }
                <span>...</span><a href="/供应商后台/Gys_Xttz?page=@(Pagecount)">@Pagecount</a>
            }
            else if (CurrentPage >= Pagecount - 3)
            {
                <a href="/供应商后台/Gys_Xttz?page=1">1</a><span>...</span>
                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                {
                    if (CurrentPage == i)
                    {
                        <a style="border:1px solid red;" href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                    }
                    else
                    {
                        <a href='/供应商后台/Gys_Xttz?page=@i'>@i</a>
                    }
                }
            }
        }
        if (Pagecount > 0)
        {
            if (CurrentPage != Pagecount)
            {
                <a href='/供应商后台/Gys_Xttz?page=@(CurrentPage+1)'>下一页</a><a href='/供应商后台/Gys_Xttz?page=@(Pagecount)'>末页</a>
            }
            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
        }
    }
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#系统通知").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#系统通知").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>