@model Go81WebApp.Models.数据模型.用户数据模型.供应商
<link href="~/css/css.css" rel=" stylesheet" />
<link href="~/css/Msg_Tips.css" rel="stylesheet" />
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>
<style>
    table tr td span {
        background-color: #ffebeb;
        font-size: 12px;
        color: red;
    }

    .submenulist li h3 a.on {
        width: 231px;
        line-height: 30px;
    }
            .out_box {
        display: none;
    }

    .out_box_infirst {
        position: fixed;
        z-index: 5;
        top: 0px;
        left: 0px;
        text-align: center;
        right: 0;
        bottom: 0px;
        background-color: black;
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter: alpha(opacity=50);
        height: 100%;
        width: 100%;
        border: 1px solid green;
        box-shadow: 0px 0px 10px gray;
        -webkit-box-shadow: 0px 0px 10px gray;
        -moz-box-shadow: 0px 0px 10px gray;
    }

    .out_box_insecond {
        position: fixed;
        width: 100%;
        height: 80%;
        left: 0px;
        z-index: 20;
        top:20%;
    }

    .out_box_insecond_child {
        width: 830px;
        position: relative;
        margin: 0px auto;
        z-index: 100;
        background-color: white;
    }

    .close_outbox {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: red;
        font-size: 30px;
        color: white;
        float: right;
        cursor: pointer;
    }
    td {
        position: relative;
    }

    div.out_box {
        width: 135px;
        left: initial;
    }
</style>

<div id="f" class="out_box">
    <div class="out_box_infirst">
    </div>
    <div class="out_box_insecond">
        <div class="out_box_insecond_child">
            <div style="width:100%; height:auto;"><a class="close_outbox" title="关闭窗口" onclick="$('#f').hide()">×</a></div>
            <div style="width:830px; height:270px; overflow:hidden;">
                <h3 style="text-align:center;">新增出资人信息</h3>
                <form action="/供应商后台/Investor_Manage" method="post">
                    <table width="90%" style="margin-left:20px;">
                        <tr>
                            <td width="20%" height="30" align="right" class="lab">出资人或股东姓名：</td>
                            <td width="25%" height="30"><input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" name="出资人或股东信息[0].出资人或股东姓名" type="text" value=""><span>*</span></td>
                            <td width="20%" height="30" align="right" class="lab">国籍：</td>
                            <td width="35%" height="30"><input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" name="出资人或股东信息[0].国籍" type="text" value="">@*<div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资人的国籍,如中国</div></div>*@ <span>*</span></td>
                        </tr>
                        <tr>
                            <td align="right" height="30" class="lab">身份证号：</td>
                            <td height="30"><input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" name="出资人或股东信息[0].身份证号码" type="text" value=""><div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资人的18位身份证号,如511352123545670708</div></div> <span>*</span></td>
                            <td height="30" align="right" class="lab">出资人或股东性质：</td>
                            <td height="30">
                                <input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" name="出资人或股东信息[0].出资人或股东性质" type="text" value="">@*<div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资人的性质</div></div>*@<span>*</span>
                            </td>
                        </tr>
                        <tr>
                            <td height="30" align="right" class="lab">出资金额(万元)：</td>
                            <td height="30"><input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" data-val="true" data-val-number="字段 出资金额 必需是一个数字。" data-val-required="出资金额 字段是必需的。" name="出资人或股东信息[0].出资金额" type="text" value="0"><div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资人的出资金额,如120</div></div><span>*</span></td>
                            <td height="30" align="right" class="lab">出资时间：</td>
                            <td height="30"><input onmouseover="show_tip(this)" onfocus="WdatePicker({dateFmt:'yyyy/MM/dd'})" onmouseout="hide_tip(this)" data-val="true" name="出资人或股东信息[0].出资时间" type="text" value=""><div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资人的出资时间,如2012/2/1</div></div><span>*</span></td>
                        </tr>
                        <tr>
                            <td align="right" class="lab">所占比例(%)：</td>
                            <td><input onmouseover="show_tip(this)" onmouseout="hide_tip(this)" data-val="true" data-val-number="字段 所占比例 必需是一个数字。" data-val-required="所占比例 字段是必需的。" name="出资人或股东信息[0].所占比例" type="text" value="0"><div class="out_box"><div class="arrow"></div><div class="con_box">请填写出资所占比例，如20</div></div><span>*</span></td>
                        </tr>
                    </table>
                    <table width="100%" style="margin-top:20px;"><tr><td style="display:block;height:50px; text-align:center;"><input type="submit" id="submit_btn" value="保  存" /></td></tr></table>
                </form>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<div id="title_div" class="gys_xttz_topbg">
    <div class="index_bottom_zb_top_title">
        出资人信息
        @if (Model.供应商用户信息.已提交)
        {
            <span style="font-size:15px; color:red;"><em>您已提交过申请，不能修改信息。如需修改信息，请联系网站管理员。</em></span>
        }
        else
        {
            <a style="cursor: pointer;" onclick="$('#f').show()">【新增】</a><span style="color:#ff0000;">出资人栏里必须填写完整出资人信息，如出资人过多，则按比例填写完整（所占比例总和为100%）</span>
        }
    </div>
</div>
<div class="company_msg">
    <div style="font-size:14px;">
        <div id="financialInfo" class="gys_znxx_box">
            <div class="gys_znxx_content">
                @if (Model.出资人或股东信息.Count != 0)
                {
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>姓名</th>
                            <th>国籍</th>
                            <th>身份证号</th>
                            <th>出资人或股东性质</th>
                            <th>出资金额(万元)</th>
                            <th>出资时间</th>
                            <th>所占比例(%)</th>
                            @if (!Model.供应商用户信息.已提交)
                            {
                                <th>操作</th>
                            }
                        </tr>
                        @for (int i = 0; i < Model.出资人或股东信息.Count; i++)
                        {
                            <tr>
                                <td>@Model.出资人或股东信息[i].出资人或股东姓名</td>
                                <td>@Model.出资人或股东信息[i].国籍</td>
                                <td>@Model.出资人或股东信息[i].身份证号码</td>
                                <td>@Model.出资人或股东信息[i].出资人或股东性质</td>
                                <td>@Model.出资人或股东信息[i].出资金额</td>
                                <td>@Model.出资人或股东信息[i].出资时间</td>
                                <td>@Model.出资人或股东信息[i].所占比例</td>
                                @if (!Model.供应商用户信息.已提交)
                                {
                                    <td><a href="/供应商后台/Modify_Investor?index=@i">修改</a><a onclick="del(@i)" href="###">删除</a></td>
                                }
                            </tr>
                        }
                    </table>
                }
                else
                {
                    if(Model.供应商用户信息.已提交)
                    {
                      <h1 style="width: 100%; text-align: center; color:red;"><em>您已经提交过，要修改信息，请联系网站管理员</em></h1>  
                    }
                    else
                    {
                       <h1 style="width: 100%; text-align: center; color:red;"><em>没有出资人信息，点击【新增】按钮添加出资人。</em></h1> 
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("a.modify").click(function () { $(".company_msg :text,.company_msg select,.company_msg textarea,.company_msg :checkbox,.company_msg :file,.company_msg :submit").each(function () { $(this).removeAttr("disabled"); $("a.add").show(); }); $(".company_msg :submit").css("background-color", "#2c5735"); });
        $("table tr td :input").mouseover(function () { $(this).next("div").show(); $(this).next("div").css("display", "inline-block"); });
        $("table tr td :input").mouseout(function () { $(this).next("div").hide(); });

        $("#出资人信息").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#出资人信息").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function show_tip(t) {
        $(t).next("div").show();
        $(t).next("div").css("display", "inline-block");
    }
    function hide_tip(t) {
        $(t).next("div").hide();
    }
    function del(index)
    {
        if(confirm("确定删除吗？"))
        {
            window.location = "/供应商后台/Delete_Investor?index="+index;
        }
    }
</script>
<script type="text/javascript" language="javascript">
    @{
        int number =0;
        if(Model.出资人或股东信息!=null&&Model.出资人或股东信息.Count()!=0)
        {
            number=Model.出资人或股东信息.Count();
        }
    }
    var num =@number
        $(document).ready(function () {
            if (num != 0) {
                $("a.add").hide();
            }
        });
    $(".company_msg :text,.company_msg select,.company_msg textarea,.company_msg :checkbox,.company_msg :file,.company_msg :submit").each(function () { $(this).attr("disabled", "disabled"); $(this).css("background-color", "white"); });
</script>