@using System.Linq
@using Go81WebApp.Models.管理器
@using Go81WebApp.Models.数据模型.消息数据模型
<style>
    .gys_znxx_content table tr:hover td {
        background-color: #f6f1f1;
    }
</style>
<link href="~/css/index.css" rel="stylesheet" />
<div class="gys_znxx_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">已发送消息</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="15%">重要程度</th>
                    <th width="38%">标题</th>
                    <th width="10%">收信人</th>
                    <th width="30%">发送时间/查看时间</th>
                    <th width="7%">操作</th>
                </tr>
                @{IEnumerable<站内消息> Msg = ViewData["站内消息列表"] as IEnumerable<站内消息>;}
                @{
                    int count=0;
                    if (Msg.Count()==0)
                    {
                        <tr><td colspan="5">暂时没有数据</td></tr>
                    }
                    else
                    {
                        foreach (var item in Msg as IEnumerable<Go81WebApp.Models.数据模型.消息数据模型.站内消息>)
                        {
                            if(item.收信人.用户数据!=null)
                            {
                            foreach (var m in item.对话消息)
                            {
                                <tr>
                                    <td style="text-align: center;">@item.重要程度</td>
                                    <td style="text-align: center;"><a target="_blank" href="/供应商后台/Msg_Detail?id=@item.Id">@m.消息主体.标题</a></td>
                                    <td style="text-align: center;">@item.收信人.用户数据.登录信息.登录名</td>
                                    <td style="font-size:12px;">@item.基本数据.添加时间.ToString("yyyy-MM-dd HH:mm") / @item.基本数据.修改时间.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td style="text-align: center;"><a onclick="del(@item.Id)">删除</a></td>
                                </tr>
                                break;
                            }
                                count++;
                            }
                        }
                    }
                    if(count==0&&Msg.Count()!=0)
                    {
                        <tr><td colspan="4">暂时没有数据</td></tr>
                    }
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @Html.Pager("page", int.Parse(ViewData["pagesize"].ToString()), int.Parse(ViewData["listcount"].ToString()))
            </div>
        </div>
        </div>
    </div>
<script type="text/javascript" language="javascript">
    @{
        int pages = int.Parse(ViewData["listcount"].ToString())/int.Parse(ViewData["pagesize"].ToString());
        if (int.Parse(ViewData["listcount"].ToString())%int.Parse(ViewData["pagesize"].ToString()) > 0)
        {
            pages++;
        }
    }
    var num =@(int.Parse(ViewData["page"].ToString()));
    var j=@pages
    $(document).ready(function () {
        $(".gys_znxx_content_detailbox a").each(function () {
            if ($(this).text() == num) {
                $(this).addClass("currentPage");
            }
            if (num == j) {
                $(".gys_znxx_content_detailbox a:last").addClass("endPage");
            }
            if (num == 1) {
                $(".gys_znxx_content_detailbox a:first").addClass("endPage");
            }
        });

        $("#已发消息").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#已发消息").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function del(num)
    {
        if(confirm("点击确定即将删除此消息！确定删除吗？"))
        {
            window.location="/供应商后台/Gys_Del_Msg?id="+num;
        }
    }
</script>

