@using Go81WebApp.Models.数据模型.内容数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
<link rel="stylesheet" href="~/css/index.css" type="text/css">
<script type="text/javascript" language="javascript" src="../JS/provinceandcity_all.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>
<div class="gys_xttz_box">
    <div class="gys_xttz_topbox">
        <div class="gys_xttz_topbg">
            <div class="index_bottom_zb_top_title">招投标公告查询-公开招标</div>
        </div>
    </div>
    <div class="gys_ztbsearch_contentbox gys_znxx_box">
        <table class="gys_ztbsearch_classbox">
            <tr>
                <td class="cli">行业：</td>
                <td>
                    @{IEnumerable<商品分类> goodclass = ViewData["行业列表"] as IEnumerable<商品分类>;
                    if (goodclass != null && goodclass.Any())
                    {
                        <select id="hy" name="hy" style="width:200px;">
                            <option value="" id="">不限</option>
                            @foreach (var i in goodclass)
                            {
                                <option class="yjfn" value="@i.分类名" id="@i.Id">@i.分类名</option>
                            }
                        </select>
                    }
                    }
                </td>
            </tr>
            <tr>
                <td class="cli">日期：</td>
                <td>
                    <input id="d1" type="text" onfocus="WdatePicker({isShowWeek:true})" />至<input id="d2" type="text" onfocus="WdatePicker({isShowWeek:true})" />
                </td>
            </tr>
            <tr>
                <td class="cli">关键字：</td>
                <td>
                    <input id="k" style="width:400px;" type="text" value="" />
                    <input type="button" id="bt" style=" width:100px;" value="查询" />
                </td>
            </tr>
        </table>
    </div>
    <div class="gys_ztbsearch_contentbox gys_znxx_box" id="conts">
        <div id="conts">
            <ul>
                @foreach (var item in ViewData["公告管理"] as IEnumerable<Go81WebApp.Models.数据模型.内容数据模型.公告>)
                {
                    <li><span>@item.内容主体.发布时间</span><a href="/供应商后台/Zb_Detail/@item.Id" title="">@item.内容主体.标题</a></li>
                }
            </ul>
            <div class="gys_znxx_content_detailbox">
                @{
                    int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                    int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                    if (Pagecount > 0)
                    {
                        if (CurrentPage != 1)
                        {
                            <a href='/供应商后台/Gys_Ztb_Search_Zb?page=1'>首页</a><a href='/供应商后台/Gys_Ztb_Search_Zb?page=@(CurrentPage-1)'>上一页</a>
                        }
                    }
                    if (Pagecount <= 6)
                    {
                        for (int i = 1; i <= Pagecount; i++)
                        {
                            if (CurrentPage == i)
                            {
                                <a style="border:1px solid red;" href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                            }
                            else
                            {
                                <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                            }
                        }
                    }
                    else
                    {
                        if (CurrentPage < 6)
                        {
                            if (CurrentPage != 1)
                            {
                                for (int i = 1; i < 7; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/供应商后台/Gys_Ztb_Search_Zb?page=@(Pagecount)">@Pagecount</a>
                            }
                            else
                            {
                                for (int i = 1; i < 7; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/供应商后台/Gys_Ztb_Search_Zb?page=@(Pagecount)">@Pagecount</a>
                            }
                        }
                        else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                        {
                            <a href="/供应商后台/Gys_Ztb_Search_Zb?page=1">1</a><span>...</span>
                            for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                }
                            }
                            <span>...</span><a href="/供应商后台/Gys_Ztb_Search_Zb?page=@(Pagecount)">@Pagecount</a>
                        }
                        else if (CurrentPage >= Pagecount - 3)
                        {
                            <a href="/供应商后台/Gys_Ztb_Search_Zb?page=1">1</a><span>...</span>
                            for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@i'>@i</a>
                                }
                            }
                        }
                    }
                    if (Pagecount > 0)
                    {
                        if (CurrentPage != Pagecount)
                        {
                            <a href='/供应商后台/Gys_Ztb_Search_Zb?page=@(CurrentPage+1)'>下一页</a><a href='/供应商后台/Gys_Ztb_Search_Zb?page=@(Pagecount)'>末页</a>
                        }
                        <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                    }
                }
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $("#bt").click(function () {
        kw = $(":text#k").val();
        $.get('/供应商后台/getDT',
               { keyword: kw, hy: $("#hy").val(), starttime: $("#d1").val(), endtime: $("#d2").val() },
               function (data) {
                   $("#conts").html(data);
               }
            );
    });
    function changepage(a) {
        $.get("/供应商后台/Part_Gys_Ztb_SearchCondition?page=" + encodeURI(a.getAttribute("id")) + "&condition=" + encodeURI($("#condition").val()), function (response) {

            $("#conts").html(response)
        });
    }
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#公告查询").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#公告查询").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>