@using Go81WebApp.Models.数据模型.项目数据模型
@using Go81WebApp.Models.数据模型

<table cellpadding="0" cellspacing="0">
    <tr>
        <th width="14%">生成时间</th>
        <th width="15%">售票方</th>
        <th width="6%">验证状态</th>
        <th width="6%">打印状态</th>
        <th width="15%">操作</th>
    </tr>
    @{ var gd = ViewData["验收单列表"] as IEnumerable<机票验收单>;
     if (gd.Any() && gd != null)
     {
         foreach (var k in gd)
         {
            <tr>
                <td>@k.基本数据.添加时间</td>
                @if (k.供应商链接.用户数据.企业基本信息.企业名称.Length > 9)
                {
                    <td class="name" title="@k.供应商链接.用户数据.企业基本信息.企业名称">
                        @k.供应商链接.用户数据.企业基本信息.企业名称.Substring(0, 9) ...
                    </td>
                }
                else
                {
                    <td class="name" title="@k.供应商链接.用户数据.企业基本信息.企业名称">
                        @k.供应商链接.用户数据.企业基本信息.企业名称
                    </td>
                }
                @if (k.服务列表.Where(o => o.验证状态 == 机票验证状态.待验证).Count() == k.服务列表.Count())
                {
                    <td onclick=" ShowYsd(this) " id="@k.Id" style="color: red;cursor:pointer">待验证</td>
                }
                else if (k.服务列表.Where(o => o.验证状态 == 机票验证状态.已验证).Count() == k.服务列表.Count())
                {
                    <td onclick=" ShowYsd(this) " id="@k.Id" style="color:#1f9434;cursor:pointer">已验证</td>
                }
                else if (k.服务列表.Exists(o => o.验证状态 == 机票验证状态.已验证) && k.服务列表.Exists(o => o.验证状态 == 机票验证状态.待验证))
                {
                    <td onclick=" ShowYsd(this) " id="@k.Id" style="color:#FF9900;cursor:pointer">验证中</td>
                }
                else
                {
                    <td onclick=" ShowYsd(this) " id="@k.Id" style="color:red;cursor:pointer">验证失败</td>
                }
                @if (k.是否已经打印)
                {
                    <td style="color:#1f9434">
                        已打印
                        <p style="padding:0;margin:0;font-size:12px;color:#ff5e00;line-height:17px;">
                            @if (k.打印信息.Count > 0)
                            {
                                <span>@k.打印信息[k.打印信息.Count - 1].打印时间</span>
                            }
                        </p>
                    </td>
                }
                else
                {
                    <td style="color:red">未打印</td>
                }

                <td>
                    <a style="cursor:pointer" id="@k.Id" onclick="ShowXcd(this)">详情</a>
                    @if (k.是否作废 || k.服务列表.Where(o => o.验证状态 == 机票验证状态.已验证).Count() == k.服务列表.Count())
                    {
                        <a style="color:#aaa">修改</a>
                    }
                    else
                    {
                        <a href="/供应商后台/EditFormTicket?id=@k.Id">修改</a>
                    }
                    @if (k.是否作废)
                    {
                        <a>已作废</a>
                    }
                    else
                    {
                        <a class="del_accept" style="cursor:pointer" id="@k.Id">删除</a>
                    }
                    @if (!k.是否已经打印 && !k.是否作废 && k.服务列表.Where(o => o.验证状态 == 机票验证状态.已验证).Count() == k.服务列表.Count())
                    {
                        <a href="/供应商后台/AcceptDetialTicket?id=@k.Id">打印</a>
                    }
                </td>
            </tr>
         }
     }
    }

</table>


@if (ViewData["currentpage"] != null)
{
    <div class="gys_znxx_content_detailbox">
        @if (int.Parse(ViewData["currentPage"].ToString()) != 1)
        {
            <a id="1" class="page">首页</a><a id="@(int.Parse(ViewData["currentPage"].ToString())-1)" class="page">上一页</a>
        }
        @for (int i = 0; i <= 10; i++)
        {                       //一共最多显示10个页码，前面5个，后面5个
            if ((int.Parse(ViewData["currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
            {
                if (5 == i)
                {                               //当前页处理
                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentPage"].ToString())</a>
                }
                else
                {                               //一般页处理
                    <a class="page" id="@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)">@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)</a>

                }
            }
        }
        @if (int.Parse(ViewData["currentPage"].ToString()) == int.Parse(ViewData["pagecount"].ToString()))
        {
            <a id="@(int.Parse(ViewData["currentPage"].ToString())+1)" class="page">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" class="page">末页</a>
        }
        <span>第@(int.Parse(ViewData["currentPage"].ToString()))页/共@(int.Parse(ViewData["pagecount"].ToString()))页</span>
    </div>
}
<script type="text/javascript">
    //删除验收单列表中的验收单
    $(".del_accept").click(function(){
        var ID=$(this).attr("id");
        if($("#comfirm-d").length>0){ 
            $("#comfirm-d").fadeIn(200);
        }
        else{
            $("body").myComfirm({ 
                index:"comfirm-d",
                btncloseid:"btnclose3",
                btnsubid:"btnsub3",
                img:"url('../Images/alert-comfirm.png') 240px 0", //提示信息相应图片  必须
                content:"请确认是否删除本条信息！",  //提示信息内容 必须
                iscomfirm:true,
                onComfirm:function(){ 
                    $.ajax({
                        url:'/供应商后台/DelAcceptTicket',
                        data:{id:ID},
                        success:function(){
                            window.location.reload();
                        },
                    });
                },
                onCancel:function(){
                    $("#comfirm-d").fadeOut(200);
                },
            });
        }
    });


    $("a.page").click(function () {
        
        var is_void=$("#isviod").find("option:selected").text();
        $.ajax({
            type: "POST",
            url: "/供应商后台/Part_AcceptanceTicketList",
            data: { page: $(this).attr("id"),isvoid:is_void},
            success: function (data) {
                $("#acceptlist").html(data);
            }
        });
    });
    $(function () {
        $("#新增机票验收单").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#新增机票验收单").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>