@model IEnumerable<Go81WebApp.Models.数据模型.订单数据模型.订单>
@{
    ViewBag.Title = "我的订单";
    //Layout = "_BackLayout.cshtml";
}
<style>
    .good_left {
        float: left;
        width: 80px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .good_right {
        float: left;
        width: 280px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .good_box {
        width: 100%;
        height: 90px;
        overflow-y: hidden;
        margin-bottom: 10px;
    }

    .good_price {
        color: #ff0000;
    }

    .bg_outdiv_right ul {
        list-style: none;
        padding: 0px;
    }

    .imginfo {
        width: 80px;
        height: 80px;
    }

    table#outboxtb {
        border: 1px solid #CBCBCB;
        border-left: none;
        border-top: none;
        font-size: 13px;
    }

        table#outboxtb tr td {
            border: 1px solid #CBCBCB;
            border-right: none;
            border-bottom: none;
        }

    .trbg {
        background-color: #F0F0F0;
        line-height: 30px;
    }

    .markertd {
        text-align: center;
        vertical-align: top;
    }
    .markertd label{font-weight: normal;font-size: 12px;}
    .posbox {
        position: relative;
    }

    .arrowbox {
        position: relative;
        top: 0px;
        left: 10px;
        display: none;
    }

    .arrow {
        width: 0px;
        height: 0px;
        border: 10px solid transparent;
        border-left: 10px solid #8A8181;
        position: absolute;
        top: 10px;
        left: 0px;
    }

    .arrowIn {
        width: 0px;
        height: 0px;
        border: 9px solid transparent;
        border-left: 9px solid #fff;
        position: absolute;
        top: 11px;
    }

    .arrowbox_content {
        position: absolute;
        top: 0px;
        left: -251px;
        width: 250px;
        height: auto;
        word-break: break-all;
        background-color: #fff;
        border: 1px solid #9F9F9F;
        box-shadow: 0px 0px 5px #E2E2E2;
        -webkit-box-shadow: 0px 0px 5px #E2E2E2;
        -moz-box-shadow: 0px 0px 5px #E2E2E2;
        text-align: left;
        border-radius: 3px;
    }

    .arrowbox_contentIn {
        width: 240px;
        margin: 10px auto;
        height: auto;
    }

    .Contactcontent {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        cursor: pointer;
    }

    .paybt {
        display: block;
        width: 100px;
        height: 20px;
        line-height: 20px;
        color: #ff0000;
        text-align: center;
        border: 1px solid #ff0000;
        margin: 10px auto;
        border-radius: 3px;
        cursor: pointer;
        font-weight: bold;
    }

        .paybt:hover {
            background-color: #ff0000;
            color: #fff;
        }

    .deleteorder {
        position: absolute;
        display: none;
        width: 17px;
        height: 18px;
        right: 15px;
        top: 6px;
        background-image: url(/Images/deleteorder.png);
        background-size: 17px 18px;
        background-repeat:no-repeat;
        cursor: pointer;
    }

    .orderheader {
        background-color: #E9F1FF;
        padding-left: 10px;
        position: relative;
        line-height: 30px;
    }

    td ul {
        width: 100%;
        list-style: none;
        list-style-type: none;
        position: absolute;
        background-color: #ff0;
        top: 28px;
        left: 0px;
        line-height: 30px;
        text-align: center;
        margin: 0px;
        z-index: 100;
        background-color: #FEFCFC;
        box-shadow: 0px 3px 10px #E2E2E2;
        -webkit-box-shadow: 0px 3px 10px #E2E2E2;
        -moz-box-shadow: 0px 3px 10px #E2E2E2;
        display: none;
    }

        td ul li:hover {
            cursor: pointer;
            background-color: #EEEEEE;
        }

    #status_content {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 28px;
        width: 100%;
        line-height: 30px;
        cursor: pointer;
        z-index: 101;
    }

    #orderstatus {
        background-image: url(/Images/Orderstatus.png);
        display: inline-block;
        width: 12px;
        height: 10px;
        background-position:15px 10px;
    }
</style>
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        <div id="title_div" class="gys_xttz_topbg">
            <div class="index_bottom_zb_top_title">我的采购订单</div>
        </div>
        <div style="margin-top:10px;">
            <table width="100%" id="outboxtb" cellpadding="0" cellspacing="0">
                <tr class="trbg">
                    <td width="50%" align="center">订单详情</td>
                    <td align="center" width="10%">收货人</td>
                    <td align="center" width="10%">总计</td>
                    <td align="center" width="10%" style="position:relative;">
                        <div id="status">
                            @if (ViewData["status"].ToString() == "1")
                            {
                                <ul>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=-1">全部状态</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=0">未付款</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=1" style="color:red;">已付款</a></li>
                                </ul>
                            }
                            else if (ViewData["status"].ToString() == "0")
                            {
                                <ul>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=-1">全部状态</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=0" style="color:red;">未付款</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=1">已付款</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=-1" style="color:red;">全部状态</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=0">未付款</a></li>
                                    <li><a href="/个人用户后台/PurchaseInfo?page=1&s=1">已付款</a></li>
                                </ul>
                            }
                            <div id="status_content">
                                @if (ViewData["status"].ToString() == "1")
                                {
                                    <span>已付款</span><span id="orderstatus"></span>
                                }
                                else if (ViewData["status"].ToString() == "0")
                                {
                                    <span>未付款</span><span id="orderstatus"></span>
                                }
                                else
                                {
                                    <span>全部状态</span><span id="orderstatus"></span>
                                }
                            </div>
                        </div>
                    </td>
                    <td align="center" width="20%">操作</td>
                </tr>
                @{
                    bool exist = false;
                    bool exist1 = false;
                    int counter = 0;
                }
                @foreach (var item in Model)
                {
                    foreach (var child in item.商品订单列表)
                    {
                        if (!exist1)
                        {
                            <tr>
                                <td colspan="5" class="orderheader">
                                    <span>订单时间：@item.基本数据.添加时间.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                    <a title="删除订单" data-id="@item.Id" class="deleteorder"></a>
                                </td>
                            </tr>
                            exist1 = true;
                        }
                        <tr>
                            <td width="50%">
                                <div class="good_box">
                                    <div class="good_left">
                                        <a href="/商品陈列/Product_Inmall?id=@child.商品.商品ID" title="@child.商品.商品.商品信息.商品名"><img src="@child.商品.商品.商品信息.商品图片.First().Replace("original", "150X150")" class="imginfo" /></a>
                                    </div>
                                    <div class="good_right">
                                        <div><a href="/商品陈列/Product_Inmall?id=@child.商品.商品ID">@child.商品.商品.商品信息.商品名</a></div>
                                        <div class="good_price">@string.Format("{0:c2}", child.商品.商品.销售信息.价格) x @(child.数量)</div>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </td>
                            @if (!exist)
                            {
                                <td rowspan="@item.商品订单列表.Count" class="markertd">
                                    <div class="posbox">
                                        <div class="Contactcontent">
                                            @item.联系人
                                            <div style="font-size:13px;color:#ff0000;">(查看更多)</div>
                                        </div>
                                        <div class="arrowbox">
                                            <div class="arrowbox_content">
                                                <div class="arrowbox_contentIn">
                                                    <div>@item.联系人</div>
                                                    <div>@item.详细地址</div>
                                                    <div>@item.联系电话</div>
                                                </div>
                                            </div>
                                            <div class="arrow"></div>
                                            <div class="arrowIn"></div>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="@item.商品订单列表.Count" class="markertd" style="color:#ff0000;">@string.Format("{0:c2}", item.订单总价格)</td>
                                <td rowspan="@item.商品订单列表.Count" class="markertd">
                                    @if (item.已付款)
                                    {
                                        <span>已付款</span>
                                    }
                                    else
                                    {
                                        <span style="color:#ff0000;">等待付款</span>
                                    }
                                </td>
                                <td rowspan="@item.商品订单列表.Count" class="markertd">
                                    @if (item.已付款)
                                    {
                                        <span>已付款</span>
                                    }
                                    else
                                    {
                                        <form action="/PayResult/SendMessage1" method="post" name="pay@(counter)">
                                            <a class="paybt" id="@counter">付款</a>
                                            <input type="hidden" name="orderid" value="@item.Id" />
                                            <input type="hidden" name="money" value="0.01" />
                                            <div style="width:160px;">
                                                <input style="vertical-align: middle; margin: 0 0 2px 0;" onclick="setNumber(this)" id="@item.Id" type="checkbox" alt="@(counter)" />
                                                <label for="@item.Id">使用优惠码</label>
                                            </div>
                                            <div id="yhm@(counter)" style="display:none;">
                                                <input type="text" name="yhm" placeholder="请输入优惠码" value="" id="yh@(counter)" />
                                            </div>
                                        </form>
                                        counter++;
                                    }
                                </td>
                                    exist = true;
                            }
                        </tr>
                    }
                    exist = false;
                    exist1 = false;
                }
            </table>
        </div>
    </div>
</div>
<div class="gys_znxx_content_detailbox">
    @{
            int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
            int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
            if (Pagecount > 0)
            {
                if (CurrentPage != 1)
                {
    <a href='/个人用户后台/PurchaseInfo?page=1&s=@ViewData["status"]'>首页</a><a style="border-left:none;" href='/个人用户后台/PurchaseInfo?page=@(CurrentPage-1)&s=@ViewData["status"]'>上一页</a>
                }
            }
            if (Pagecount <= 6)
            {
                for (int i = 1; i <= Pagecount; i++)
                {
                    if (CurrentPage == i)
                    {
    <a style="border:1px solid red;" href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                }
                else
                {
    <a href='/个人用户后台/PurchaseInfo?page=@i&s = @ViewData["status"]'>@i</a>
                }
            }
        }
        else
        {
            if (CurrentPage < 6)
            {
                if (CurrentPage != 1)
                {
                    for (int i = 1; i < 7; i++)
                    {
                        if (CurrentPage == i)
                        {
    <a style="border:1px solid red;" href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                        }
                        else
                        {
    <a href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                        }
                    }
    <span>...</span><a href="/个人用户后台/PurchaseInfo?page=@(Pagecount)&s=@ViewData["status"]">@Pagecount</a>
                }
                else
                {
                    for (int i = 1; i < 7; i++)
                    {
                        if (CurrentPage == i)
                        {
    <a style="border:1px solid red;" href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                        }
                        else
                        {
    <a href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                        }
                    }
    <span>...</span><a href="/个人用户后台/PurchaseInfo?page=@(Pagecount)&s=@ViewData["status"]">@Pagecount</a>
                }
            }
            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
            {
    <a href="/个人用户后台/PurchaseInfo?page=1&s=@ViewData["status"]">1</a><span>...</span>
                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                {
                    if (CurrentPage == i)
                    {
    <a style="border:1px solid red;" href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                    }
                    else
                    {
    <a href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                    }
                }
    <span>...</span><a href="/个人用户后台/PurchaseInfo?page=@(Pagecount)&s=@ViewData["status"]">@Pagecount</a>
            }
            else if (CurrentPage >= Pagecount - 3)
            {
    <a href="/个人用户后台/PurchaseInfo?page=1&s=@ViewData["status"]">1</a><span>...</span>
                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                {
                    if (CurrentPage == i)
                    {
    <a style="border:1px solid red;" href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                    }
                    else
                    {
    <a href='/个人用户后台/PurchaseInfo?page=@i&s=@ViewData["status"]'>@i</a>
                    }
                }
            }
        }
            if (Pagecount > 0)
            {
                if (CurrentPage != Pagecount)
                {
    <a style="border-right:none;" href='/个人用户后台/PurchaseInfo?page=@(CurrentPage+1)&s=@ViewData["status"]'>下一页</a><a href='/个人用户后台/PurchaseInfo?page=@(Pagecount)&s=@ViewData["status"]'>末页</a>
                }
    <span>第@(CurrentPage)页/共@(Pagecount)页</span>
        }
    }
</div>

<script>
    function setNumber(th) {
        var index = $(th).attr("alt");
        if (th.checked) {
            $("#yhm" + index).show();
        }
        else {
            $("#yh" + index).val("");
            $("#yhm" + index).hide();
        }
    }
    $(".paybt").click(function () {
        var index = $(this).attr("id");
        var val = $("#yh" + index).val();
        if (val != "") {
            /*$.get("/个人用户后台/Checkstr", { ser:val }, function (data) {
                if (data == -1) {
                    alert("优惠码不正确！");
                }
                else {
                    var href = $(this).attr("data-ng-href") + "&prior=" + val;
                    window.location = href;
                }
            });*/
            document.forms["pay" + index].submit();
        }
        else {
            document.forms["pay" + index].submit();
        }
    });
    $(".Contactcontent").mouseover(function () {
        $(this).next(".arrowbox").show();
    });
    $(".Contactcontent").mouseout(function () {
        $(this).next(".arrowbox").hide();
    });
    $(function () {
        $("#我的订单").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#我的订单").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    $(".orderheader").mouseover(function () {
        $(this).find(".deleteorder").css("display", "block");
    });
    $(".orderheader").mouseout(function () {
        $(this).find(".deleteorder").css("display", "none");
    });
    $(".deleteorder").click(function () {
        var id = $(this).attr("data-id");
        if (confirm("确定删除此订单吗？")) {
            window.location = '/个人用户后台/DeleteOrder?id=' + id;
        }
    });
    $("#status").mouseover(function () {
        $(this).children("#status_content").css("background-color", "#FEFCFC");
        $(this).find("#orderstatus").css("background-position", "0px 10px");
        $(this).children("ul").show();
    });
    $("#status").mouseout(function () {
        $(this).children("#status_content").css("background-color", "#F0F0F0");
        $(this).find("#orderstatus").css("background-position", "15px 10px");
        $(this).children("ul").hide();
    });
</script>