@model Go81WebApp.Models.数据模型.推荐数据模型.推荐信息
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">审核推荐信息</div>
        </div>
    </div>
    <div class="gys_znxx_box">
        <div class="gys_znxx_contentbox">
            <div class="gys_znxx_content">

                <div style=" width: 898px; height:auto; overflow:hidden; ">
                    <div style=" width: 800px; margin: 0 auto; padding:10px;">

                        <div style="width:800px; height:30px; padding:10px;">
                            @if (null != ViewData["r_t"] && ViewData["r_t"].ToString() == "推荐供应商")
                            {
                                <div style="width: 200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float: left; text-align: right; line-height: 30px; padding-right: 20px;">企业名称：</div>
                            }
                            else
                            {
                                <div style="width: 200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float: left; text-align: right; line-height: 30px; padding-right: 20px;">单位名称：</div>
                            }
                                <div class="procure_selectlistdiv">
                                @Html.DisplayFor(model => model.名称)
                            </div>
                        </div>

                        <div style="width:800px; height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">联系人姓名：</div>
                            <div class="procure_selectlistdiv">
                                @Html.DisplayFor(model => model.联系方式.联系人)
                            </div>
                        </div>

                        <div style="width:800px; height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">手机：</div>
                            <div class="procure_selectlistdiv">
                                @Html.DisplayFor(model => model.联系方式.手机)
                            </div>
                        </div>
                        <div style="width:800px; height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">固定电话：</div>
                            <div class="procure_selectlistdiv">
                                @Html.DisplayFor(model => model.联系方式.固定电话)
                            </div>
                        </div>
                        <div style="width:800px; height:100px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">推荐理由：</div>
                            <div class="procure_selectlistdiv">
                                @Html.TextAreaFor(model => model.推荐理由,new {style="width:400px; height:100px;"})
                            </div>
                        </div>
                        
                        @if (ViewData["r_t"] != null && (ViewData["r_t"].ToString() == "审核推荐的供应商" || ViewData["r_t"].ToString() == "审核推荐的评审专家"))
                        {
                            if (ViewData["r_t"].ToString() == "审核推荐的供应商")
                            {
                                <input type="hidden" name="messagecomfrom" value="g" />
                            }
                            else
                            {
                                <input type="hidden" name="messagecomfrom" value="" />
                            }

                            <div style="text-align:center; padding-top: 20px;">
                                <input id="modiibutton" type="submit" name="action" class="front_login_rightbox_button" style="width: 150px;" value="审核通过" onclick="return confirm('确定审核通过？');">
                                <input id="modiibutton" type="submit" name="action" class="front_login_rightbox_button" style="width: 150px;" value="审核不通过" onclick="return confirm('确定审核不通过？');">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#@ViewData["r_t"]").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#@ViewData["r_t"]").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>