@using Go81WebApp.Models.数据模型.内容数据模型;

<style type="text/css">
    .gys_znxx_content table {
        border-right: none;
        margin-top: 5px;
    }

    .gys_znxx_content td, th {
        border-right: 1px solid #aaa;
        padding: 5px;
        letter-spacing: 0px;
    }

    .gys_znxx_content td {
        color: #333333;
    }

        .gys_znxx_content td a {
            padding: 2px 5px 2px 5px;
            cursor: pointer;
            color: #666666;
        }

            .gys_znxx_content td a:hover {
                color: #b36e08;
            }

    .partmentlist_inputrightbox {
        width: 580px;
        float: left;
    }

    .gys_xttz_topbg a {
        margin-top: 0;
    }

    .adaddtip {
        font-weight: normal;
        font-size: 14px;
        padding-left: 10px;
        text-decoration: underline;
        color: red;
        padding-top: 5px;
    }
</style>
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">审核新闻列表</div>
    </div>
</div>
<div class="gys_znxx_box" style="width:1042px;">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="65%">新闻标题</th>
                    <th width="10%">状态</th>
                    <th width="15%">时间</th>
                    <th width="10%">操作</th>
                </tr>
                @{
                    IEnumerable<新闻> model=ViewData["后台新闻列表"] as IEnumerable<新闻>;
                }
                @if(!model.Any())
                {
                    <tr><td colspan="4">暂时没有要审核的新闻</td></tr>
                }
                @foreach (var item in model)
                {
                    <tr>
                        <td><a href="/单位用户后台/Procure_NewsDetail?id=@item.Id&come=a" target="_blank">@item.内容主体.标题</a></td>
                        @if (item.审核数据.审核状态 == Go81WebApp.Models.数据模型.审核状态.审核通过)
                        {
                            <td>@item.审核数据.审核状态</td>
                        }
                        else if (item.审核数据.审核状态 == Go81WebApp.Models.数据模型.审核状态.审核未通过)
                        {
                            <td style="color:red;">@item.审核数据.审核状态 : @item.审核数据.未通过理由</td>
                        }
                        else
                        {
                            <td style="color:blue;">@item.审核数据.审核状态</td>
                        }
                        <td>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</td>
                        <td class="gys_znxx_content_tabletime"><a href="/单位用户后台/Procure_NewsList_Audit_AuditDetail?id=@item.Id" target="_blank">审核</a>|<a onclick="del(@item.Id)">删除</a></td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/单位用户后台/Procure_NewsList_Audit?page=1'>首页</a><a href='/单位用户后台/Procure_NewsList_Audit?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Procure_NewsList_Audit?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Procure_NewsList_Audit?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/单位用户后台/Procure_NewsList_Audit?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/单位用户后台/Procure_NewsList_Audit?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/单位用户后台/Procure_NewsList_Audit?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Procure_NewsList_Audit?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/单位用户后台/Procure_NewsList_Audit?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/Procure_NewsList_Audit?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#审核新闻").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#审核新闻").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function del(num)
    {
        if(confirm("点击确定即将删除此消息！确定删除吗？"))
        {
            window.location="/单位用户后台/Procure_NewsDelete?id="+num+"&come=a";
        }
    }
</script>
