@using Gma.QrCodeNet.Encoding.DataEncodation
@using Go81WebApp.Models.数据模型

<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">我提交的评审专家抽取申请<span style="color:red;">若有待批准申请，请联系成都军区联勤部军需物资油料部采购管理处：方助理028-683389。</span></div>
    </div>
</div>
<div class="gys_znxx_box">

    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">

            <div><b>待抽选</b>：</div>
            <div id="ing_table">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="16%">申请人</th>
                        <th width="16%">项目名称</th>
                        <th width="10%">项目编号</th>
                        <th width="17%">评标时间</th>
                        <th width="17%">申请时间</th>
                        <th width="12%">申请状态</th>
                        <th width="12%">操作</th>
                    </tr>
                    @{
                        IEnumerable<专家抽选记录> list = ViewData["专家抽取已批准列表"] as IEnumerable<专家抽选记录>;
                        if (list != null && list.Any())
                        {
                            foreach (var i in list)
                            {
                                <tr>
                                    @if (i.经办人 != null && i.经办人.用户数据 != null && i.经办人.用户数据.联系方式 != null && !string.IsNullOrWhiteSpace(i.经办人.用户数据.联系方式.联系人))
                                    {
                                        <td>@i.经办人.用户数据.联系方式.联系人</td>
                                    }
                                    else
                                    {
                                        <td>未填写</td>
                                    }
                                    <td>@i.项目名称</td>
                                    <td>@i.项目编号</td>
                                    <td>@i.评标时间.ToString()</td>
                                    <td>@i.申请时间.ToString()</td>
                                    <td>@i.申请抽选状态</td>
                                    <td class="gys_znxx_content_tabletime">
                                        @Html.ActionLink("进行抽选", "Expert_Choose", new { id = i.Id })
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">暂无相关列表</td>
                            </tr>
                        }
                    }
                </table>
                <div class="gys_znxx_content_detailbox">
                    @if (list.Count() != 0)
                    {
                        if (int.Parse(ViewData["ing_currentPage"].ToString()) != 1)
                        {
                            <a id="1" onclick="changeing_page(this)">首页</a><a id="@(int.Parse(ViewData["ing_currentPage"].ToString())-1)" onclick="changeing_page(this)">上一页</a>
                        }
                        for (int i = 0; i <= 10; i++)
                        {                       //一共最多显示10个页码，前面5个，后面5个
                            if ((int.Parse(ViewData["ing_currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["ing_currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["ing_pagecount"].ToString()))
                            {
                                if (5 == i)
                                {                               //当前页处理
                                    <a class="currentPage">@int.Parse(ViewData["ing_currentPage"].ToString())</a>
                                }
                                else
                                {                               //一般页处理
                                    <a id="@(int.Parse(ViewData["ing_currentPage"].ToString()) + i - 5)" onclick="changeing_page(this)">@(int.Parse(ViewData["ing_currentPage"].ToString()) + i - 5)</a>

                                }
                            }
                        }
                        if (int.Parse(ViewData["ing_currentPage"].ToString()) != int.Parse(ViewData["ing_pagecount"].ToString()))
                        {
                            <a id="@(int.Parse(ViewData["ing_currentPage"].ToString())+1)" onclick="changeing_page(this)">下一页</a><a id="@int.Parse(ViewData["ing_pagecount"].ToString())" onclick="changeing_page(this)">末页</a>
                        }
                        <span>第@(ViewData["ing_currentPage"].ToString())页/共@(ViewData["ing_pagecount"].ToString())页</span>
                    }
                </div>
            </div>

            <div style="margin-top:50px;"><b>待批准</b>：<span style="color:red;">请联系成都军区联勤部军需物资油料部采购管理处：方助理028-683389。</span></div>
            <div id="pre_table">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="20%">项目名称</th>
                        <th width="20%">项目编号</th>
                        <th width="17%">评标时间</th>
                        <th width="17%">申请时间</th>
                        <th width="6%">状态</th>
                        <th width="20%">操作</th>
                    </tr>
                    @{
                        IEnumerable<专家抽选记录> basedata = ViewData["专家抽取待批准列表"] as IEnumerable<专家抽选记录>;
                        if (basedata != null && basedata.Any())
                        {
                            foreach (var i in basedata)
                            {
                                <tr>
                                    <td>@i.项目名称</td>
                                    <td>@i.项目编号</td>
                                    <td>@i.评标时间.ToString()</td>
                                    <td>@i.申请时间.ToString()</td>
                                    @if (i.基本数据.已屏蔽)
                                    {
                                        <td style="color: red;">已撤销</td>
                                        <td class="gys_znxx_content_tabletime">
                                            @Html.ActionLink("查看", "Expert_ApplayCancel", new { id = i.Id })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>正常</td>
                                        <td class="gys_znxx_content_tabletime">
                                            @Html.ActionLink("查看", "Expert_ApplayCancel", new { id = i.Id })|<a onclick="cancelthisapplay(@i.Id);">撤销本次申请</a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">暂无相关列表</td>
                            </tr>
                        }
                    }
                </table>

                <div class="gys_znxx_content_detailbox">
                    @if (basedata.Count() != 0)
                    {
                        if (int.Parse(ViewData["pre_currentPage"].ToString()) != 1)
                        {
                            <a id="1" onclick="changepre_page(this)">首页</a><a id="@(int.Parse(ViewData["pre_currentPage"].ToString())-1)" onclick="changepre_page(this)">上一页</a>
                        }
                        for (int i = 0; i <= 10; i++)
                        {                       //一共最多显示10个页码，前面5个，后面5个
                            if ((int.Parse(ViewData["pre_currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["pre_currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pre_pagecount"].ToString()))
                            {
                                if (5 == i)
                                {                               //当前页处理
                                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["pre_currentPage"].ToString())</a>
                                }
                                else
                                {                               //一般页处理
                                    <a id="@(int.Parse(ViewData["pre_currentPage"].ToString()) + i - 5)" onclick="changepre_page(this)">@(int.Parse(ViewData["pre_currentPage"].ToString()) + i - 5)</a>

                                }
                            }
                        }
                        if (int.Parse(ViewData["pre_currentPage"].ToString()) != int.Parse(ViewData["pre_pagecount"].ToString()))
                        {
                            <a id="@(int.Parse(ViewData["pre_currentPage"].ToString())+1)" onclick="changepre_page(this)">下一页</a><a id="@int.Parse(ViewData["pre_pagecount"].ToString())" onclick="changepre_page(this)">末页</a>
                        }
                        <span style="font-size:12px;">第@(ViewData["pre_currentPage"])页/共@(ViewData["pre_pagecount"])页</span>
                    }
                </div>
            </div>

            <div style="margin-top:50px;"><b>未批准</b>：</div>
            <div id="no_table">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="16%">申请人</th>
                        <th width="16%">项目名称</th>
                        <th width="10%">项目编号</th>
                        <th width="17%">评标时间</th>
                        <th width="17%">申请时间</th>
                        <th width="12%">申请状态</th>
                        <th width="12%">操作</th>
                    </tr>
                    @{
                        IEnumerable<专家抽选记录> temp = ViewData["专家抽取未获批准列表"] as IEnumerable<专家抽选记录>;
                        if (temp != null && temp.Any())
                        {
                            foreach (var i in temp)
                            {
                                <tr>
                                    @if (i.经办人 != null && i.经办人.用户数据 != null && i.经办人.用户数据.联系方式 != null && !string.IsNullOrWhiteSpace(i.经办人.用户数据.联系方式.联系人))
                                    {
                                        <td>@i.经办人.用户数据.联系方式.联系人</td>
                                    }
                                    else
                                    {
                                        <td>未填写</td>
                                    }
                                    <td>@i.项目名称</td>
                                    <td>@i.项目编号</td>
                                    <td>@i.评标时间.ToString()</td>
                                    <td>@i.申请时间.ToString()</td>
                                    <td>@i.申请抽选状态</td>
                                    <td class="gys_znxx_content_tabletime">
                                        ///////@*@Html.ActionLink("进行抽选", "Part_Expert_Select", new { id = i.Id })*@
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">暂无相关列表</td>
                            </tr>
                        }
                    }
                </table>
                <div class="gys_znxx_content_detailbox">
                    @if (temp.Count() != 0)
                    {
                        if (int.Parse(ViewData["no_currentPage"].ToString()) != 1)
                        {
                            <a id="1" onclick="changeno_page(this)">首页</a><a id="@(int.Parse(ViewData["no_currentPage"].ToString())-1)" onclick="changeno_page(this)">上一页</a>
                        }
                        for (int i = 0; i <= 10; i++)
                        {                       //一共最多显示10个页码，前面5个，后面5个
                            if ((int.Parse(ViewData["no_currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["no_currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["no_pagecount"].ToString()))
                            {
                                if (5 == i)
                                {                               //当前页处理
                                    <a class="currentPage">@int.Parse(ViewData["no_currentPage"].ToString())</a>
                                }
                                else
                                {                               //一般页处理
                                    <a id="@(int.Parse(ViewData["no_currentPage"].ToString()) + i - 5)" onclick="changeno_page(this)">@(int.Parse(ViewData["no_currentPage"].ToString()) + i - 5)</a>

                                }
                            }
                        }
                        if (int.Parse(ViewData["no_currentPage"].ToString()) != int.Parse(ViewData["no_pagecount"].ToString()))
                        {
                            <a id="@(int.Parse(ViewData["no_currentPage"].ToString())-1)" onclick="changeno_page(this)">下一页</a><a id="@int.Parse(ViewData["no_pagecount"].ToString())" onclick="changeno_page(this)">末页</a>
                        }
                        <span>第 @ViewData["no_currentPage"].ToString() 页/共 @ViewData["no_pagecount"].ToString() 页</span>
                    }
                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function cancelthisapplay(id) {
        if (confirm("确定撤销本次申请？")) {
            window.location.href = "/专家抽选/Expert_ApplayCancelAction?Id=" + id;
        }
    }
    function changepre_page(a) {
        //alert(a.getAttribute("id"))公告翻页ajax
        $.get("/专家抽选/Part_Expert_Applay_S_pre?page=" + encodeURI(a.getAttribute("id")), function (response) {

            $("#pre_table").html(response);
        });
    }
    function changeing_page(a) {
        //alert(a.getAttribute("id"))公告翻页ajax
        $.get("/专家抽选/Part_Expert_Applay_S_ing?page=" + encodeURI(a.getAttribute("id")), function (response) {

            $("#ing_table").html(response);
        });
    }

    function changeno_page(a) {
        //alert(a.getAttribute("id"))公告翻页ajax
        $.get("/专家抽选/Part_Expert_Applay_S_no?page=" + encodeURI(a.getAttribute("id")), function (response) {

            $("#no_table").html(response);
        });
    }
</script>
<script type="text/javascript" language="javascript">
    //var i = 1;
    $(document).ready(function () {
        //$(".gys_znxx_content_detailbox a").each(function () {
        //    if ($(this).text() == i) {
        //        $(this).addClass("currentPage");
        //    }
        //});
        $("#我可进行的抽取申请").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#我可进行的抽取申请").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>

