@using Go81WebApp.Models.数据模型
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <th width="25%">项目名称</th>
        <th width="23%">项目编号</th>
        <th width="17%">评标时间</th>
        <th width="8%">是否评分</th>
        <th width="27%">操作</th>
    </tr>
    @{
        IEnumerable<专家抽选记录> ed_list = ViewData["已完成的抽选列表"] as IEnumerable<专家抽选记录>;
        if (ed_list != null && ed_list.Any())
        {
            foreach (var i in ed_list)
            {
                <tr>
                    <td>@i.项目名称</td>
                    <td>@i.项目编号</td>
                    <td>@i.评标时间.ToString()</td>
                    @if (i.是否已评分)
                    {
                        <td>已评分</td>
                    }
                    else
                    {
                        <td style="color: red;">未评分</td>
                    }
                    <td>
                        @if (i.是否已打印)
                        {
                            <a>已打印，该信息已关闭</a>
                        }
                        else
                        {
                            <a href="/专家抽选/Expert_Choose_Print?id=@i.Id&c=d">打印名单</a>
                        }
                        @if (!i.是否已评分)
                        {
                            <span>|</span><a href="/专家抽选/Expert_Scoring?id=@i.Id&c=d">进行评分</a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">暂无相关列表</td>
            </tr>
        }
    }
</table>
<div class="gys_znxx_content_detailbox">
    @if (ed_list.Count() != 0)
    {
        if (int.Parse(ViewData["ed_currentPage"].ToString()) != 1)
        {
            <a id="1" onclick="changeed_page(this)">首页</a><a id="@(int.Parse(ViewData["ed_currentpage"].ToString())-1)" onclick="changeed_page(this)">上一页</a>
        }
        for (int i = 0; i <= 10; i++)
        {                       //一共最多显示10个页码，前面5个，后面5个
            if ((int.Parse(ViewData["ed_currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["ed_currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["ed_pagecount"].ToString()))
            {
                if (5 == i)
                {                               //当前页处理
                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["ed_currentPage"].ToString())</a>
                }
                else
                {                               //一般页处理
                    <a id="@(int.Parse(ViewData["ed_currentPage"].ToString()) + i - 5)" onclick="changeed_page(this)">@(int.Parse(ViewData["ed_currentPage"].ToString()) + i - 5)</a>

                }
            }
        }
        if (int.Parse(ViewData["ed_currentPage"].ToString()) != int.Parse(ViewData["ed_pagecount"].ToString()))
        {
            <a id="@(int.Parse(ViewData["ed_currentPage"].ToString())+1)" onclick="changeed_page(this)">下一页</a><a id="@int.Parse(ViewData["ed_pagecount"].ToString())" onclick="changeed_page(this)">末页</a>
        }
        <span style="font-size:12px;">第@(ViewData["ed_currentPage"])页/共@(ViewData["ed_pagecount"])页</span>
    }

</div>

<script type="text/javascript" language="javascript">
    function changeed_page(a) {
        //alert(a.getAttribute("id"))公告翻页ajax
        $.get("/专家抽选/Part_Expert_Applay_S_ed?page=" + encodeURI(a.getAttribute("id")), function (response) {

            $("#ed_table").html(response);
        });
    }
</script>
