@using Go81WebApp.Models.数据模型
@using Go81WebApp.Models.数据模型.项目数据模型
<link href="~/css/index.css" rel="stylesheet" />
<div class="gys_znxx_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">待审核需求申请列表</div>
    </div>
</div>
<div class="gys_znxx_box">

    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" id="con" cellpadding="0" cellspacing="0">
                <tr><th>标题</th><th>申请单位</th><th>最后修改时间</th><th>审核状态</th><th>操作</th></tr>
                @{
                    IEnumerable<招标采购项目> model = ViewData["未审核项目列表"] as IEnumerable<招标采购项目>;
                }
                @if (!model.Any())
                {
                    <tr><td colspan="5">暂时没有待审核的需求申请</td></tr>
                }
                @foreach (var item in model)
                {
                    <tr>
                        <td align="center"><a href="/单位用户后台/Project_AuditDetail?id=@item.Id">@item.需求申请来源.需求申请.标题</a></td>
                        <td align="center">@item.需求提报单位.用户数据.单位信息.单位代号</td>
                        <td align="center">@item.基本数据.修改时间.ToString("yyyy-MM-dd")</td>
                        <td align="center">@item.审核数据.审核状态</td>
                        <td>
                            <a href="/单位用户后台/Project_AuditDetail?id=@item.Id">审核</a>
                            <a onclick="del(@item.Id)">删除</a>
                        </td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                <a href='/单位用户后台/Project_AuditList?page=1'>首页</a><a href='/单位用户后台/Project_AuditList?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                }
                                else
                                {
                <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                    }
                <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                    }
                <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                <a href="/单位用户后台/Project_AuditList?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                }
                <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                <a href="/单位用户后台/Project_AuditList?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                <a href="/单位用户后台/Project_AuditList?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/Project_AuditList?page=@Pagecount">末页</a>
                            }
                <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#审核需求申请").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#审核需求申请").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    function del(id) {
        if (confirm('确定删除吗？')) { window.location = '/单位用户后台/Project_Delete?id=' + id }
    }
</script>
