@model Go81WebApp.Models.数据模型.内容数据模型.新闻
<link rel="stylesheet" href="~/JS/kindeditor-4.1.10/themes/default/default.css" />
<link rel="stylesheet" href="~/JS/kindeditor-4.1.10/plugins/code/prettify.css" />
<script charset="utf-8" src="~/JS/kindeditor-4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="~/JS/kindeditor-4.1.10/lang/zh_CN.js"></script>
<script charset="utf-8" src="~/JS/kindeditor-4.1.10/plugins/code/prettify.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>
<script>
    var editor
    KindEditor.ready(function (K) {
        editor = K.create('#content', {
            cssPath: '../JS/kindeditor-4.1.10/plugins/code/prettify.css',
            uploadJson: '../JS/kindeditor-4.1.10/asp.net/upload_json.ashx',
            fileManagerJson: '../JS/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
            allowFileManager: true
        });

        $("#modiibutton").click(function () {
            if (editor.html() == null || editor.html() == "") {
                $("#tips").css("display", "block");
                $("#tips img").remove();
                $("#tips div#tips1").before("<img style='float:left;' src='/Images/warn.png' alt='警告' />");
                $("#tips div#tips1").text('请填写新闻内容！');
                return false;
            }
        });
    });
    function shutdown() {
        $("#tips").fadeOut(500);
    }
</script>
<link type="text/css" rel="stylesheet" href="~/JS/jquery.uploadify-v2.1.4/uploadify.css" />
<script type="text/javascript" language="javascript" src="~/JS/jquery.uploadify-v2.1.4/jquery.uploadify.v2.1.4.js" charset="gb2312"></script>
<script type="text/javascript" language="javascript" src="~/JS/jquery.uploadify-v2.1.4/swfobject.js" charset="gb2312"></script>
<div id="f1" class="modal_out">
    <div class="modal_in"></div>
    <div class="modal_content_loading">
        <img src="~/Images/ajax-loader.gif" />
        <span>正在上传，请稍等...</span>
    </div>
</div>
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">发布新闻</div>
    </div>
</div>
<div class="gys_znxx_box" style="width:1042px;" onkeypress="BindEnter(event,'btn')">
    @using (Html.BeginForm("Procure_NewsAdd", "单位用户后台", FormMethod.Post, new { enctype = "multipart/form-data", name = "Info" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="gys_znxx_contentbox">
            <div class="gys_znxx_content">
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">新闻标题：</div>
                    <div class="procure_formlistdiv">
                        @Html.TextBoxFor(model => model.内容主体.标题, new { @id = "checktxt" })
                        <span style="color:red;">*@Html.ValidationMessageFor(model => model.内容主体.标题)</span>
                    </div>
                </div>
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">来源名称：</div>
                    <div class="procure_formlistdiv">
                        @Html.EditorFor(model => model.新闻来源.来源名称)
                    </div>
                </div>

                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">来源链接：</div>
                    <div class="procure_formlistdiv">
                        @Html.EditorFor(model => model.新闻来源.来源链接)
                        <span style="color:red;">@Html.ValidationMessageFor(model => model.新闻来源.来源链接)</span>
                    </div>
                </div>
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">发布时间：</div>
                    <div class="procure_formlistdiv">
                        <input id="publishtime" style="width: 300px;" name="publishtime" type="text" onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd HH:mm:ss' })" /><span style="font-size: 14px; padding-left: 10px;">如果是转载的内容，请选择原时间，该时间将显示在页面上(可不填)</span>
                    </div>
                </div>
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">
                        新闻内容：
                        <span class="tipmessage" id="contenerror"></span>
                    </div>
                </div>
                <div style="position:relative">
                    @Html.TextAreaFor(model => model.内容主体.内容, new { style = "width: 880px; height: 550px; visibility: hidden;", id = "content" })
                    <div style="text-align:center;color:red; position:absolute; background-color:#EFF0E7; margin-top:-355px; margin-left:310px; display:none; width:250px; height:100px; border-radius:3px; font-size:12px;" id="tips">
                        <div style="width:auto"><a href="###" onclick="shutdown()" style="float:right;margin-top:10px; margin-right:10px">关闭</a></div>
                        <div style="clear:both; width:200px;height:30px;margin-left:35px;margin-top:40px;">
                            <div id="tips1" style="color:red; font-size:14px; float:left;margin-left:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="attachtext_s" name="attachtext_s" value="" />
    }
    <div style="margin-left:20px;">
        <div class="procureinputdiv">
            <div class="procureinputdiv_title">新闻类型：</div>
            <div class="procure_formlistdiv" style="padding-top:2px;"><input style=" width:12px; height:12px;" type="radio" checked="checked" name="type" value="1" onclick="ispicnews(this)" />一般新闻<input type="radio" style=" width:12px; margin-left:20px; height:12px;" value="2" name="type" onclick="ispicnews(this)" />图片新闻</div>
        </div>
        <script type="text/javascript">
            function ispicnews(a) {
                if (a.value == "1") {
                    document.getElementById("picnewsdiv").style.display = "none";
                }
                else {
                    document.getElementById("picnewsdiv").style.display = "block";
                }
            }
        </script>
        <div id="picnewsdiv" class="attachdiv">
            <div class="attachtitle">添加图片</div>
            <br />上传说明：
            <font color="red">1、只允许上传bmp,gif,jpg,jpeg图片<span style=" padding-left:100px;">2、图片比例最好为720*300(比例为12：5)</span></font><br />
            <div style="text-align:center">
                <div style="padding-bottom:5px">
                    <div id="Uppicture">
                        <form action="/单位用户后台/UploadImage" method="post" name="upload" enctype="multipart/form-data" target="showPic">
                            <input type="hidden" value="newsPic" name="pic1" />
                            <table width="100%" style="font-size:14px;">
                                <tr>
                                    <td width="50%" align="right">请选择扫描件：</td>
                                    <td width="50%" align="left">
                                        <input type="file" onchange="fileChange()" multiple="multiple" name="file1" style="width: 71px;" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div id="pBox1">

                        </div>
                        <div style="display:none;margin-left:180px;width:700px;  margin-right: auto;">
                            <iframe name="showPic" id="showPic" frameborder="0" height="150" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;"><input type="button" onclick="sendData()" id="btn" style="margin-top:20px; margin-left:auto; margin-right:auto; display:block; text-align:center; line-height:40px;" value="发       布" class="front_login_rightbox_button"></div>

</div>
<script type="text/javascript">
    $(function () {
        $("#发布新闻").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#发布新闻").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function fileChange() {
        document.forms["upload"].submit();
        $("#f1").show();
    }
    function sendData() {
        if ($(":input#checktxt").val() == "") {
            alert("请填写标题");
            $(":input#checktxt").focus();
            return false;
        }
        editor.sync("content");
        if ($("#content").val()=="")
        {
            alert("请填写内容");
            $("#content").focus();
            return false;
        }
        document.forms["Info"].submit();
    }
    function setPic(th) {
        var str = "<table>";
        var path = $(th).val();
        var path1 = path.split('|');
        var row = parseInt((path1.length - 1) / 4);
        var maintain = parseInt((path1.length - 1) % 4);
        var count = 0;
        if (row > 0) {
            for (var i = 0; i < row; i++) {
                str += "<tr>";
                for (var j = 0; j < 4; j++) {
                    str += "<td><img style='border:1px solid gray;' alt='" + path1[count] + "' src='" + path1[count] + "' width='100' height='80' />" +
                        "<a href='###' title='删除' onclick='delPic(this)' style='color:white; position:absolute; margin-top:-85px; margin-left:90px; display:block; width:10px; background-color:red; width:10px; height:10px; line-height:10px; text-align:center; font-size:12px;' lang='" + path1[count] + "'>×</a></td>"
                    count++;
                }
                str += "</tr>";
            }
        }
        if (maintain > 0) {
            str += "<tr>";
            for (var m = 0; m < maintain; m++) {
                str += "<td><img style='border:1px solid gray;' alt='" + path1[count] + "' src='" + path1[count] + "' width='100' height='80' />"
                    + "<a href='###' title='删除' onclick='delPic(this)' style='color:white; position:absolute; margin-top:-85px; margin-left:90px; display:block; width:10px; height:10px; line-height:10px; background-color:red; text-align:center; font-size:12px;' lang='" + path1[count] + "'>×</a></td>";
                count++;
            }
            str += "</tr>";
        }
        str += "</table>";
        document.getElementById("pBox1").innerHTML = str;
    }
    function delPic(th) {
        if(confirm("确定删除吗？"))
        {
            var path = $(th).attr("lang");
            $.get('/单位用户后台/DeleteImages', { uri: path },
                function (data) {
                    if (data == 1) {
                        $(th).parent().remove();
                    }
                });
            var newpath = document.getElementById("attachtext_s").value.split('|');
            var str = "";
            for (j = 0; j < newpath.length - 1; j++) {
                if (path != newpath[j]) {
                    str += newpath[j] + "|";
                }
            }
            document.getElementById("attachtext_s").value = str;
            setPic("#attachtext_s");
        }
        
    }
</script>
