@using Go81WebApp.Models.数据模型.竞标数据模型
@using Go81WebApp.Models.数据模型
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">网上竞价列表--已完成</div>
        </div>
    </div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="4%">序号</th>
                    <th width="10%">项目编号</th>
                    <th width="10%">项目名称</th>
                    <th width="20%">商品名称</th>
                    <th width="20%">商品型号</th>
                    <th width="8%">商品数量</th>
                    @*<th width="10%">起始价格</th>*@
                    <th width="10%">结束时间</th>
                    <th width="6%">操作</th>
                </tr>
                @{
                    var 竞标列表 = ViewData["网上竞标列表"] as IEnumerable<网上竞标>;
                    if (竞标列表.Any() && 竞标列表.Count() > 0)
                    {
                        var num = 0;
                        foreach (var item in 竞标列表)
                        {
                            num++;
                            <tr>
                                @*<td>
                                        @if (item.所属采购项目.招标采购项目ID != -1)
                                        {
                                            <a href="~/单位用户后台/Project_Detail?id=@item.Id" target="_blank">@item.所属采购项目.招标采购项目.项目名称</a>

                                        }
                                    </td>*@
                                <td style="text-align:center">@num</td>
                                <td>@item.项目编号</td>
                                <td>@item.项目名称</td>
                                <td>@item.商品名称</td>
                                <td>@item.商品型号</td>
                                <td>@item.商品需求数量</td>
                                @*<td>￥@item.起始价格</td>*@
                                <td>@item.报价结束时间.ToString("yyyy/MM/dd")</td>
                                <td class="gys_znxx_content_tabletime">@Html.ActionLink("查看", "OnlineBidding_Detail", new { id = item.Id,finish=1 })</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">暂无信息</td>
                        </tr>
                    }
                }
                
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (竞标列表.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/单位用户后台/OnlineBidding_List_Ed?page=1'>首页</a><a href='/单位用户后台/OnlineBidding_List_Ed?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/OnlineBidding_List_Ed?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/OnlineBidding_List_Ed?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/单位用户后台/OnlineBidding_List_Ed?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/单位用户后台/OnlineBidding_List_Ed?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/单位用户后台/OnlineBidding_List_Ed?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/OnlineBidding_List_Ed?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/单位用户后台/OnlineBidding_List_Ed?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/OnlineBidding_List_Ed?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    function del(num) {
        if (confirm("点击确定即将删除此消息！确定删除吗？")) {
            window.location = "/单位用户后台/OnlineBidding_Delete?id=" + num;
        }
    }
    
    $(document).ready(function () {
        $("#已完成的网上竞价").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#已完成的网上竞价").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>

