@model Go81WebApp.Models.数据模型.项目数据模型.招标采购预报名
<div id="sinuppagecontent">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th>供应商名称</th>
            <th>报名时间</th>
            @*<th>状态</th>*@
            <th>是否已付款买标书</th>
            <th style="display:none;">是否发送邮箱</th>
            <th>操作</th>
        </tr>
        @foreach (var item in (IEnumerable<Go81WebApp.Models.数据模型.项目数据模型.招标采购预报名._供应商预报名信息>)ViewData["预报名供应商列表"])
        {
            <tr>
                <td>
                    <a style="text-decoration: underline;" target="_blank" href="/供应商陈列/Supplier_Destination?id=@item.供应商链接.用户ID">@item.供应商链接.用户数据.企业基本信息.企业名称</a>
                </td>
                <td>
                    @item.报名时间.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                @*@if (item.审核数据.审核状态 != Go81WebApp.Models.数据模型.审核状态.审核未通过)
                {
                    <td>
                        @item.审核数据.审核状态
                    </td>
                }
                else
                {
                    <td>
                        @item.审核数据.审核状态<span style="color:red">(@item.审核数据.未通过理由)</span>
                    </td>
                }*@
                <td style="text-align:center;">
                    @if (item.已购买标书)
                    {
                        <input type="checkbox" name="isbuybs" value="@item.供应商链接.用户ID" flag="1" style=" width:15px; height:15px; line-height:42px;" checked="checked" onclick="bscheckchange(this);" />
                    }
                    else
                    {
                        <input type="checkbox" name="isbuybs" value="@item.供应商链接.用户ID" flag="0" style=" width:15px; height:15px; line-height:42px;" onclick="bscheckchange(this)" />
                    }
                </td>
                <td style="text-align:center; display:none;">
                    @if (item.已发送电子标书)
                    {
                        <input type="checkbox" name="issendmail" value="@item.供应商链接.用户ID" flag="1" style=" width:15px; height:15px; line-height:42px;" checked="checked" onclick="mailcheckchange(this)" />
                    }
                    else
                    {
                        <input type="checkbox" name="issendmail" value="@item.供应商链接.用户ID" flag="0" style=" width:15px; height:15px; line-height:42px;" onclick="mailcheckchange(this)" />
                    }
                </td>
                <td>
                    <a target="_blank" style="text-decoration: underline;" href="/供应商陈列/Supplier_Destination?id=@item.供应商链接.用户ID">查看资料</a>
                    @*<a target="_blank" style="text-decoration: underline;" href="/单位用户后台/SignUp_Detail_Gys?item=@Model.Id&id=@item.供应商链接.用户ID">查看资料</a>*@
                </td>
            </tr>
        }
    </table>
    @if (ViewData["pagecount"] != null && ViewData["pagecount"].ToString() != "1")
    {
        <div class="gys_znxx_content_detailbox">
            @if (int.Parse(ViewData["currentPage"].ToString()) == 1)
            {
                <a class="currentPage">首页</a>
            }
            else
            {
                <a id="1" onclick="changeed_page(this)">首页</a>
            }
            @for (int i = 0; i <= 10; i++)
            {                       //一共最多显示10个页码，前面5个，后面5个
                if ((int.Parse(ViewData["currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                {
                    if (5 == i)
                    {                               //当前页处理
                        <a class="currentPage">@int.Parse(ViewData["currentPage"].ToString())</a>
                    }
                    else
                    {                               //一般页处理
                        <a id="@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)" onclick="changeed_page(this)">@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)</a>

                    }
                }
            }
            @if (int.Parse(ViewData["currentPage"].ToString()) == int.Parse(ViewData["pagecount"].ToString()))
            {
                <a class="currentPage">末页</a>
            }
            else
            {
                <a id="@int.Parse(ViewData["pagecount"].ToString())" onclick="changeed_page(this)">末页</a>
            }

        </div>
    }
</div>



