@using Go81WebApp.Models.数据模型.项目数据模型;
@using Go81WebApp.Models.数据模型
<div class="gys_znxx_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">我的项目需求申请列表</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="40%">需求申请标题</th>
                    <th width="15%">审核状态</th>
                    <th width="15%">最后修改时间</th>
                    <th width="30%">操作</th>
                </tr>
                @{
                    IEnumerable<招标采购项目> model=ViewData["我的申请列表"] as IEnumerable<招标采购项目>;
                }
                @if(!model.Any())
                {
                   <tr><td colspan="4">暂时没有项目需求</td></tr> 
                }
                @foreach (var item in model)
                {
                    <tr>
                        <td><a href="/单位用户后台/Project_Detail?id=@item.Id" target="_blank">@item.需求申请来源.需求申请.标题</a></td>
                        @if (item.审核数据.审核状态 == 审核状态.审核未通过)
                        {
                            <td style="color:red;">@item.审核数据.审核状态</td>
                        }
                        else if (item.审核数据.审核状态 == 审核状态.未审核)
                        {
                            <td style="color:blue;">@item.审核数据.审核状态</td>
                        }
                        else
                        {
                            <td>@item.审核数据.审核状态</td>
                        }
                        <td>@item.基本数据.修改时间.ToString("yyyy.MM.dd")</td>
                        <td class="gys_znxx_content_tabletime">@Html.ActionLink("查看进度", "Project_ViewProgress", new { id = item.Id })|@Html.ActionLink("详情", "Project_Detail", new { id = item.Id})|<a onclick="del(@item.Id)">删除</a></td>

                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/单位用户后台/Project_AuditList?page=1'>首页</a><a href='/单位用户后台/Project_AuditList?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/单位用户后台/Project_AuditList?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/单位用户后台/Project_AuditList?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/单位用户后台/Project_AuditList?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Project_AuditList?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/单位用户后台/Project_AuditList?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/Project_AuditList?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#历史需求列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#历史需求列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function del(id) {
        if (confirm('确定删除吗？')) { window.location = '/单位用户后台/Project_Delete?id=' + id }
    }
</script>

