<script src="~/JS/provinceandcity_all.js"></script>
<link href="~/css/css.css" type="text/css" rel="stylesheet">
<style type="text/css">
    label {
        margin-bottom: 0;
        font-weight: normal;
    }

    .modal-dialog {
        position: relative;
        width: 800px;
        margin: 10% auto;
    }

    .expert_condition {
        width: 898px;
        border: solid 1px #ccd2b0;
        height: auto;
        overflow: hidden;
        padding: 10px 0 20px 0;
    }

    .expert_condition {
        width: 898px;
        border: solid 1px #ccd2b0;
        height: auto;
        overflow: hidden;
    }

    .expert_condition_inner {
        width: 900px;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        margin-top: 10px;
        border: solid 1px #ccd2b0;
        padding: 5px;
    }

    .expert_condition_innerleft {
        width: 150px;
        float: left;
        height: auto;
        overflow: hidden;
        font-size: 14px;
        color: rgb(51, 51, 51);
        padding-bottom: 10px;
        font-weight: bold;
        line-height: 30px;
        text-align:left;
    }

    .expert_condition_innerright {
        width: 888px;
        float: left;
        font-size: 14px;
        color: rgb(51, 51, 51);
        padding-bottom: 10px;
    }

    .expert_condition_innerrightlist {
        width: 300px;
        float: left;
    }

    .expert_condition_innerrightlist_title {
        width: 120px;
        text-align: right;
        float: left;
        line-height: 30px;
        padding-right: 5px;
    }

    .expert_condition_input {
        height: 30px;
        width: 150px;
        float: left;
        line-height: 30px;
        text-align:left;
    }

    .expert_condition_button1 {
        border: 1px solid #f00;
        color: #f00;
    }

    .expert_condition_reason {
        width: 150px;
        height: 28px;
        margin: 2px;
        display: none;
    }

    .expert_condition_button2 {
        border: 1px solid #55f;
        color: #55f;
        float: left;
        width: 30px;
        padding: 0px 2px;
    }

    .expert_condition_topmenu {
        width: 910px;
        height: 30px;
        background-color: #ccd2b0;
        color: rgb(51, 51, 51);
    }

        .expert_condition_topmenu ul {
            padding: 0;
            margin: 0;
        }

        .expert_condition_topmenu li {
            float: left;
            list-style-type: none;
            width: auto;
            text-align: center;
            height: 30px;
            padding: 5px 10px 0 10px;
            cursor: pointer;
        }

        .expert_condition_topmenu .cli {
            background-color: #ffffff;
            cursor: pointer;
        }

    #expert_ullist {
    }

        #expert_ullist ul {
            display: none;
            padding-left: 10px;
        }

        #expert_ullist .fdiv {
            display: block;
        }
</style>

<div id="modal" class="modal fade" style="position:relative;height:100%;*+top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (documentElement.clientHeight/25) - 70 : document.body.scrollTop + (document.body.clientHeight/25) - 70);">
    <div class="modal-dialog" style="margin: 5% auto;">
        <div class="modal-content" style="height:500px;text-align:left">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='$("#modal").hide();'>×</button>
                <h4 style="margin:0;">条件详情</h4>
            </div>
            <div class="modal-body">
                <div id="outlistdiv" style="height: 380px; overflow-y:scroll;">
                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                        <div style="width:150px;text-align:right; float:left; font-weight:bold">可提供产品类别：</div>
                        <div id="detailconition1" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                    </div>

                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                        <div style="width:150px;text-align:right; float:left; font-weight:bold">所在地域：</div>
                        <div id="detailconition2" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                    </div>

                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                        <div style="width:150px;text-align:right; float:left; font-weight:bold">描述：</div>
                        <div id="detailconition3" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                    </div>

                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                        <div style="width:150px;text-align:right; float:left; font-weight:bold">抽取个数：</div>
                        <div id="detailconition4" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                    </div>

                </div>
                <div style="width: 700px; margin: 0 auto; text-align: center;"><input type="button" class="index_online_btn" value="关闭" onclick='$("#modal").hide();' /></div>
            </div>

        </div>
    </div>
</div>

@using Go81WebApp.Models.数据模型.用户数据模型
@model Go81WebApp.Models.数据模型.供应商抽选记录
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="gys_znxx_box">
        <div class="gys_znxx_contentbox" style="height:auto;">
            <div class="gys_znxx_content" style="width: 920px;">

                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">项目信息</div>
                    <div class="expert_condition_innerright">
                        <div style="height:auto; overflow:hidden;">
                            <div class="expert_condition_innerrightlist">
                                <div class="expert_condition_innerrightlist_title">项目名称：</div><label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.项目名称</label>
                            </div>
                            <div class="expert_condition_innerrightlist">
                                <div class="expert_condition_innerrightlist_title">
                                    项目编号：
                                </div><label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.项目编号</label>
                            </div>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                评标时间：
                            </div><label class="expert_condition_input">@Model.评标时间.ToString()</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                预定抽选总数：
                            </div><label class="expert_condition_input">@Model.总计预定抽选供应商数</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                经办人：
                            </div>
                            @if (Model.经办人.用户ID != -1 && Model.经办人.用户数据 != null && Model.经办人.用户数据.联系方式 != null && !string.IsNullOrWhiteSpace(Model.经办人.用户数据.联系方式.联系人))
                            {
                                <label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.经办人.用户数据.联系方式.联系人</label>
                            }
                            else
                            {
                                <label class="expert_condition_input">未填写</label>
                            }
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                申请时间：
                            </div><label class="expert_condition_input">@Model.申请时间.ToString()</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                操作人姓名：
                            </div><label class="expert_condition_input">@Model.操作人姓名</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                操作人电话：
                            </div><label class="expert_condition_input">@Model.操作人电话</label>
                        </div>
                    </div>
                </div>


                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">屏蔽列表</div>
                    <div class="expert_condition_innerright">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>企业名称</th>
                                <th>所在地域</th>
                                <th>联系人</th>
                                <th>固定电话</th>
                                <th>手机</th>
                            </tr>
                            @foreach (var item in Model.回避供应商列表)
                            {
                                if (item.用户数据 != null)
                                {
                                    <tr>
                                        <td>@item.用户数据.企业基本信息.企业名称</td>
                                        <td>@{
                                            if (!string.IsNullOrWhiteSpace(item.用户数据.所属地域.地域))
                                            {
                                                <span>@item.用户数据.所属地域.地域</span>
                                            }
                                            else
                                            {
                                                <span>&nbsp;</span>
                                            }
                                            }</td>
                                        <td>@{
                                               if (!string.IsNullOrWhiteSpace(item.用户数据.企业联系人信息.联系人姓名))
                                               {
                                                   <span>@item.用户数据.企业联系人信息.联系人姓名</span>
                                               }
                                               else
                                               {
                                                   <span>&nbsp;</span>
                                               }
                                            }</td>
                                        <td>@{
                                                if (!string.IsNullOrWhiteSpace(item.用户数据.企业联系人信息.联系人固定电话))
                                                {
                                                    <span>@item.用户数据.企业联系人信息.联系人固定电话</span>
                                                }
                                                else
                                                {
                                                    <span>&nbsp;</span>
                                                }
                                            }</td>
                                        <td>@{
                                                if (!string.IsNullOrWhiteSpace(item.用户数据.企业联系人信息.联系人手机))
                                                {
                                                    <span>@item.用户数据.企业联系人信息.联系人手机</span>
                                                }
                                                else
                                                {
                                                    <span>&nbsp;</span>
                                                }
                                        }</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">该供应商已删除</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>




                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">抽选条件</div>
                    <div class="expert_condition_innerright">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr id="result_head">
                                <th style="width:40%">可提供产品类别</th>
                                <th style="display:none;">可提供产品类别</th>
                                <th style="width:30%">所在地域</th>
                                <th style="display:none;">描述</th>
                                <th style="width:15%">抽取个数</th>
                                <th style="width:15%">查看详细条件</th>
                            </tr>
                            @foreach (var item in Model.供应商抽选条件)
                            {
                                <tr>
                                    <td>
                                        大分类：@item.可提供产品类别[0].一级分类
                                    </td>
                                    <td style="display:none;">
                                        @foreach (var temp in item.可提供产品类别[0].二级分类)
                                        {
                                            <span>@temp ,</span>
                                        }
                                        <br /><br />
                                        小类供应商个数不足时返回上级分类进行抽选：
                                        @if (item.可提供产品类别[0].二级分类可用供应商不足返回一级分类)
                                        {
                                            <span>是</span>
                                        }
                                        else
                                        {
                                            <span>否</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.所在地区[0].地域))
                                        {
                                            <span>@item.所在地区[0].地域</span>
                                        }
                                        else
                                        {
                                            <span>不限</span>
                                        }
                                    </td>
                                    <td style="display:none;">@item.描述</td>
                                    <td>@item.需要供应商数量</td>
                                    <td><a onclick="showdetailcondition(this);">查看</a></td>

                                </tr>
                            }
                        </table>
                    </div>

                </div>
                <script type="text/javascript">
                    function showdetailcondition(obj) {
                        for (var detailid = 1; detailid < 5; detailid++) {
                            $("#detailconition" + detailid).html($(obj).parent().parent().find("td").eq(detailid).html());
                        }
                        $("#modal").show();
                    }
                </script>
               
                @if (!Model.基本数据.已屏蔽)
                {
                    <div id="ExpertTurndiv">
                        <div style=" margin:0 auto; margin-top:20px; text-align:center;">
                            <input type="button" value="撤销本次申请" class="front_login_rightbox_button" onclick="window.location.href = '/专家抽选/Gys_ApplayCancelAction?id=@Model.Id&app=1'">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function change_tbl(obj) {
        var tabs = obj.parentNode.getElementsByTagName("li");
        //var tabs = document.getElementById("tab").getElementsByTagName("li");
        var divs = document.getElementById("expert_ullist").getElementsByTagName("ul");
        for (var i = 0; i < tabs.length; i++) {
            if (tabs[i] == obj) {
                tabs[i].className = "cli";
                divs[i].className = "fdiv";
            }
            else {
                tabs[i].className = "";
                divs[i].className = "";
            }
        }
    }
</script>