@using Go81WebApp.Models.数据模型.需求计划模型
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">审核采购任务</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            @{var ing_AssignmentTaskList = ViewData["AssignmentTaskList"] as IEnumerable<需求采购任务>;}
            <b>待审核采购任务列表：</b>
            <div id="ing_table">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>管理部门</th>
                        <th style="width: 50px;">包含物资项</th>
                        <th style="width: 50px;">包含分发项</th>
                        <th>采购机构</th>
                        <th>采购方式</th>
                        <th>下达时间</th>
                        <th>完成时间</th>
                        <th>操作</th>
                    </tr>
                    @foreach (var item in ing_AssignmentTaskList)
                    {
                        <tr>
                            <td>@item.需求发起单位链接.用户数据.单位信息.单位名称</td>
                            <td>@item.物资列表.Count</td>
                            <td>@item.分发列表.Count</td>
                            <td>@item.当前处理单位链接.用户数据.单位信息.单位名称</td>
                            <td>@item.采购方式</td>
                            <td>@item.基本数据.添加时间.ToString("yyyy/MM/dd")</td>
                            <td>@item.建议完成时间.ToString("yyyy/MM/dd")</td>
                            <td class="gys_znxx_content_tabletime">
                                @Html.ActionLink("审核", "AssignmentTaskAudit", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
                <div class="gys_znxx_content_detailbox">
                    @{
                        if (ing_AssignmentTaskList.Count() != 0)
                        {
                            int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                            int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                            if (Pagecount > 0 && CurrentPage != 1)
                            {
                                <a href='/单位用户后台/AssignmentTaskAuditList?page=1'>首页</a><a href='/单位用户后台/AssignmentTaskAuditList?page=@(CurrentPage-1)'>上一页</a>
                            }
                            if (Pagecount <= 6)
                            {
                                for (int i = 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                    }
                                }
                            }
                            else
                            {
                                if (CurrentPage < 6)
                                {
                                    if (CurrentPage != 1)
                                    {
                                        for (int i = 1; i < 7; i++)
                                        {
                                            if (CurrentPage == i)
                                            {
                                                <a style="border:1px solid red;" href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                            }
                                            else
                                            {
                                                <a href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                            }
                                        }
                                        <span>...</span><a href="/单位用户后台/AssignmentTaskAuditList?page=@(Pagecount)">@Pagecount</a>
                                    }
                                    else
                                    {
                                        for (int i = 1; i < 7; i++)
                                        {
                                            if (CurrentPage == i)
                                            {
                                                <a style="border:1px solid red;" href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                            }
                                            else
                                            {
                                                <a href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                            }
                                        }
                                        <span>...</span><a href="/单位用户后台/AssignmentTaskAuditList?page=@(Pagecount)">@Pagecount</a>
                                    }
                                }
                                else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                                {
                                    <a href="/单位用户后台/AssignmentTaskAuditList?page=1">1</a><span>...</span>
                                    for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/AssignmentTaskAuditList?page=@(Pagecount)">@Pagecount</a>
                                }
                                else if (CurrentPage >= Pagecount - 3)
                                {
                                    <a href="/单位用户后台/AssignmentTaskAuditList?page=1">1</a><span>...</span>
                                    for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/AssignmentTaskAuditList?page=@i'>@i</a>
                                        }
                                    }
                                }
                            }
                            if (Pagecount > 0)
                            {
                                if (CurrentPage < Pagecount)
                                {
                                    <a href="/单位用户后台/AssignmentTaskAuditList?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/AssignmentTaskAuditList?page=@Pagecount">末页</a>
                                }
                                <span>第 @(CurrentPage) 页/共 @(Pagecount) 页</span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#审核采购任务").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#审核采购任务").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>
