@using MongoDB.Bson
@{var m = (IEnumerable<MongoDB.Bson.BsonDocument>)ViewData["屏蔽供应商"];}
<style type="text/css">
    #outlistdiv table {
        margin-top: 5px;
        border-top: 1px solid #999a96;
        border-left: 1px solid #999a96;
    }

        #outlistdiv table tr:hover td {
            background: #ecf0d7;
        }

        #outlistdiv table th {
            background-color: #c9cfad;
            font-size: 15px;
            height: 35px;
            border-right: 1px solid #999a96;
            border-bottom: 1px solid #999a96;
        }

    #outlistdiv td {
        border-right: 1px solid #999a96;
        border-bottom: 1px solid #999a96;
        padding: 5px;
        letter-spacing: 0;
    }
</style>
@if (m.Any())
{

    <table width="95%" style="margin: 0 auto;" cellspacing="0" cellpadding="0" id="outlisttemptable">
        <tr>
            <th>企业名称</th>
            <th>所在地域</th>
            <th>联系人</th>
            <th>固定电话</th>
            <th>手机</th>
        </tr>

        @foreach (var item in m)
        {
            <tr>
                <td id="@item["_id"].ToString()"><input type="checkbox" id="@item["企业基本信息"]["企业名称"].ToString()" value="@item["_id"].ToString()" />@item["企业基本信息"]["企业名称"].ToString()</td>

                <td>@if (!item["所属地域"]["省份"].IsBsonNull){<span>@item["所属地域"]["省份"].ToString()</span>if (!item["所属地域"]["城市"].IsBsonNull){<span>@item["所属地域"]["城市"].ToString()</span>if (!item["所属地域"]["区县"].IsBsonNull){<span>@item["所属地域"]["区县"].ToString()</span>}}}</td>
                <td>
                    @if (!item["企业联系人信息"]["联系人姓名"].IsBsonNull)
                    {
                        @item["企业联系人信息"]["联系人姓名"].ToString()
                    }
                </td>
                <td>
                    @if (!item["企业联系人信息"]["联系人固定电话"].IsBsonNull)
                    {
                        @item["企业联系人信息"]["联系人固定电话"].ToString()
                    }
                </td>
                <td>
                    @if (!item["企业联系人信息"]["联系人手机"].IsBsonNull)
                    {
                        @item["企业联系人信息"]["联系人手机"].ToString()
                    }
                </td>
            </tr>
        }
    </table>
    if (ViewData["currentpage"] != null)
    {
        <div class="gys_znxx_content_detailbox">
            @if (int.Parse(ViewData["currentpage"].ToString()) == 1)
            {
                <a>首页</a>
            }
            else
            {
                <a id="1" onclick="changeMesspage(1, $('#gysname').val());">首页</a>
            }
            @for (int i = 0; i <= 10; i++)
            {                       //一共最多显示10个页码，前面5个，后面5个
                if ((int.Parse(ViewData["currentpage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentpage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                {
                    if (5 == i)
                    {                               //当前页处理
                        <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentpage"].ToString())</a>
                    }
                    else
                    {                               //一般页处理
                        <a id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)" onclick="changeMesspage(@(int.Parse(ViewData["currentpage"].ToString()) + i - 5), $('#gysname').val());">@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)</a>

                    }
                }
            }
            @if (int.Parse(ViewData["currentpage"].ToString()) == int.Parse(ViewData["pagecount"].ToString()))
            {
                <a>末页</a>
            }
            else
            {
                <a id="@int.Parse(ViewData["pagecount"].ToString())" onclick="changeMesspage(@int.Parse(ViewData["pagecount"].ToString()), $('#gysname').val());">末页</a>
            }
            @ViewData["currentpage"].ToString()/@ViewData["pagecount"].ToString()
        </div>
    }
}
else
{
    <div style="color:red;">
        暂无供应商
    </div>
}
