@using System.Linq
@using Go81WebApp.Models.管理器
@using Go81WebApp.Models.数据模型.消息数据模型
<style>
    .gys_znxx_content table tr:hover td {
        background-color: #f6f1f1;
    }
</style>
<link href="~/css/index.css" rel="stylesheet" />
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">已发消息</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="15%">重要程度</th>
                    <th width="14%">消息类型</th>
                    <th width="28%">标题</th>
                    <th width="10%">收信人</th>
                    <th width="26%">添加时间/修改日期</th>
                    <th width="7%">操作</th>
                </tr>
                @{
                    int count = 0;
                    IEnumerable<站内消息> znxx = ViewData["znxx"] as IEnumerable<站内消息>;
                    }
                @if (znxx.Count()==0)
                {
                    <tr><td colspan="6">暂时没有数据</td></tr>
                }
                else
                {
                    foreach (var item in znxx)
                    {
                        if(item.收信人.用户数据!=null)
                        {
                        foreach (var m in item.对话消息)
                        {
                            <tr>
                                <td style="text-align: center;">@item.重要程度</td>
                                <td style="text-align: center;">@item.消息类型</td>
                                <td style="text-align: center;"><a href="/单位用户后台/Znxx_Sended_Detail?id=@item.Id">@m.消息主体.标题</a></td>
                                <td style="text-align: center;">@item.收信人.用户数据.登录信息.登录名</td>
                                <td style="font-size:12px;">@item.基本数据.添加时间.ToString("yyyy-MM-dd HH:mm") / @item.基本数据.修改时间.ToString("yyyy-MM-dd HH:mm")</td>
                                <td style="text-align: center;"><a onclick="del(@item.Id)">删除</a></td>
                            </tr>
                            break;
                        }
                            count++;
                        }
                    }
                }
                @if(count==0&&znxx.Count()!=0)
                {
                    <tr><td colspan="5">暂时没有数据</td></tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if(znxx.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/单位用户后台/Procure_ZnxxSend?page=1'>首页</a><a href='/单位用户后台/Procure_ZnxxSend?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Procure_ZnxxSend?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Procure_ZnxxSend?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/单位用户后台/Procure_ZnxxSend?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/单位用户后台/Procure_ZnxxSend?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/单位用户后台/Procure_ZnxxSend?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Procure_ZnxxSend?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/单位用户后台/Procure_ZnxxSend?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/Procure_ZnxxSend?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
        </div>
    </div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#已发消息").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#已发消息").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
    function del(num)
    {
        if(confirm("点击确定即将删除此消息！确定删除吗？"))
        {
            window.location="/单位用户后台/Procure_Del_AdDetail?id="+num;
        }
    }
</script>
