@using Go81WebApp.Models.数据模型.推荐数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
<style type="text/css">
    .gys_xttz_topbg a {
        margin-top: 0;
    }

    .adaddtip {
        font-weight: normal;
        font-size: 14px;
        padding-left: 10px;
        text-decoration: underline;
        color: red;
        padding-top: 5px;
        font-weight:bold;
    }
</style>
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">我推荐的供应商<a href="/单位用户后台/Recommend_Gys" class="adaddtip">【+推荐供应商】</a></div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox" id="tablecontent">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="20%">企业名称</th>
                    <th width="10%">联系人姓名</th>
                    <th width="15%">时间</th>
                    <th width="40%">状态</th>
                    <th width="15%" class="printspan">操作</th>
                </tr>
                @{
                    IEnumerable<推荐信息> model=ViewData["我推荐的供应商"] as IEnumerable<推荐信息>;
                }
                @if(!model.Any())
                {
                    <tr><td colspan="5">暂时没有推荐的供应商信息</td></tr>
                }
                @foreach (var item in model)
                {
                    <tr>
                        <td>@item.名称</td>
                        <td>@item.联系方式.联系人</td>
                        <td>@item.基本数据.添加时间.ToString("yyyy-MM-dd")</td>
                        <td>
                            @if (item.推荐审核数据3.审核者.用户ID != -1)
                            {
                                <div>
                                    @if (item.推荐审核数据3.审核者.用户数据 != null && (item.推荐审核数据3.审核者.用户数据 as 单位用户).单位信息 != null)
                                    {
                                        <span>@((item.推荐审核数据3.审核者.用户数据 as 单位用户).单位信息.单位名称) : </span>
                                    }
                                    else
                                    {
                                        <span>该单位已删除: </span>
                                    }
                                    @if (item.推荐审核数据3.推荐状态 == 推荐状态.推荐未通过)
                                    {
                                        <span style="color: red;">@item.推荐审核数据3.推荐状态</span>
                                    }
                                    else if (item.推荐审核数据3.推荐状态 == 推荐状态.待联系)
                                    {
                                        <span style="color: green;">@item.推荐审核数据3.推荐状态</span>
                                    }
                                    else
                                    {
                                        <span>@item.推荐审核数据3.推荐状态</span>
                                    }
                                </div>
                            }
                            @if (item.推荐审核数据2.审核者.用户ID != -1)
                            {
                                <div>
                                    @if (item.推荐审核数据2.审核者.用户数据 != null && (item.推荐审核数据2.审核者.用户数据 as 单位用户).单位信息 != null)
                                    {
                                        <span>@((item.推荐审核数据2.审核者.用户数据 as 单位用户).单位信息.单位名称) : </span>
                                    }
                                    else
                                    {
                                        <span>该单位已删除: </span>
                                    }
                                    @if (item.推荐审核数据2.推荐状态 == 推荐状态.推荐未通过)
                                    {
                                        <span style="color: red;">@item.推荐审核数据2.推荐状态</span>
                                    }
                                    else if (item.推荐审核数据2.推荐状态 == 推荐状态.待联系)
                                    {
                                        <span style="color: green;">@item.推荐审核数据2.推荐状态</span>
                                    }
                                    else
                                    {
                                        <span>@item.推荐审核数据2.推荐状态</span>
                                    }
                                </div>
                            }
                            @if (item.推荐审核数据.审核者.用户ID != -1)
                            {
                                <div>
                                    @if (item.推荐审核数据.审核者.用户数据 != null && (item.推荐审核数据.审核者.用户数据 as 单位用户).单位信息 != null)
                                    {
                                        <span>@((item.推荐审核数据.审核者.用户数据 as 单位用户).单位信息.单位名称) : </span>
                                    }
                                    else
                                    {
                                        <span>该单位已删除: </span>
                                    }
                                    @if (item.推荐审核数据.推荐状态 == 推荐状态.推荐未通过)
                                    {
                                        <span style="color: red;">@item.推荐审核数据.推荐状态</span>
                                    }
                                    else if (item.推荐审核数据.推荐状态 == 推荐状态.待联系)
                                    {
                                        <span style="color: green;">@item.推荐审核数据.推荐状态</span>
                                    }
                                    else
                                    {
                                        <span>@item.推荐审核数据.推荐状态</span>
                                    }
                                </div>
                            }
                        </td>

                        <td class="printspan">
                            <a onclick="del(@item.Id)">删除</a>|
                            <a href="/单位用户后台/Recommend_Detail/@item.Id?come=g">查看</a>
                        </td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/单位用户后台/Recommend_GysList?page=1'>首页</a><a href='/单位用户后台/Recommend_GysList?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Recommend_GysList?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/单位用户后台/Recommend_GysList?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/单位用户后台/Recommend_GysList?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/单位用户后台/Recommend_GysList?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/单位用户后台/Recommend_GysList?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/单位用户后台/Recommend_GysList?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/单位用户后台/Recommend_GysList?page=@(CurrentPage+1)">下一页</a><a href="/单位用户后台/Recommend_GysList?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
            <input type="button" style="float: right; width: 100px; height: 30px; margin-top: 10px;" class="printspan" value="打印" onclick="printpage()" />
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    function del(num) {
        if (confirm("点击确定即将删除此消息！确定删除吗？")) {
            window.location = "/单位用户后台/Delete_Recommend_Gys?id=" + num;
        }
    }
    function printpage() {
        $(".printspan").hide();
        document.body.innerHTML = document.getElementById('tablecontent').innerHTML;
        window.print();
    }
    $(document).ready(function () {
        $("#推荐供应商").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#推荐供应商").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>

