@model Go81WebApp.Controllers.后台.单位用户后台Controller.DepartmentAddModel
@using Go81WebApp.Models.数据模型.权限数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.管理器
<script src="~/JS/provinceandcity_all.js"></script>
 <script src="~/JS/myComfirm.js"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">单位添加用户</div>
        </div>
    </div>
    <div class="gys_znxx_box" style="width:1042px;" onkeypress="BindEnter(event, 'modiibutton')">
        <div class="gys_znxx_contentbox">
            <div class="gys_znxx_content">

                <div style="height:auto; overflow:hidden; margin-top:20px;">
                    <div style=" margin: 20px auto; padding:10px;">

                        <div style="height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">登录名：</div>
                            <div class="procure_selectlistdiv">
                                @Html.TextBoxFor(model => model.loginName, new { id = "name" })<span style="color:red;">*@Html.ValidationMessageFor(model => model.loginName)</span>
                            </div>
                        </div>

                        <div style="height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">初始密码：</div>
                            <div class="procure_selectlistdiv">
                                @Html.PasswordFor(model => model.u.登录信息.密码)<span style="color:red;">*@Html.ValidationMessageFor(model => model.u.登录信息.密码)</span>
                            </div>
                        </div>
                        <div style="height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">单位名称：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.单位信息.单位名称, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">*@Html.ValidationMessageFor(model => model.u.单位信息.单位名称)</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">单位代号：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.单位信息.单位代号, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">@*@Html.ValidationMessageFor(model => model.u.单位信息.单位代号)*@</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">所属单位：</div>
                            <div class="procure_selectlistdiv">
                                <input id="admin" type="hidden" value="-1" name="admin" />
                                <div id="admin_box">
                                   
                                </div>
                               
                            </div>
                        </div>

                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">单位级别：</div>
                            <div class="procure_selectlistdiv">
                                @Html.DropDownListFor(model => model.u.单位信息.单位级别, new[] { new SelectListItem() { Text = "未设置", Value = "0" }, new SelectListItem() { Text = "正军级", Value = "1" }, new SelectListItem() { Text = "副军级", Value = "2" }, new SelectListItem() { Text = "正师级", Value = "3" }, new SelectListItem() { Text = "副师级", Value = "4" }, new SelectListItem() { Text = "正团级", Value = "4" }, new SelectListItem() { Text = "副团级", Value = "5" }, new SelectListItem() { Text = "正营级", Value = "6" }, new SelectListItem() { Text = "副营级", Value = "7" }, new SelectListItem() { Text = "营级以下", Value = "99" } }, new { @class = "procure_radioinput" })
                            </div>
                        </div>


                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">联系人：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.联系方式.联系人, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">*@Html.ValidationMessageFor(model => model.u.联系方式.联系人)</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">联系人职务：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.联系人职务, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">*@Html.ValidationMessageFor(model => model.u.联系人职务)</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">固定电话：</div>
                            <div class="procure_selectlistdiv">
                                @Html.HiddenFor(model => model.u.联系方式.固定电话, new { id = "modelPhone", style = "width: 300px; height: 30px; line-height: 25px;" })
                                <input type="text" id="phone_area" placeholder="区号" style="width:70px;" />
                                -
                                <input type="text" id="phone_num" placeholder="电话号码" style="width:202px;" /><span style="color:red;">*@Html.ValidationMessageFor(model => model.u.联系方式.固定电话)</span>
                                <span id="moelphone_error" style="color:red; display:none">请填写固定电话！</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">手机：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.联系方式.手机, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">*@Html.ValidationMessageFor(model => model.u.联系方式.手机)</span>
                            </div>
                        </div>
                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">联系地址：</div>
                            <div class="procure_selectlistdiv">
                                @Html.EditorFor(model => model.u.地址信息[0].城市, new { style = "width: 300px; height: 30px; line-height: 25px;" })<span style="color:red;">@Html.ValidationMessageFor(model => model.u.地址信息[0].城市)</span>
                            </div>
                        </div>

                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">所在地域：</div>
                            <div class="procure_selectlistdiv">
                                <select id="deliverprovince" name="deliverprovince" style="width: 98px; height: 30px;"></select>
                                <select id="delivercity" name="delivercity" style="width:98px; height: 30px;"></select>
                                <select id="deliverarea" name="deliverarea" style="width: 98px; height: 30px;"></select>
                                <script>
                                    window.onload = function () { new PCAS("deliverprovince", "delivercity", "deliverarea"); }
                                </script>

                            </div>
                        </div>



                        <div style=" height:30px; padding:10px;">
                            <div style=" width:200px; font-size: 16px; font-weight: bold; color: #666666; letter-spacing: 0px; float:left; text-align:right; line-height:30px; padding-right:20px;">单位所属用户组：</div>
                            <div class="procure_selectlistdiv">
                                @{
                                    @*if (ViewBag.isActor)
                                    {
                                        foreach (var j in (IEnumerable<用户组>)ViewData["所管理用户组"])
                                        {
                                            <input class="groupname" style="width:auto;height:auto;line-height:normal;" type="checkbox" value="@j.用户组名" />@j.用户组名  <br />
                                        }
                                    }
                                    else
                                    {*@
                                        var userlist = ViewData["用户组列表"] as IEnumerable<用户组>;
                                        foreach (var k in userlist)
                                        {
                                            if (k.用户组名 != "超级管理员" && k.用户组名 != "抽取系统审核")
                                            {
                                                if (k.用户组名 == "本账号管理" || k.用户组名 == "站内消息与提醒")
                                                {
                                                    <input class="groupname" style="width:auto;height:auto;line-height:normal;" checked="checked" type="checkbox" id="@k.用户组名" value="@k.用户组名" /><label for="@k.用户组名">@k.用户组名</label>  <br />
                                                }
                                                else
                                                {
                                                    <input class="groupname" style="width:auto;height:auto;line-height:normal;" type="checkbox" id="@k.用户组名" value="@k.用户组名" /><label for="@k.用户组名">@k.用户组名</label>  <br />
                                                }

                                            }
                                        }
                                    @*    foreach (var j in (IEnumerable<用户组>)ViewData["所管理用户组"])
                                        {
                                            if (j.用户组名.Contains("二级管理员账号") || j.用户组名.Contains("操作员账号A") || j.用户组名.Contains("验收单管理专员"))
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                <input class="groupname" style="width:auto;height:auto;line-height:normal;" type="checkbox" value="@j.用户组名" />@j.用户组名  <br />
                                            }
                                        } *@
                                    }
                                <input name="usergroup" id="usergroup" type="hidden" />


                            </div>
                        </div>
                        <div style="text-align:center"><input id="modiibutton" type="submit" style="margin-top:20px; margin-left:-30px;" class="front_login_rightbox_button" value="确          定"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" language="javascript">
    $("#modiibutton").click(function () {
        //验证是否设置所属单位
        var coun = $("#admin_box").children().length;
        var adminid = $("#admin_box").children().eq(coun - 1).val();
        if (coun == 1) {
            if (adminid == "-1") { alert("请选择所属单位！"); return false; }
            $("#admin").val(adminid);
        }
        else {
            if (adminid == "-1") {
                adminid = $("#admin_box").children().eq(coun - 2).val();
                $("#admin").val(adminid);
            }
            $("#admin").val(adminid);
        }

        var v = $("#phone_area").val() + "-" + $("#phone_num").val();
        $("#modelPhone").val(v);
        var f = $("#modelPhone").val().replace("-", "");
        var d = $(".groupname");
        var t = "";
        $.each(d, function (index, domEle) {
            if ($(domEle).is(":checked")) {
                t += $(domEle).val() + ",";
            }
        });
        $("#usergroup").val(t);
        if ($("#phone_num").val() == "" || $("#phone_num").val() == null) {
            $("#phone_num").focus();
            $("#moelphone_error").show().html("请填写电话号码");
            return false;
        }
        else {
            $("#moelphone_error").hide();
        }
        if ($("#phone_area").val() == "" || $("#phone_area").val() == null) {
            $("#phone_area").focus();
            $("#moelphone_error").show().html("请填写区号");
            return false;
        }
        else {
            $("#moelphone_error").hide();
        }
        if (f == null || f == "") {
            $("#moelphone_error").show();
        }
        else {
            $("#moelphone_error").hide();
        }

        //检查是否选择所属单位
        var ssdw=$("#admin_box").children().eq(0).val();
        if (ssdw == "-1") {
            alert("请选择所属单位！");
            return false;
        }

    });
    function hidetip(th) {
        $(th).parent().children("div").hide();
    }

    $(document).ready(function () {
        //设置单位级别-----所属单位
        var dataUser = "@ViewData["jsonUser"]";
        UnitLevel.Init(dataUser, "admin_box");

        $("select option").each(function () { if ($(this).text() == '') { $(this).remove(); } });
        $("#新建附属账号").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#新建附属账号").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    //$(document).ready(function () { $.get('/单位用户后台/CheckCode', {}, function (data,status) { $("#hide").text(data);}); });
</script>

