
@model Go81WebApp.Models.数据模型.供应商抽选记录
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">抽取供应商详情</div>
        </div>
    </div>
    <div class="gys_znxx_box" id="tempcontenttable">
        <link href="~/css/css.css" type="text/css" rel="stylesheet">
        <style type="text/css">
            label {
                margin-bottom: 0;
                font-weight: normal;
            }

            .modal-dialog {
                position: relative;
                width: 800px;
                margin: 10% auto;
            }

            .expert_condition {
                width: 898px;
                border: solid 1px #ccd2b0;
                height: auto;
                overflow: hidden;
                padding: 10px 0 20px 0;
            }

            .expert_condition {
                width: 898px;
                border: solid 1px #ccd2b0;
                height: auto;
                overflow: hidden;
            }

            .expert_condition_inner {
                width: 900px;
                margin: 0 auto;
                height: auto;
                overflow: hidden;
                margin-top: 10px;
                border: solid 1px #ccd2b0;
                padding: 5px;
            }

            .expert_condition_innerleft {
                width: 150px;
                float: left;
                height: auto;
                overflow: hidden;
                font-size: 14px;
                color: rgb(51, 51, 51);
                padding-bottom: 10px;
                font-weight: bold;
                line-height: 30px;
            }

            .expert_condition_innerright {
                width: 650px;
                float: left;
                font-size: 14px;
                color: rgb(51, 51, 51);
                padding-bottom: 10px;
            }

            .expert_condition_innerrightlist {
                width: 300px;
                float: left;
            }

            .expert_condition_innerrightlist_title {
                width: 120px;
                text-align: right;
                float: left;
                line-height: 30px;
                padding-right: 5px;
            }

            .expert_condition_input {
                height: 30px;
                width: 150px;
                float: left;
                line-height: 30px;
                /*margin-right: 60px;*/
            }
        </style>
        <div class="gys_znxx_contentbox">
            <div class="gys_znxx_content" style="width: 920px; padding-top:0;">

                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">项目信息</div>
                    <div class="expert_condition_innerright">
                        <div style="height:auto; overflow:hidden;">
                            <div class="expert_condition_innerrightlist">
                                <div class="expert_condition_innerrightlist_title">项目名称：</div><label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.项目名称</label>
                            </div>
                            <div class="expert_condition_innerrightlist">
                                <div class="expert_condition_innerrightlist_title">
                                    项目编号：
                                </div><label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.项目编号</label>
                            </div>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                评标时间：
                            </div><label class="expert_condition_input">@Model.评标时间.ToString()</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                预定抽选总数：
                            </div><label class="expert_condition_input">@Model.总计预定抽选供应商数</label>
                        </div>
                    </div>
                </div>

                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">屏蔽列表</div>
                    <div class="expert_condition_innerright" style="width:900px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>企业名称</th>
                                <th>所在地域</th>
                                <th>联系人</th>
                                <th>固定电话</th>
                                <th>手机</th>
                            </tr>
                            @foreach (var item in Model.回避供应商列表)
                            {
                                if (item.用户数据 != null)
                                {
                                    <tr>
                                        <td>@item.用户数据.企业基本信息.企业名称</td>
                                        <td>@item.用户数据.所属地域.地域</td>
                                        <td>@item.用户数据.企业联系人信息.联系人姓名</td>
                                        <td>@item.用户数据.企业联系人信息.联系人固定电话</td>
                                        <td>@item.用户数据.企业联系人信息.联系人手机</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">该供应商已删除</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>


                <div class="expert_condition_inner">
                    <div class="expert_condition_innerleft">抽选条件</div>
                    <div class="expert_condition_innerright" style="width:900px;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr id="result_head">
                                <th style="width:40%">可提供产品类别</th>
                                <th style="display:none;">可提供产品类别</th>
                                <th style="width:30%">所在地域</th>
                                <th style="display:none;">描述</th>
                                <th style="width:15%">抽取个数</th>
                                <th style="width:15%">查看详细条件</th>
                            </tr>
                            @foreach (var item in Model.供应商抽选条件)
                            {
                                <tr>
                                    <td>
                                        大分类：@item.可提供产品类别[0].一级分类
                                    </td>
                                    <td style="display:none;">
                                        @foreach (var temp in item.可提供产品类别[0].二级分类)
                                        {
                                            <span>@temp ,</span>
                                        }
                                        <br /><br />
                                        小类供应商个数不足时返回上级分类进行抽选：
                                        @if (item.可提供产品类别[0].二级分类可用供应商不足返回一级分类)
                                        {
                                            <span>是</span>
                                        }
                                        else
                                        {
                                            <span>否</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.所在地区[0].地域))
                                        {
                                            <span>@item.所在地区[0].地域</span>
                                        }
                                        else
                                        {
                                            <span>不限</span>
                                        }
                                    </td>
                                    <td style="display:none;">@item.描述</td>
                                    <td>@item.需要供应商数量</td>
                                    <td><a onclick="showdetailcondition(this);">查看</a></td>

                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <script type="text/javascript">
                    function showdetailcondition(obj) {
                        for (var detailid = 1; detailid < 5; detailid++) {
                            $("#detailconition" + detailid).html($(obj).parent().parent().find("td").eq(detailid).html());
                        }
                        $("#modal").show();
                    }
                </script>
                <div id="modal" class="modal fade">
                    <div class="modal-dialog" style="margin: 5% auto;">
                        <div class="modal-content" style="height:500px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='$("#modal").hide();'>×</button>
                                <h4 style="margin:0;">条件详情</h4>
                            </div>
                            <div class="modal-body">
                                <div id="outlistdiv" style="height: 370px; overflow-y:scroll;">
                                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                                        <div style="width:150px;text-align:right; float:left; font-weight:bold">可提供产品类别：</div>
                                        <div id="detailconition1" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                                    </div>

                                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                                        <div style="width:150px;text-align:right; float:left; font-weight:bold">所在地域：</div>
                                        <div id="detailconition2" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                                    </div>

                                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                                        <div style="width:150px;text-align:right; float:left; font-weight:bold">描述：</div>
                                        <div id="detailconition3" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                                    </div>

                                    <div style="width:750px; height:auto; overflow:hidden; padding-bottom:10px;">
                                        <div style="width:150px;text-align:right; float:left; font-weight:bold">抽取个数：</div>
                                        <div id="detailconition4" style="width:600px; float:left; height:auto; overflow:hidden;"></div>
                                    </div>

                                </div>
                                <div style="width: 100%; margin: 0 auto; text-align: center;"><input type="button" class="front_login_rightbox_button" value="关闭" onclick='$("#modal").hide();' /></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="expert_condition_inner" id="temp_content">
                    <div class="expert_condition_innerleft">抽取供应商详情</div>



                    <div class="expert_condition_innerright">

                        @*<div class="expert_condition_innerrightlist" style="margin-top:10px;">
                                <div class="expert_condition_innerrightlist_title">
                                    预定抽选总数：
                                </div><label class="expert_condition_input">@Model.总计预定抽选专家数</label>
                            </div>*@
                        <div style="height:auto; overflow:hidden;">
                            <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                                <div class="expert_condition_innerrightlist_title">
                                    经办人：
                                </div>
                                @if (Model.经办人.用户ID != -1 && Model.经办人.用户数据 != null && Model.经办人.用户数据.联系方式 != null && !string.IsNullOrWhiteSpace(Model.经办人.用户数据.联系方式.联系人))
                                {
                                    <label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.经办人.用户数据.联系方式.联系人</label>
                                }
                                else
                                {
                                    <label class="expert_condition_input">未填写</label>
                                }

                            </div>
                            <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                                <div class="expert_condition_innerrightlist_title">
                                    申请时间：
                                </div><label class="expert_condition_input">@Model.申请时间.ToString()</label>
                            </div>
                        </div>

                        <div style="height:auto; overflow:hidden;">
                            <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                                <div class="expert_condition_innerrightlist_title">
                                    批准人：
                                </div>
                                @if (Model.批准人.用户ID != -1 && Model.批准人.用户数据 != null && Model.批准人.用户数据.联系方式 != null && !string.IsNullOrWhiteSpace(Model.批准人.用户数据.联系方式.联系人))
                                {
                                    <label class="expert_condition_input" style="height:auto; overflow:hidden;">@Model.批准人.用户数据.联系方式.联系人</label>
                                }
                                else
                                {
                                    <label class="expert_condition_input">未填写</label>
                                }
                            </div>
                            <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                                <div class="expert_condition_innerrightlist_title">
                                    批准时间：
                                </div><label class="expert_condition_input">@Model.批准时间.ToString()</label>
                            </div>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                操作人姓名：
                            </div><label class="expert_condition_input">@Model.操作人姓名</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                操作人电话：
                            </div><label class="expert_condition_input">@Model.操作人电话</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                操作时间：
                            </div><label class="expert_condition_input">@Model.操作时间.ToString()</label>
                        </div>
                        <div class="expert_condition_innerrightlist" style="margin-top:10px;">
                            <div class="expert_condition_innerrightlist_title">
                                确认时间：
                            </div><label class="expert_condition_input">@Model.确认时间.ToString()</label>
                        </div>
                    </div>




                    <div class="expert_condition_innerright" style="width:900px;">
                        <table cellpadding="0" cellspacing="0" width="100%" id="tempcontenttable">
                            <tr id="result_head">
                                <th>企业名称</th>
                                <th>可提供产品类别</th>
                                <th>所在地域</th>
                                <th>联系人</th>
                                <th>固定电话</th>
                                <th>手机</th>
                                <th>是否出席</th>
                            </tr>
                            @foreach (var zj in Model.抽选供应商列表)
                            {
                                if (zj.供应商.用户数据 != null)
                                {
                                    <tr>
                                        <td><a href="/供应商陈列/Supplier_Destination?id=@zj.供应商.用户ID" target="_blank">@zj.供应商.用户数据.企业基本信息.企业名称</a></td>
                                        <td>
                                            @foreach (var item in zj.供应商.用户数据.可提供产品类别列表)
                                            {
                                                <div>@item.一级分类</div>
                                            }
                                        </td>
                                        <td>@zj.供应商.用户数据.所属地域.地域</td>
                                        <td>@zj.供应商.用户数据.企业联系人信息.联系人姓名</td>
                                        <td>@zj.供应商.用户数据.企业联系人信息.联系人固定电话</td>
                                        <td>@zj.供应商.用户数据.企业联系人信息.联系人手机</td>
                                        @if (zj.预定出席)
                                        {
                                            <td>能够出席</td>
                                        }
                                        else
                                        {
                                            <td style="color:red;">
                                                不能出席
                                                @if (!string.IsNullOrWhiteSpace(zj.不能出席原因))
                                                {
                                                    <span>（@zj.不能出席原因）</span>
                                                }
                                            </td>
                                        }

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">该供应商已删除</td>
                                    </tr>
                                }

                            }

                        </table>
                    </div>
                </div>
                <div class="expert_condition_inner" id="temp_content">
                    <div class="expert_condition_innerleft">最终抽取结果</div>
                    <div class="expert_condition_innerright" style="width:900px;">
                        <table cellpadding="0" cellspacing="0" width="100%" id="tempcontenttable">
                            <tr id="result_head">
                                <th>企业名称</th>
                                <th>可提供产品类别</th>
                                <th>所在地域</th>
                                <th>联系人</th>
                                <th>固定电话</th>
                                <th>手机</th>
                            </tr>
                            @foreach (var zj in Model.抽选供应商列表)
                            {
                                if (zj.预定出席)
                                {
                                    if (zj.供应商.用户数据 != null)
                                    {
                                        <tr>
                                            <td><a href="/供应商陈列/Supplier_Destination?id=@zj.供应商.用户ID" target="_blank">@zj.供应商.用户数据.企业基本信息.企业名称</a></td>
                                            <td>
                                                @foreach (var item in zj.供应商.用户数据.可提供产品类别列表)
                                                {
                                                    <div>@item.一级分类</div>
                                                }
                                            </td>
                                            <td>@zj.供应商.用户数据.所属地域.地域</td>
                                            <td>@zj.供应商.用户数据.企业联系人信息.联系人姓名</td>
                                            <td>@zj.供应商.用户数据.企业联系人信息.联系人固定电话</td>
                                            <td>@zj.供应商.用户数据.企业联系人信息.联系人手机</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">该供应商已删除</td>
                                        </tr>
                                    }
                                }
                            }

                        </table>
                    </div>
                </div>

                <div style="width: 310px; margin: 10px auto; text-align: center;">
                    <input type="button" value="打  印   名   单" onclick="printlist();" class="front_login_rightbox_button index_online_btn printspan" />
                </div>



            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function printlist() {
        $(".printspan").hide();
        document.body.innerHTML = document.getElementById('tempcontenttable').innerHTML;
        window.print();
    }
    $(function () {
        $("#@ViewData["come"]").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#@ViewData["come"]").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>
