@using Go81WebApp.Models.数据模型.商品数据模型

<input type="hidden" name="select_classid" id="select_classid" value="@ViewData["商品分类ID"]" />
<input type="hidden" name="select_condition" id="select_condition" value="@ViewData["筛选条件"]" />
@{ var model = (IEnumerable<商品>)ViewData["商品筛选列表"];}
@if (model != null && model.Any())
{
    foreach (var item in model)
    {
        <div class="prodtpage_prodtlistdiv">
            <div class="prodtpage_prodtlistdiv_imgdiv">
                <a href="/商品陈列/Product_Detail?id=@item.Id" title="@item.商品信息.商品名.Replace("<font color=\"red\">", "").Replace("</font>", "")" target="_blank">
                    @if (item.商品信息.商品图片.Count > 0)
                    {
                        <img src="@item.商品信息.商品图片[0]" />
                    }
                    else
                    {
                        <img src="~/images/noimage.jpg" />
                    }
                </a>
            </div>
            <div class="prodtpage_prodtlistdiv_textdiv">
                @{ var thisp_name = item.商品信息.商品名.Replace("<font color=\"red\">", "").Replace("</font>", ""); }
                <div style="height:40px;">
                    <a href="/商品陈列/Product_Detail?id=@item.Id" title="@thisp_name" class="product_name_twoline" target="_blank">
                        @Html.Raw(item.商品信息.商品名)
                    </a>
                </div>
                <div class="prodtpage_prodtlistdiv_price"><a href="/商品陈列/Product_Detail?id=@item.Id" target="_blank">￥@(string.Format("{0:0.00}", item.销售信息.价格))</a><span style="padding-left:20px; color:#999; cursor:pointer;" title="报价时间">(@item.销售信息.价格修改日期.ToString("yyyy-MM-dd"))</span></div>
                <div style="height:20px;">
                    @try
                    {
                        <a class="product_gysname_oneline" href="/供应商陈列/Supplier_Destination?id=@item.商品信息.所属供应商.用户数据.Id" title="@item.商品信息.所属供应商.用户数据.企业基本信息.企业名称">@item.商品信息.所属供应商.用户数据.企业基本信息.企业名称</a>
                    }
                    catch
                    {
                        <a>供应商未知</a>
                    }
                </div>
                <div style="height:20px;">
                    <span style="color:gray;">外网浏览：@item.销售信息.点击量</span>
                </div>
                <div style="height:20px;">
                    <span style="color:gray;">内网浏览：
                        @if (WebApiApplication.IsIntranet || ViewData["已登录"].ToString() == "1")
                        {
                            <a>@item.销售信息.内网点击量</a>
                        }
                        else
                        {
                            <a style="text-decoration:underline;color:#042FAB" href="/登录/Login?ReturnUrl=/商品陈列">登陆查看</a>
                        }
                    </span>
                </div>
                @{ var GoodName = thisp_name.Length > 15 ? thisp_name.Substring(0, 15) : thisp_name; }
                <div>
                    +对比<input type="checkbox" value="@(item.销售信息.价格)" id="@item.Id" name="ck" alt="@GoodName" onclick="showcontrast(this) " />
                </div>
            </div>

        </div>
    }
}
else
{
    <div style="width: 918px; height: 270px; color: lightgray; font-size: 40px; text-align: center; line-height: 220px; font-style: italic;">暂无该类商品</div>
}
@if (ViewData["currentpage"] != null && ViewData["pagecount"].ToString() != "1")
{
    <div class="gys_znxx_content_detailbox" style="float: left; width: 918px;">
        @if (int.Parse(ViewData["currentPage"].ToString()) != 1)
        {
            <a id="1" onclick="changeAdpage(this)">首页</a><a style="margin-left:5px;" id="@(int.Parse(ViewData["currentPage"].ToString()) - 1)" onclick="changeAdpage(this)">上一页</a>
        }
        @for (int i = 0; i <= 10; i++)
        {                       //一共最多显示10个页码，前面5个，后面5个
            if ((int.Parse(ViewData["currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
            {
                if (5 == i)
                {                               //当前页处理
                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentPage"].ToString())</a>
                }
                else
                {                               //一般页处理
                    <a id="@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)" onclick="changeAdpage(this)">@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)</a>

                }
            }
        }
        @if (int.Parse(ViewData["currentPage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
        {
            <a style="margin-right:5px;" id="@(int.Parse(ViewData["currentPage"].ToString()) + 1)" onclick="changeAdpage(this)">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" onclick="changeAdpage(this)">末页</a>
        }
        <span style="font-size:12px;">第@(ViewData["currentPage"])页/共@(ViewData["pagecount"])页</span>
    </div>
}