@using Go81WebApp.Models.数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型.推广业务数据模型
@using Go81WebApp.Models.管理器.推广业务管理
@using MongoDB.Driver.Builders
@using Go81WebApp.Models.管理器
<script src="~/JS/marquee.js" type="text/javascript"></script>
<script src="~/JS/clickStatistics.js" type="text/javascript"></script>
@*<input type="hidden" id="province" name="province" value="@ViewBag.Provence" />
    <input id="city" name="city" type="hidden" value="@ViewBag.City" />
    <input id="chooseareapage" name="chooseareapage" type="hidden" value="@ViewBag.Page" />
    <input type="hidden" id="province" name="province" value="四川省" />
    <input id="city" name="city" type="hidden" value="成都市" />
    <input id="chooseareapage" name="chooseareapage" type="hidden" value="1" />*@
@{
    IEnumerable<用户基本数据> gsylist = ViewData["供应商列表"] as IEnumerable<用户基本数据>;
    if (gsylist != null && gsylist.Any())
    {

        foreach (var k in gsylist)
        {
            if (k != null)
            {
                供应商 gys = k as 供应商;

                var d = (int)gys.供应商用户信息.认证级别;
                //if ((int)gys.供应商用户信息.认证级别 >= 4)
                //{
                <div class="pay_gys_info">
                    <div class="lefts" style="width:445px; padding-left:17px;">
                            <a class="gys_title" href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">@gys.企业基本信息.企业名称</a>
                            <div class="icon_bar">
                                @if ((int)gys.供应商用户信息.认证级别 >= 4)
                                { <a class="rzgys_y" href="###" title="@gys.供应商用户信息.认证级别"></a>}
                                @*else
                {
                    <a class="rzgys_n" href="###" title="@gys.供应商用户信息.认证级别"></a>
                }*@

                                @if (gys.供应商用户信息.年检列表.ContainsKey(DateTime.Now.Year.ToString()))
                                { <a class="njgys_y" href="###" title="已年检"></a>}
                                @*else
                {
                    <a class="njgys_n" href="###" title="未年检"></a>
                }*@

                                @if (gys.供应商用户信息.应急供应商)
                                { <a class="yjgys_y" href="###" title="应急供应商"></a>}
                                @*else
                {
                    <a class="yjgys_n" href="###" title="非应急供应商"></a>
                }*@

                                @if (gys.供应商用户信息.协议供应商)
                                { <a class="xygys_y" href="###" title="协议供应商"></a>}
                                @*else
                {
                    <a class="xygys_n" href="###" title="非协议供应商"></a>
                }*@

                                @if ((int)gys.供应商用户信息.入库级别 >= 2)
                                { <a class="rkgys_y" href="###" title="@gys.供应商用户信息.入库级别"></a>}
                                @*else
                {
                    <a class="rkgys_n" href="###" title="@gys.供应商用户信息.入库级别"></a>
                }*@
                            </div>
                            <table width="auto">

                                <tr>
                                    <td class="notes swidth">所属行业:</td>
                                    <td class="notes_con mwidth" title="@gys.企业基本信息.所属行业">
                                        @if (gys.企业基本信息 != null && !string.IsNullOrEmpty(gys.企业基本信息.所属行业))
                                        {
                                            <span class="gyslist_zhuying">@gys.企业基本信息.所属行业</span>
                                        }
                                        else
                                        {
                                            <span>未填写</span>
                                        }
                                    </td>
                                    <td class="notes lwidth">联系方式:</td>
                                    <td class="notes_con">@gys.企业联系人信息.联系人固定电话</td>

                                </tr>

                                <tr>
                                    <td class="notes swidth">主营产品:</td>
                                    @{
                                        var m = "";
                                        foreach (var h in gys.可提供产品类别列表)
                                        {
                                            foreach (var h_s in h.二级分类)
                                            {
                                                m += h_s + ";";
                                            }
                                        }
                                    }
                                    <td class="notes_con mwidth" title="@m">
                                        <span class="gyslist_zhuying">@m</span>
                                    </td>
                                    @if (d >= 4)
                                    {
                                        <td class="notes lwidth">认证级别:</td>
                                        <td class="notes_con">@gys.供应商用户信息.认证级别</td>
                                    }
                                    else
                                    {
                                        <td class="notes lwidth">&nbsp;</td>
                                        <td class="notes_con">&nbsp;</td>
                                    }
                                </tr>
                                <tr>
                                    <td class="notes swidth">所在地域:</td>
                                    <td class="notes_con mwidth">
                                        @if (gys.所属地域.地域.Length > 14)
                                        {
                                            <span>@gys.所属地域.地域.Substring(0, 14) ...</span>
                                        }
                                        else
                                        {
                                            <span>@gys.所属地域.地域</span>
                                        }
                                    </td>
                                    <td class="notes lwidth">历史参标次数:</td>
                                    <td class="notes_con"> @gys.历史参标记录.Count() 次 </td>
                                </tr>
                                <tr>
                                    <td class="notes swidth">员工人数:</td>
                                    <td class="notes_con mwidth">@gys.企业基本信息.员工人数</td>
                                    <td class="notes lwidth">登记商品数:</td>
                                    <td class="notes_con">@商品管理.查询供应商商品(gys.Id, 0, 0).Count() 个</td>
                                </tr>
                                <tr>
                                    <td class="notes" colspan="2">
                                        <a href="">资质证书></a>
                                        <a href="">厂房设备图></a>
                                        <a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">更多企业信息></a>
                                    </td>

                                    <td class="notes">经营类型:</td>
                                    <td class="notes_con">@gys.企业基本信息.经营类型 / @gys.企业基本信息.经营子类型</td>
                                </tr>
                            </table>
                        </div>

                        <div class="rights">
                            @{
                                        var 已开通服务列表 = 供应商服务记录管理.查询供应商服务记录(0, 0, Query<供应商服务记录>.Where(o => o.所属供应商.用户ID == gys.Id));
                                        if (已开通服务列表.Count() > 0 && 已开通服务列表.First().已开通的服务.Exists(o => o.所申请项目名 == "标准会员" || o.所申请项目名 == "商务会员" || o.所申请项目名 == "企业推广服务B1-1位置" || o.所申请项目名 == "企业推广服务B1-2位置"))
                                        {
                                            if (gys.供应商用户信息.展示商品.Count > 0)
                                            {
                                            if (已开通服务列表.First().已开通的服务.Exists(o => (o.所申请项目名 == "商务会员" || o.所申请项目名 == "企业推广服务B1-2位置") && o.结束时间 > DateTime.Now))
                                                {
                                                    <div class="rights_more"><a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                                    <div class="wrap">
                                                        <div class="ul">
                                                            @foreach (var g in gys.供应商用户信息.展示商品)
                                                            {
                                                                <div class="gd li">
                                                                    <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-2","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count > 0 ? g.商品.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                                    <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-2","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                                    <p class="price">￥@g.商品.销售信息.价格</p>
                                                                    @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if (已开通服务列表.First().已开通的服务.Exists(o => (o.所申请项目名 == "标准会员" || o.所申请项目名 == "企业推广服务B1-1位置") && o.结束时间 > DateTime.Now))
                                                {
                                                    <div class="rights_more"><a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                                    foreach (var g in gys.供应商用户信息.展示商品)
                                                    {
                                                        <div class="gd">
                                                            <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'><img src="@(g.商品.商品信息.商品图片.Count > 0 ? g.商品.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                            <a href="/商品陈列/Product_Detail?id=@g.商品ID" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.商品ID","@g.商品.商品信息.所属供应商.用户ID")'>@g.商品.商品信息.商品名</a>
                                                            <p class="price">￥@g.商品.销售信息.价格</p>
                                                            @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                        </div>
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                var gys_good = 商品管理.查询供应商商品(gys.Id, 0, 6, Query<商品>.EQ(o => o.审核数据.审核状态, 审核状态.审核通过), includeDisabled: false);
                                                if (gys_good != null && gys_good.Any())
                                                {
                                                if (已开通服务列表.First().已开通的服务.Exists(o => (o.所申请项目名 == "商务会员" || o.所申请项目名 == "企业推广服务B1-2位置") && o.结束时间 > DateTime.Now))
                                                    {
                                                        <div class="rights_more"><a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                                        <div class="wrap">
                                                            <div class="ul">
                                                                @foreach (var kk in gys_good)
                                                                {
                                                                    <div class="gd li">
                                                                        <a href="/商品陈列/Product_Detail?id=@kk.Id" target="_blank" onclick='clickStatistics("B1-2","1", "@kk.Id","@kk.商品信息.所属供应商.用户ID")'><img src="@(kk.商品信息.商品图片.Count > 0 ? kk.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                                        <a href="/商品陈列/Product_Detail?id=@kk.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-2","1", "@kk.Id","@kk.商品信息.所属供应商.用户ID")'>@kk.商品信息.商品名</a>
                                                                        <p class="price">￥@kk.销售信息.价格</p>
                                                                        @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (已开通服务列表.First().已开通的服务.Exists(o => (o.所申请项目名 == "标准会员" || o.所申请项目名 == "企业推广服务B1-1位置") && o.结束时间 > DateTime.Now))
                                                    {
                                                        gys_good = gys_good.Take(3);
                                                        <div class="rights_more"><a href="/供应商陈列/Supplier_Destination?id=@gys.Id" target="_blank">查看更多商品>></a></div>
                                                        foreach (var g in gys_good)
                                                        {
                                                            <div class="gd">
                                                                <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'><img src="@(g.商品信息.商品图片.Count > 0 ? g.商品信息.商品图片[0].Replace("original", "150X150") : "") " /></a>
                                                                <a href="/商品陈列/Product_Detail?id=@g.Id" target="_blank" class="rights_productname" onclick='clickStatistics("B1-1","1", "@g.Id","@g.商品信息.所属供应商.用户ID")'>@g.商品信息.商品名</a>
                                                                <p class="price">￥@g.销售信息.价格</p>
                                                                @*<p class="lg">销量：@kk.销售信息.销量</p>*@
                                                            </div>
                                                        }
                                                    }

                                                }
                                            }
                                        }
}
                        </div>

                    </div>
               
            }
        }

        if (ViewData["currentpage"] != null)
        {
            <div class="gys_znxx_content_detailbox">
                @if (int.Parse(ViewData["currentpage"].ToString()) != 1)
                {
                    <a id="1" class="page">首页</a><a class="page" style="border-left:none;" id="@(int.Parse(ViewData["currentpage"].ToString())-1)">上一页</a>
                }
                @for (int i = 0; i <= 10; i++)
                {                       //一共最多显示10个页码，前面5个，后面5个
                    if ((int.Parse(ViewData["currentpage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentpage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                    {
                        if (5 == i)
                        {                               //当前页处理
                            <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentpage"].ToString())</a>
                        }
                        else
                        {                               //一般页处理
                            <a class="page" id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)">@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)</a>

                        }
                    }
                }
                @if (int.Parse(ViewData["currentpage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
                {
                    <a class="page" style="border-right:none;" id="@(int.Parse(ViewData["currentpage"].ToString())+1)">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" class="page">末页</a>
                }
                <span style="font-size:12px;">第@(ViewData["currentpage"])页/共@(ViewData["pagecount"])页</span>
            </div>
        }

    }
    else
    {
        <div>暂无相关数据！</div>
    }
}
<script type="text/javascript">

    $("a.page").click(function () {
        $("#waitfor").show();
        $("#chooseareapage").val($(this).attr("id"));
        var c=$("#city").val();
        var p = $("#chooseareapage").val();
        var pp = $("#province").val();
        $.ajax({
            type: "POST",
            url: "/协议采购/Part_AgreementgysCondition",
            data: { c: c, page: p,pro:pp },
            success: function (data) {
                $("#userlist").html(data);
                $("#waitfor").hide();
            }
        });
    });
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('.wrap').marquee({
            auto: true,
            interval: 3000,
            speed: 500,
            showNum: 3,
            stepLen: 3
        });
    });
</script>
<script type="text/javascript" language="javascript">
    //$(document).ready(function () { $("div#Page4").css("background-color", "rgb(94,111,0)"); });
    $(document).ready(function () { $("div.Page4").addClass("on") });
</script>