@model Go81WebApp.Models.数据模型.商品数据模型.商品
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
<link href="~/css/css.css" rel="stylesheet" />
<!--[if lt IE 9]>@Scripts.Render("~/Scripts/flot/excanvas.min.js")<![endif]-->
@Scripts.Render("~/Scripts/flot/jquery.flot.min.js", "~/Scripts/flot/jquery.flot.time.min.js")
@Scripts.Render("~/JS/PriceHistory.js")
<style type="text/css">
    .provence table {
        border:1px solid #AAA;
    }
</style>
<div class="gyspage_index_menu_top" style="margin-top:0;width:100%">
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">协议采购-产品详情</div>
        </div>
    </div>
</div>
<div class="agreement_good_class">
    <div class="agreement_good_class_detail">
        <div class="agreement_good_class_pic">
            <input id="goodid" type="hidden" value="@Model.Id" title="@Model.商品信息.所属供应商.用户ID" />
            <div class="div_pic">
                @if (Model.商品信息.商品图片.Count > 0)
                {
                    <img src="@Model.商品信息.商品图片[0]" />
                }
                else
                {
                    <img src="~/images/noimage.jpg" />
                }
            </div>
            @*<div class="div_input"><label>序号:</label><span>1</span><input type="checkbox" />对比</div>*@
        </div>
        <div class="agreement_good_class_para">
            <table class="ag_good_sx">
                    @{
                        <tr><td class="align">所属供应商：</td><td>@Model.商品信息.所属供应商.用户数据.企业基本信息.企业名称 </td></tr>
                        <tr><td class="align">价格：</td><td style="margin-left:10px;color:red;">￥@(string.Format("{0:0.00}", Model.销售信息.价格)) </td></tr>
                        int q = 0;
                        foreach (var i in Model.商品数据.商品属性.Keys)
                        {

                            foreach (var k in Model.商品数据.商品属性[i].Keys)
                            {
                                q++;
                                if (q < 5)
                                {
                                    if (k.Contains("品牌") || k.Contains("型号"))
                                    {
                                        continue;
                                    }
                                    else
                                    {

                                        <tr>
                                            <td class="align">@k：</td>
                                            <td style="margin-left:10px;">
                                                @foreach (var z in Model.商品数据.商品属性[i][k])
                                                {
                                                    @z <span> </span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                { break; }
                            }
                        }
                    }
                    <tr><td><button style="border:none; height:20px; width:100px;*line-height:normal; background:#3e905e; cursor:pointer;">网上订购</button></td></tr>
            </table>
        </div>
    </div>

    <div class="agreement_good_parts">
        <div class="agreement_good_para">
            <ul>
                @if (ViewData["链接来源"]=="2")
                {
                    <li>基本参数</li>
                    <li class="cli">供应商信息</li>
                    <li>价格走势</li>
                    <li>产品比较</li>
                    <li>售后服务</li>
                    <li>用户评论</li>
                    @*<li>销售记录</li>*@
                }
                else
                {
                    <li class="cli">基本参数</li>
                    <li>供应商信息</li>
                    <li>价格走势</li>
                    <li>产品比较</li>
                    <li>售后服务</li>
                    @*<li>用户评论</li>*@
                    @*<li>销售记录</li>*@
                }
            </ul>
            <!--基本参数-->
            <div class="content basedata">
                <table cellpadding="0" cellspacing="0">
                    @{
                        foreach (var i in Model.商品数据.商品属性.Keys)
                        {

                            foreach (var j in Model.商品数据.商品属性[i].Keys)
                            {
                                if (j.Contains("品牌"))
                                {
                                    continue;
                                }
                                else
                                {
                                    <tr>
                                        <td class="lab" valign="top">@j</td>
                                        <td>
                                            @foreach (var k in Model.商品数据.商品属性[i][j])
                                            {
                                                @k <span> </span>
                                            }
                                            &nbsp;
                                        </td>
                                    </tr>
                                }

                            }

                        }
                    }
                </table>
            </div>

            <!--供应商信息-->
            <div class="content">
                <p style="color:red;">
                    供应商排序规则：<br />
                    [供应商按报价（从低→高）、信用分（从高→低）、库存（从有现货→未填写/无货）、送货周期（从短→长）
                    排序，如果以上均相同则随机排序。]
                </p>
                <div class="provence">
                    <input type="hidden" id="fnid" value="@ViewData["分类ID"]" />
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <span class="p_area" id="#sichuan">
                                    <span class="tig" style="display: inline-block;" ></span>
                                    <a style="color:red; display:inline-block;width: 160px;">四川</a>
                                </span>
                                <span class="p_area" id="#yunnan">
                                    <span class="tig"></span>
                                    <a style=" display: inline-block;width: 160px;">云南</a>
                                </span>
                                <span class="p_area" id="#xizang">
                                    <span class="tig"></span>
                                    <a style=" display: inline-block;width: 160px;">西藏</a>
                                </span>
                                <span class="p_area" id="#guizhou">
                                    <span class="tig"></span>
                                    <a style=" display: inline-block;width: 160px;">贵州</a>
                                </span>
                                <span class="p_area" id="#chongqing">
                                    <span class="tig"></span>
                                    <a style=" display: inline-block;width: 160px;">重庆</a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                
                                <table class="pro_city" id="sichuan" style="display: block">
                                    <tr>
                                        <td style="text-align:left;">
                                            <span><a>成都</a></span>
                                            <span><a>自贡</a></span>
                                            <span><a>攀枝花</a></span>
                                            <span><a>泸州</a></span>
                                            <span><a>德阳</a></span>
                                            <span><a>绵阳</a></span>
                                            <span><a>广元</a></span>
                                            <span><a>遂宁</a></span>
                                            <span><a>内江</a></span>
                                            <span><a>乐山</a></span>
                                            <span><a>南充</a></span>
                                            <span><a>眉山</a></span>
                                            <span><a>宜宾</a></span>
                                            <span><a>广安</a></span>
                                            <span><a>达州</a></span>
                                            <span><a>雅安</a></span>
                                            <span><a>巴中</a></span>
                                            <span><a>资阳</a></span>
                                            <span><a>阿坝藏族羌族自治州</a></span>
                                            <span><a>甘孜藏族自治州</a></span>
                                            <span><a>凉山彝族自治州</a></span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pro_city" id="yunnan">
                                    <tr class="">
                                        <td style="text-align:left;">
                                            <span><a>昆明</a></span>
                                            <span><a>曲靖</a></span>
                                            <span><a>玉溪</a></span>
                                            <span><a>保山</a></span>
                                            <span><a>昭通</a></span>
                                            <span><a>楚雄彝族自治州</a></span>
                                            <span><a>红河哈尼族彝族自治州</a></span>
                                            <span><a>文山壮族苗族自治州</a></span>
                                            <span><a>思茅地区</a></span>
                                            <span><a>西双版纳傣族自治州</a></span>
                                            <span><a>大理白族自治州</a></span>
                                            <span><a>德宏傣族景颇族自治州</a></span>
                                            <span><a>丽江地区</a></span>
                                            <span><a>怒江傈僳族自治州</a></span>
                                            <span><a>迪庆藏族自治州</a></span>
                                            <span><a>临沧地区</a></span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pro_city" id="xizang">
                                    <tr>
                                        <td style="text-align:left;">
                                            <span><a>拉萨</a></span>
                                            <span><a>昌都地区</a></span>
                                            <span><a>山南地区</a></span>
                                            <span><a>日喀则地区</a></span>
                                            <span><a>那曲地区</a></span>
                                            <span><a>阿里地区</a></span>
                                            <span><a>林芝地区</a></span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pro_city" id="guizhou">
                                    <tr>
                                        <td style="text-align:left;">
                                            <span><a>贵阳</a></span>
                                            <span><a>六盘水</a></span>
                                            <span><a>遵义</a></span>
                                            <span><a>安顺</a></span>
                                            <span><a>铜仁地区</a></span>
                                            <span><a>黔西南布依族苗族自治州</a></span>
                                            <span><a>毕节地区</a></span>
                                            <span><a>黔东南苗族侗族自治州</a></span>
                                            <span><a>黔南布依族苗族自治州</a></span>
                                        </td>
                                    </tr>
                                </table>
                                <table class="pro_city" id="chongqing">
                                    <tr>
                                        <td style="text-align:left;"><span><a>重庆</a></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-top:10px;" class="screening">
                    <div id="waitfor" style="position:absolute; z-index:100; width:800px; height:200px; text-align:center; line-height:300px; display:none;">
                        <img src="~/Images/ajax-loader.gif" width="50px" height="50px" />
                    </div>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>序号</th>
                            <th>供应商报价</th>
                            <th>库存</th>
                            <th>送货周期</th>
                            <th>企业名称</th>
                            <th>信用分</th>
                        </tr>
                        @{

                            List<供应商> listgys = ViewData["供应商列表"] as List<供应商>;

                            for (int l = 0; l < listgys.Count; l++)
                            {
                                decimal price = 0;
                                string kczt = "";
                                int sales = 0;
                                List<商品> listgoods = ViewData["同品牌商品"] as List<商品>;
                                for (int p = 0; p < listgoods.Count; p++)
                                {
                                    if(listgoods[p].商品信息.所属供应商.用户数据!=null)
                                    { 
                                        if (listgoods[p].商品信息.所属供应商.用户数据.Id == listgys[l].Id)
                                        {
                                            price = listgoods[p].销售信息.价格;
                                            kczt = listgoods[p].销售信息.库存状态.ToString();
                                            sales = listgoods[p].销售信息.销量;
                                            break;
                                        }
                                    }
                                }
                                if(listgys[l].Id==Model.商品信息.所属供应商.用户ID)
                                {
                                    <tr>
                                        <td style="color:red">@(l + 1)</td>
                                        <td style="color:red">￥@(string.Format("{0:0.00}", price))</td>
                                        <td style="color:red">@kczt</td>
                                        <td style="color:red">@sales</td>
                                        <td style="color:red"><a href="/供应商陈列/Supplier_Destination?id=@listgys[l].Id" target="_blank">@listgys[l].企业基本信息.企业名称</a></td>
                                        <td style="color:red"><a href="#">@listgys[l].信用评级信息.积分</a></td>
                                    </tr>
                                }
                                else
                                { 
                                <tr>
                                    <td>@(l + 1)</td>
                                    <td>￥@(string.Format("{0:0.00}", price))</td>
                                    <td>@kczt</td>
                                    <td>@sales</td>
                                    <td><a href="/供应商陈列/Supplier_Destination?id=@listgys[l].Id" target="_blank">@listgys[l].企业基本信息.企业名称</a></td>
                                    <td><a href="#">@listgys[l].信用评级信息.积分</a></td>
                                </tr>
                            }
                            }

                        }
                    </table>
                </div>
            </div>

            <!--价格走势-->
            <div class="content">
                <div id="historyPrices" style="width:800px;height:400px;" pdata="@ViewBag.L1"></div>
            </div>

            <!--产品比较-->
            <div class="pro_compare content" style="display:none;">
                <p>与同价位产品比较<span id="ppp"></span></p>
                <div class="compare_price">
                    <table cellpadding="0" cellspacing="0">
                        @{

                            List<商品> list = ViewData["同价位商品"] as List<商品>;
                            foreach (var j in list)
                            {
                                if (j.Id == Model.Id)
                                {
                                    list.Remove(j);
                                    break;
                                }
                            }
                            double s = list.Count / 3;
                            int d = (int)Math.Ceiling(Convert.ToDouble(s.ToString()));
                            for (int i = 0; i <= d; i++)
                            {
                                <tr>
                                    @if (i < d)
                                    {
                                        for (int j = (3 * ((1 / 3) + i)) + 1; j <= 3 * (i + 1); j++)
                                        {
                                            <td>
                                                <input type="checkbox" id="@list[j-1].Id" />
                                                @if (list[j - 1].商品信息.商品名.Length > 10)
                                                {
                                                    <span>@list[j - 1].商品信息.品牌 @list[j - 1].商品信息.商品名.Substring(0, 10)</span>
                                                }
                                                else
                                                {
                                                    <span>@list[j - 1].商品信息.品牌 @list[j - 1].商品信息.商品名</span>
                                                }
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        for (int j = 3 * i + 1; j <= list.Count; j++)
                                        {
                                            <td>
                                                <input type="checkbox" id="@list[j-1].Id" />
                                                @if (list[j - 1].商品信息.商品名.Length > 10)
                                                {
                                                    <span>@list[j - 1].商品信息.品牌 @list[j - 1].商品信息.商品名.Substring(0, 10)</span>
                                                }
                                                else
                                                {
                                                    <span>@list[j - 1].商品信息.品牌 @list[j - 1].商品信息.商品名</span>
                                                }
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3" style="text-align:right;"><input id="compareprice" style="margin-right:100px;" type="button" value="开始比较" /> </td>
                        </tr>
                    </table>
                </div>
                <p>与同品牌产品比较<span id="aaa"></span></p>
                <div class="compare_brand">
                    <table cellpadding="0" cellspacing="0">
                        @{
                            List<商品> listgood = ViewData["同品牌商品"] as List<商品>;


                            foreach (var j in listgood)
                            {
                                if (j.Id == Model.Id)
                                {
                                    listgood.Remove(j);
                                    break;
                                }
                            }
                            double a = listgood.Count / 3;
                            int y = (int)Math.Ceiling(Convert.ToDouble(a.ToString()));
                            for (int z = 0; z <= y; z++)
                            {
                                //float m = listgood.Count%3==0? 3*(z+1):listgood.Count-3*z;
                                <tr>
                                    @if (z < y)
                                    {
                                        for (int x = (3 * ((1 / 3) + z)) + 1; x <= 3 * (z + 1); x++)
                                        {
                                            <td>
                                                <input id="@listgood[x-1].Id" type="checkbox" />
                                                @if (listgood[x - 1].商品信息.商品名.Length > 10)
                                                {
                                                    <span>@listgood[x - 1].商品信息.品牌 @listgood[x - 1].商品信息.商品名.Substring(0, 10)</span>
                                                }
                                                else
                                                {
                                                    <span>@listgood[x - 1].商品信息.品牌 @listgood[x - 1].商品信息.商品名</span>
                                                }
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        for (int x = 3 * z + 1; x <= listgood.Count; x++)
                                        {
                                            <td>
                                                <input id="@listgood[x-1].Id" type="checkbox" />
                                                @if (listgood[x - 1].商品信息.商品名.Length > 10)
                                                {
                                                    <span>@listgood[x - 1].商品信息.品牌 @listgood[x - 1].商品信息.商品名.Substring(0, 10)</span>
                                                }
                                                else
                                                {
                                                    <span>@listgood[x - 1].商品信息.品牌 @listgood[x - 1].商品信息.商品名</span>
                                                }
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                        }

                        <tr>
                            <td colspan="3" style="text-align:right;"><input id="comparebrand" style="margin-right:100px;" type="button" value="开始比较" /></td>
                        </tr>
                    </table>
                </div>
            </div>


            <!--售后服务-->
            <div class="content">
                <p style="text-indent:2em; padding:10px;font-size:12px; width:900px;height:auto; border:1px solid #aaa">
                    售后服务
                    @*@Model.商品数据.售后服务*@
                </p>
            </div>


            <!--用户评论-->

            <div class="content">
                <div class="user_review">
                    <table cellpadding="0" cellspacing="0">
                        @*<tr>
                                <td class="lab">姓名：</td>
                                <td><input type="text" /></td>
                                <td class="lab">单位：</td>
                                <td><input type="text" /></td>
                            </tr*@
                        <tr>
                            <td class="lab"></td>
                            <td></td>
                            <td class="lab"><p id="success"></p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="lab" valign="top">评论内容：（500字以内）</td>
                            <td colspan="3"><textarea id="review_content"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:center;"><button id="sub_review">提交评论</button></td>
                        </tr>
                    </table>
                </div>
                <div class="review_show">
                    <p>评论显示：</p>
                    <div>
                        <table cellpadding="0" cellspacing="0">
                            @{
                                供应商 gysreview = Model.商品信息.所属供应商.用户数据 as 供应商;
                                if (gysreview != null)
                                {
                                    @*if (gysreview.信用评价信息.供应商评价 != null && gysreview.信用评价信息.供应商评价.Count>0)
                                        {
                                            foreach (var i in gysreview.信用评价信息.供应商评价)
                                            {
                                                <tr>
                                                    <td class="lab">用户&nbsp;&nbsp;评论:</td>
                                                    <td class="con">@i</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {*@
                                    <tr>
                                        <td class="lab"></td>
                                        <td class="con">暂无评论!</td>
                                    </tr>
                                    //}
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2">此商品不属于任何供应商！</td>
                                    </tr>
                                }
                            }


                        </table>
                    </div>
                </div>
            </div>


            <!--销售记录-->
            <div class="screening content">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>序号</th>
                        <th>采购单位</th>
                        <th>购买数量</th>
                        <th>购买单价</th>
                        <th>供应商</th>
                        <th>成交日期</th>
                    </tr>
                    @{

                    }
                    <tr>
                        <td>1</td>
                        <td>@Model.销售信息.点击量</td>
                        <td>@Model.销售信息.库存状态</td>
                        <td></td>
                        <td><a href="#">河北石龙数码科技有限企业</a></td>
                        <td>2014-07-02 10:49:47</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>石家庄海关</td>
                        <td>1</td>
                        <td>3,700.00</td>
                        <td><a href="#">河北石龙数码科技有限企业</a></td>
                        <td>2014-07-02 10:49:47</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>石家庄海关</td>
                        <td>1</td>
                        <td>3,700.00</td>
                        <td><a href="#">河北石龙数码科技有限企业</a></td>
                        <td>2014-07-02 10:49:47</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>石家庄海关</td>
                        <td>1</td>
                        <td>3,700.00</td>
                        <td><a href="#">河北石龙数码科技有限企业</a></td>
                        <td>2014-07-02 10:49:47</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*<div class="agreement_good_para" id="tabcontent_zb">







            <!--结束-->
        </div>*@

</div>
<script type="text/javascript">
    $(function () {
        $(".content").eq(@ViewData["链接来源"]).show();
        $(".agreement_good_para li").click(function () {
            $(".agreement_good_para ul li").removeClass("cli");
            $(this).addClass("cli");
            var index = $(this).parent().children().index($(this)); //选项卡的索引值
            var content = $(this).parent().parent().find(".content");  //内容节点
            content.hide();
            content.eq(index).show();
        });

        $("#compareprice").click(function () {
            var i = 0;
            var checklist = $(".compare_price").find("input[type='checkbox']:checked");
            var str = $("#goodid").val() + "|";
            checklist.each(function (index, domEle) {
                i++;
                if (i < 4) {
                    str += $(domEle).attr("id") + "|";
                }
                else {
                    $("#ppp").empty().append("<span style='color:red'>最多只能选择3个！</span>");
                }
            });
            if (i < 4) {
                if (i < 1) {
                    $("#ppp").empty().append("<span style='color:red'>请至少选择1项！</span>")
                }
                else {
                    //$.ajax({
                    //    url: '/商品陈列/ProductContrast?Contrastparmer=' + str,
                    //    success: function () {
                            window.location.href = "/商品陈列/ProductContrast?Contrastparmer=" + str;
                    //    },
                    //});
                }
            }
        });

        $("#comparebrand").click(function () {
            var i = 0;
            var checklist = $(".compare_brand").find("input[type='checkbox']:checked");
            var str = $("#goodid").val() + "|";
            checklist.each(function (index, domEle) {
                i++;
                if (i < 4) {
                    str += $(domEle).attr("id") + "|";
                }
                else { $("#aaa").empty().append("<span style='color:red;'>最多只能选择3个！</span>"); }
            });
            if (i < 4) {
                if (i < 1) {
                    $("#aaa").empty().append("<span style='color:red;'>请至少选择1项！</span>");
                }
                else {
                    //$.ajax({
                    //    url: '/商品陈列/ProductContrast?Contrastparmer=' + str,
                    //    success: function () {
                            window.location.href = "/商品陈列/ProductContrast?Contrastparmer=" + str;
                    //    },
                    //});
                }
            }
        });

        $("#sub_review").click(function () {
            $.ajax({
                url: '/协议采购/SubReview',
                data: 'review=' + $("#review_content").val(),
                success: function () {
                    $("#success").html("评论成功！").css({ "color": "red" });
                }
            });
        });

        $(".provence span").click(function () {
            if ($(this).attr("id") != "undefined"&& $(this).attr("id")!=null){
            var des = $(this).attr("id").substring(1);
            $(this).children(".tig").show();
            $(this).siblings().children(".tig").hide();
            $("#" + des).show().siblings().hide();
            $("#" + des +" tr td a").css({ "color": "black" });
            }
        });
        //function stringFormat(a) {
        //    if (arguments.length == 0)
        //        return 0;
        //    var str = a;
        //    var re = new RegExp("/^(\d*\.\d{0,2}|\d+).*$/");
        //    var result = re.test(str);
        //    if (!result) {
        //        str = str.replace(a,re);
        //    }
        //    return str;
        //}
        $(".provence a").click(function () {
            $(this).css({ "color": "red" }).parent().siblings().children().css({ "color": "black" });
            var s = $(this).siblings();
            $.ajax({
                url: '/协议采购/GetGysByArea',
                data: 'fnid=' + $("#fnid").val() + "&area=" + $(this).html() + "&id=" + $("#goodid").val(),
                dataType: 'json',
                beforeSend: function () {
                    $(".screening table").empty();
                    $("#waitfor").show();
                },
                success: function (data) {
                    $("#waitfor").hide();
                    if (data.Data.length<=0) {
                        $(".screening table").css({ "border-top": "none", "border-left": "none" }).empty().append("无该地区数据！");
                    }
                    else {
                        var str = "<tr><th>序号</th><th>供应商报价</th><th>库存</th><th>送货周期</th><th>公司名称</th><th>信用分</th></tr>";
                        
                        $.each(data.Data, function (index, item) {
                            if (item.GysId == $("#goodid").attr("title")) {
                                str += "<tr>";
                                str += "<td style='color:red'>" + (index + 1) + "</td>";
                                str += "<td style='color:red'>￥" + item.Price + "</td>";
                                str += "<td style='color:red'>" + item.Kczt + "</td>";
                                str += "<td style='color:red'>" + item.Sales + "</td>";
                                str += "<td ><a style='color:red' href='/供应商陈列/Supplier_Destination?id=" + item.GysId + "'>" + item.GysName + "</a></td>";
                                str += "<td style='color:red'>" + item.TotalScore + "</td>";
                                str += "</tr>";
                            }
                            else {
                        str += "<tr>";
                            str += "<td>" + (index + 1) + "</td>";
                            str += "<td>￥" + item.Price + "</td>";
                            str += "<td>" + item.Kczt + "</td>";
                            str += "<td>" + item.Sales + "</td>";
                            str += "<td><a href='/供应商陈列/Supplier_Destination?id=" + item.GysId + "'>" + item.GysName + "</a></td>";
                                str += "<td>" + item.TotalScore + "</td>";
                                str += "</tr>";
                            }
                        });
                        $(".screening table").css({ "border-top": "1px solid #aaa", "border-left": "1px solid #aaa" }).empty().append(str);
                    }
                },
                error: function () {
                    $(".screening table").css({ "border-top": "none", "border-left": "none" }).empty().append("无该地区数据！");
                }
            });
        });
    });
</script>
<script type="text/javascript" language="javascript">
    //$(document).ready(function () { $("div#Page4").css("background-color", "rgb(94,111,0)"); });
    $(document).ready(function () {
        $(".action_link").each(function () {
            if ($(this).text() == "办公物资") {
                $(this).parent("div").addClass("on");
            }
        });
    });
</script>
