@using Go81WebApp.Models.数据模型.内容数据模型;
@using Go81WebApp.Models.数据模型.商品数据模型
<link href="~/css/index.css" rel="stylesheet" />
<div class="gys_xttz_topbg">
    <div class="index_bottom_zb_top_title">公告</div>
</div>
            <div id="pagecontent" class="gys_xttz_contentbox_front">
    @if (ViewData["竞价公告"] != null)
    {
        <ul>
            @{ var j = 0; }
            @foreach (var item in (IEnumerable<公告>)ViewData["竞价公告"])
            {
                TimeSpan ts = DateTime.Now - item.内容主体.发布时间;
                if (j % 2 == 0)
                {
                    <li>
                        @if (ts.TotalHours < 24)
                        {
                            <img style="position: relative; top: -4px;" src="~/Images/newico.gif" />
                            <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span>
                            <a href="~/公告/AnnounceDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                        }
                        else
                        {
                            <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span>
                            <a href="~/公告/AnnounceDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                        }
                    </li>
                }
                else
                {
                    <li class="oddlinecolor">
                        @if (ts.TotalHours < 24)
                        {
                            <img style="position: relative; top: -4px;" src="~/Images/newico.gif" />
                            <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span>
                            <a href="~/公告/AnnounceDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                        }
                        else
                        {
                            <span>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</span>
                            <a href="~/公告/AnnounceDetail?id=@item.Id" title="@item.内容主体.标题">@item.内容主体.标题</a>
                        }
                    </li>
                }
                j++;
            }

        </ul>

        <div class="gys_znxx_content_detailbox">
            @if (int.Parse(ViewData["currentpage"].ToString()) == 1)
            {
                <a>首页</a>
            }
            else
            {
                <a id="1" onclick=" changeMesspage(this) ">首页</a>
            }
            @for (int i = 0; i <= 10; i++)
            {
                //一共最多显示10个页码，前面5个，后面5个
                if ((int.Parse(ViewData["currentpage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentpage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
                {
                    if (5 == i)
                    {
                        //当前页处理
                        <a>@int.Parse(ViewData["currentpage"].ToString())</a>
                    }
                    else
                    {
                        //一般页处理
                        <a id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)" onclick=" changeMesspage(this) ">@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)</a>

                    }
                }
            }
            @if (int.Parse(ViewData["currentpage"].ToString()) == int.Parse(ViewData["pagecount"].ToString()))
            {
                <a>末页</a>
            }
            else
            {
                <a id="@int.Parse(ViewData["pagecount"].ToString())" onclick=" changeMesspage(this) ">末页</a>
            }
        </div>
    }
    else
    {
        <div style=" height: 270px; color: lightgray; font-size: 40px; text-align: center; line-height: 220px; font-style: italic;">暂无此类信息</div>
    }
</div>

        @*<script type="text/javascript">
            function changeMesspage(a) {
                $.get("/公告/Part_SearchByPage?page=" + encodeURI(a.getAttribute("id")) + "&deliverprovince=" + encodeURI($("#deliverprovince").val()) + "&delivercity=" + encodeURI($("#delivercity").val()) + "&deliverarea=" + encodeURI($("#deliverarea").val()) + "&hy=" + encodeURI($("#hy").val()) + "&adclass=" + encodeURI($("#adclass").val()) + "&keyword=" + encodeURI($("#keyword").val()) + "&time=" + encodeURI($("#time").val()), function (response) {

                    $("#pagecontent").html(response);
                });
            }
        </script>*@
<script type="text/javascript" language="javascript">
    var i = @(int.Parse(ViewData["currentpage"].ToString()));
    var j=@(int.Parse(ViewData["pagecount"].ToString()))
    $(document).ready(function () {
        $(".gys_znxx_content_detailbox a").each(function () {
            if ($(this).text() == i) {
                $(this).addClass("currentPage");
            }
            if (i== j) {
                $(".gys_znxx_content_detailbox a:last").addClass("endPage");
            }
            if (i == 1) {
                $(".gys_znxx_content_detailbox a:first").addClass("endPage");;
            }
        });
    });
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () { $("div.Page6").css("background-color", "#990808"); });
</script>