@{
    ViewBag.Title = "专家统计";
    Layout = "_Back_IntranetLayout.cshtml";
}
<link href="~/css/css.css" rel="stylesheet" />
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>
<style type="text/css">
    .statis_month_title {
        margin-top: 20px;
        font-size: 18px;
        text-indent: 20px;
    }

        .statis_month_title label {
            font-size: 12px;
        }

    .p_statis_month_total {
        text-indent: 2em;
        font-size: 14px;
        color: red;
    }

    div#pager a, .gys_znxx_content_detailbox a {
        display: inline-block;
        width: 50px;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
        height: 25px;
        border: 1px solid rgb(204, 204, 204);
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }

        div#pager a:hover {
            background-color:red;
        }
</style>
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        <div class="title-base-out">
            <div class="title-base-middle">
                <div class="title-base-inner">统计详情</div>
                @*<a style="position:absolute;top:8px;right:20px;" class="printspan" onclick="printpage()"><img width="13" height="13" src="~/Images/print.PNG" />打印</a>*@
            </div>
        </div>
        <div class="statis_month_title">目前专家总数为： @ViewData["专家总数"] 位</div>
        @{
            Dictionary<string, long> ulist = ViewData["三月数据"] as Dictionary<string, long>;
            DateTime start = new DateTime(DateTime.Now.Year, DateTime.Now.Month-1, DateTime.Now.Day);
            DateTime end = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
        }
        <div style="padding-left:20px;padding-right:20px;padding-top:10px;"><input id="startdate" value="@start" onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd' })" /> - <input id="enddate" value="@end" onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd' })" /><button id="btn_date_search">查询</button></div>
        <div id="printContent">
            <div id="gysstatislist"><p class="p_statis_month_total" id="ad_statistic_total">@start.ToString("yyyy/MM/dd")起—@end.ToString("yyyy/MM/dd")止新增专家：@ViewData["区间查询数"] 位</p>
            <table class="table-brief">
                <caption>近三月新增专家情况</caption>
                <tr><th>期间</th><th>新增人数(位)</th></tr>
                @foreach(var item in ulist)
                {
                    <tr><td>@item.Key</td><td>@item.Value</td></tr>
                }
            </table>   
            
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btn_date_search").click(function () {
        var a = $("#startdate").val();
        var b = $("#enddate").val();
        $.ajax({
            url: '/单位用户后台/ExpertStatisticNum',
            data: { startdate: a, enddate: b },
            success: function (data) {
                $("#ad_statistic_total").html(a + "起—" + b + "止新增专家：" + data + "位");
            },
            error: function () {
                alert("请求失败！");
            },
        });
    });
    $(function () {
        $("#专家统计").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#专家统计").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>
