@model Go81WebApp.Models.数据模型.项目数据模型.验收单
@using Go81WebApp.Controllers.后台
@using Go81WebApp.Models.数据模型
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>成都军区物资集中采购验收单</title>
    <link href="~/css/css.css" rel="stylesheet" />
    <style type="text/css">
        #accept_con table tr td.align {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="bg_outdiv">
        <div id="accept_con" style="width:1000px;margin:0px auto 20px;">
            <div style="width:970px;margin:0 auto; padding:15px 10px 30px 30px;border-left:1px dashed #222222">
                <div style="font-size:14px;margin:0 auto;width:900px;">
                    <table width="100%">
                        <tr>
                            <td rowspan="3" width="30%">
                                <div style="height:25px;">验收单号：@Model.验收单号</div>
                                <div style="text-indent:12px;height:25px;">核对码：@Model.验收单核对码</div>
                                <div style="height:25px;">生成日期：@DateTime.Now</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="display:block;width:500px;font-size:32px;margin-top:22px; position:relative;">
                                成都军区物资集中采购验收单
                                @if (Model.审核数据.审核者.用户ID == 10003)
                                {
                                    <img src="~/Images/chapter.png" style="position:absolute;left:137px;top:-18px;width:139px;" />
                                }
                            </td>
                        </tr>
                        <tr>
                            @*<td style="width:600px;margin:0 auto; text-align:right"><span style="margin-right:176px;">N<u>o</u></span></td>*@
                            <td rowspan="3" style="width:600px;margin:0 auto; text-align:right">
                                <img src="/首页/OutPutQrCode?str=@Model.审核数据.审核者.用户ID" style=" margin-right:60px;margin-top:-73px;" />
                                @*<div class="code" style=" float:right; margin-right: 110px; margin-top: -60px;"></div>*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:0 auto;width:900px;">
                    <table style="width:97%; font-size:14px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="6" style="height:33px; text-indent:5px;">收货单位：@Model.收货单位</td>
                            <td colspan="2" style="text-align:right">时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                            <td rowspan="12" style="padding-left:14px;padding-top:25px;"> <span>第一联</span><br /><br /><span style="height:33px;">供货单位留存</span></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="height:33px; border:1px solid black; border-bottom:none; text-indent:5px;">供货单位：@Model.供应商链接.用户数据.企业基本信息.企业名称</td>
                        </tr>
                        <tr>
                            <td style="height:33px;line-height:33px; border:1px solid black; padding-left:5px;padding-right:5px;" align="center" width="5%">序号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="20%">物资名称</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">规格型号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">采购合同号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="10%">计量单位</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="6%">
                                数量
                                <div style="position:absolute; width:200px; height:200px; margin-left:50px;margin-top:-30px;">
                                    @if (!Model.是否作废)
                                    {
                                        if (Model.审核数据.审核者.用户数据 != null)
                                        {
                                            if (Model.审核数据.审核者.用户ID == 10005)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资集中采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            if (Model.审核数据.审核者.用户ID == 10003)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10004)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10011)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购管理办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10013)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10015)
                                            {
                                                <img src="~/Images/seal/昆明民族干部学院章.png" width="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10012)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10007)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10014)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10009)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <img src="~/Images/avoid.png" />
                                    }
                                </div>
                            </td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">
                                单价（元）
                            </td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">
                                金额（元）
                            </td>
                        </tr>
                        @{int m = 1;}
                        @if (Model.物资服务列表 != null && Model.物资服务列表.Count() > 5)
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@(i + 1)</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="left">
                                        @if (i == 0)
                                        {
                                            <span onclick="showList()" style="cursor:pointer">@Model.某批物资名称 (点击查看物资清单)</span>
                                        }
                                    </td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var k in Model.物资服务列表)
                            {
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@m</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="left">
                                        @if (k.商品链接.商品 != null)
                                        {
                                            <span>@k.商品链接.商品.商品信息.商品名</span>
                                        }
                                    </td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.规格型号</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.采购合同号</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.计量单位</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.数量</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">￥@k.单价</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">￥@k.总价</td>
                                </tr>
                                        m++;
                            }
                            switch (m)
                            {
                                case 1:
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">1</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">2</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr> break;
                                case 2:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">2</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                                case 3:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                                case 4:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                            }
                        }
                        <tr>
                            <td style="height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">6</td>
                            <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">金额合计（大写）</td>
                            <td colspan="3" style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; text-align:right;padding-right:5px; letter-spacing:2px;">
                                @{
                                    decimal total1 = 0;
                                    if (Model.验收单附件 != null && Model.验收单附件.Count > 0)
                                    {

                                        foreach (var k1 in Model.验收单附件)
                                        {
                                            total1 += k1.价格;
                                        }
                                    }
                                    total1 += Model.总金额;
                                    <span>@供应商后台Controller.MoneyToUpper(total1.ToString())</span>
                                }
                            </td>
                            <td colspan="2" style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">金额合计（小写）</td>
                            <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">
                                @{
                                    decimal total2 = 0;
                                    if (Model.验收单附件 != null && Model.验收单附件.Count > 0)
                                    {

                                        foreach (var k1 in Model.验收单附件)
                                        {
                                            total2 += k1.价格;
                                        }
                                    }
                                    total2 += Model.总金额;
                                    <span>￥@total2.ToString()</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style=" border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center" rowspan="5">意见反馈</td>
                            <td colspan="7" style=" border-right: 1px solid black; border-bottom: 1px solid black;">
                                <table style="width:100%;" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="width:21.1%;border-bottom: 1px solid black; border-right:1px solid black;height:33px;" align="center">用户通知时间</td>
                                        <td style="width:28.9% ;border-bottom: 1px solid black;border-right:1px solid black;height:33px;" colspan="2"></td>
                                        <td style="width:17.2%;border-bottom: 1px solid black; border-right:1px solid black;height:33px;" align="center" colspan="2">实际到达时间</td>
                                        <td style="height:33px;border-bottom: 1px solid black;" align="center" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;width:25%" align="center" colspan="2">产品销售（维修）情况</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:10%" align="center">非常满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:7%" align="center">满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:7%" align="center">一般</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:8%" align="center">不满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:11%" align="center">非常不满意</td>
                                        <td width="21%" style="height:33px; border-bottom: 1px solid black;" align="center">军区投诉咨询电话</td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center" colspan="2">服务态度</td>
                                        <td colspan="5" style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td rowspan="3" align="center">0821-683369</td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center" colspan="2">产品的熟悉程度</td>
                                        <td colspan="5" style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px; border-right: 1px solid black;" align="center" colspan="2">产品价格及其他</td>
                                        <td style="height:33px; border-right: 1px solid black;" align="center" colspan="5"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top:3px;">
                        <table style="width:100%; font-size:14px;margin-left:5px;" cellpadding="0" cellspacing="0">
                            <tr style="height:33px;">
                                <td>
                                    管理部门审核人：
                                    @if (Model.审核数据.审核者.用户ID == 10015)
                                    {
                                        <img src="~/Images/seal/昆明民族干部学院签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10003)
                                    {
                                        <img src="~/Images/seal/采购处签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10004)
                                    {
                                        <img src="~/Images/seal/78006签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10011)
                                    {
                                        <img src="~/Images/seal/后勤工程学院签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10013)
                                    {
                                        <img src="~/Images/seal/77200签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10007)
                                    {
                                        <img src="~/Images/seal/成都军区总医院签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10005)
                                    {
                                        <img src="~/Images/seal/四川省军区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10012)
                                    {
                                        <img src="~/Images/seal/324医院签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10014)
                                    {
                                        <img src="~/Images/seal/云南省军区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10009)
                                    {
                                        <img src="~/Images/seal/重庆警备区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                </td>
                                <td colspan="2"></td>
                                <td style="text-indent:2em;">供货单位开票人：@Model.供货单位开票人</td>
                                <td colspan="2"></td>
                                <td style="text-indent:2em;">收货单位验收人：</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr style="height:33px;">
                                <td></td>
                                <td colspan="2"></td>
                                <td>供货单位开票人电话：</td>
                                <td colspan="2"></td>
                                <td>收货单位验收人电话：</td>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                @*<div style="position:absolute; width:150px; height:150px; margin-left:50px; margin-top:-30px;">

                </div>*@
                @if (Model.审核数据.审核状态 == 审核状态.审核通过)
                {
                    <img src="/首页/SealWithText?txt=@Model.验收单号&base=@Model.验收单核对码&id=@Model.审核数据.审核者.用户ID" style="position:absolute; margin-top:-40px; width:150px; height:150px;" />
                }
                <div style="width:100%;border-bottom:1px dashed #222222;padding-top:30px; margin-left:-31px;"></div>


                <div style="font-size:14px;margin:0 auto;width:900px;">
                    <table width="100%">
                        <tr>
                            <td rowspan="3" width="30%">
                                <div style="height:25px;">验收单号：@Model.验收单号</div>
                                <div style="text-indent:12px; height:25px;">核对码：@Model.验收单核对码</div>
                                <div style="height:25px;">生成日期：@DateTime.Now</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="display:block;width:500px;font-size:32px;margin-top:30px; position:relative">
                                成都军区物资集中采购验收单
                                @if (Model.审核数据.审核者.用户ID == 10003)
                                {
                                    <img src="~/Images/chapter.png" style="position:absolute;left:137px;top:-18px;width:139px;" />
                                }

                            </td>
                        </tr>
                        <tr>
                            @*<td style="width:600px;margin:0 auto; text-align:right"><span style="margin-right:176px;">N<u>o</u></span></td>*@

                            <td rowspan="3" style="width:600px;margin:0 auto; text-align:right">
                                <img src="/首页/OutPutQrCode?str=@Model.审核数据.审核者.用户ID" style=" margin-right:60px;margin-top:-73px;" />
                                @*<div class="code" style=" float:right; margin-right: 110px; margin-top: -60px;"></div>*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin:0 auto;width:900px;">
                    <table style="width:97%; font-size:14px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="6" style="height:33px; line-height:33px; text-indent:5px;">收货单位：@Model.收货单位</td>
                            <td colspan="2" style="text-align:right">时间：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                            <td rowspan="14" style="padding-left:14px;" id="ticNum"><span>第二联</span><br /><br /><span>收货单位财务报销附件</span></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="height:33px; line-height:33px; border:1px solid black; border-bottom:none; text-indent:5px;">供货单位：@Model.供应商链接.用户数据.企业基本信息.企业名称</td>
                        </tr>
                        <tr>
                            <td style=" height:33px;line-height:33px; border:1px solid black; padding-left:5px;padding-right:5px; " align="center" width="5%">序号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="20%">物资名称</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">规格型号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">采购合同号</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="10%">计量单位</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="6%">
                                数量
                                <div style="position:absolute; width:200px; height:200px; margin-left:50px;margin-top:-30px;">
                                    @if (!Model.是否作废)
                                    {
                                        if (Model.审核数据.审核者.用户数据 != null)
                                        {
                                            if (Model.审核数据.审核者.用户ID == 10005)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资集中采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10003)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10004)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10015)
                                            {
                                                <img src="~/Images/seal/昆明民族干部学院章.png" width="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10011)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购管理办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10013)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10012)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10007)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10014)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购专用章&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                            else if (Model.审核数据.审核者.用户ID == 10009)
                                            {
                                                <img src="/首页/SealWithText?txt=@Model.审核数据.审核者.用户数据.单位信息.单位名称&base=物资采购办公室&id=@Model.审核数据.审核者.用户ID" width="240" height="240" />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <img src="~/Images/avoid.png" />
                                    }
                                </div>
                            </td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">单价（元）</td>
                            <td style=" border-top:1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" align="center" width="15%">金额（元）</td>
                        </tr>
                        @{int n = 1;}
                        @if (Model.物资服务列表 != null && Model.物资服务列表.Count() > 5)
                        {
                            for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@(i + 1)</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="left">
                                        @if (i == 0)
                                        {
                                            <span onclick="showList()" style="cursor:pointer">@Model.某批物资名称 (点击查看物资清单)</span>
                                        }
                                    </td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var k in Model.物资服务列表)
                            {
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@n</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="left">
                                        @if (k.商品链接.商品 != null)
                                        {
                                            <span>@k.商品链接.商品.商品信息.商品名</span>
                                        }
                                    </td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.规格型号</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.采购合同号</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.计量单位</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">@k.数量</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">￥@k.单价</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">￥@k.总价</td>
                                </tr>
                                        n++;
                            }
                            switch (n)
                            {
                                case 1:
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">1</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">2</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr> break;
                                case 2:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">2</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                                case 3:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">3</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                                case 4:
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">4</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr>
                                <tr>
                                    <td style=" height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">5</td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    <td style=" height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                </tr> break;
                            }
                        }
                        <tr>
                            <td style="height:33px; line-height:33px; border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">6</td>
                            <td style="height:33px; line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">金额合计（大写）</td>
                            <td colspan="3" style="height:33px; line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black; text-align:right;padding-right:5px; letter-spacing:2px;">
                                @{
                                    decimal total3 = 0;
                                    if (Model.验收单附件 != null && Model.验收单附件.Count > 0)
                                    {

                                        foreach (var k1 in Model.验收单附件)
                                        {
                                            total3 += k1.价格;
                                        }
                                    }
                                    total3 += Model.总金额;
                                    <span>@供应商后台Controller.MoneyToUpper(total3.ToString())</span>
                                }
                            </td>
                            <td colspan="2" style="height:33px; line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">金额合计（小写）</td>
                            <td style="height:33px; line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">
                                @{
                                    decimal total4 = 0;
                                    if (Model.验收单附件 != null && Model.验收单附件.Count > 0)
                                    {

                                        foreach (var k1 in Model.验收单附件)
                                        {
                                            total4 += k1.价格;
                                        }
                                    }
                                    total4 += Model.总金额;
                                    <span>￥@total4.ToString()</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style=" border-left:1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;" align="center">意见反馈</td>
                            <td colspan="7" style=" border-right: 1px solid black; border-bottom: 1px solid black;">
                                <table style="width:100%;" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="width:21.1%;border-bottom: 1px solid black; border-right:1px solid black;height:33px; line-height:33px;" align="center">用户通知时间</td>
                                        <td style="width:28.9% ;border-bottom: 1px solid black;border-right:1px solid black;height:33px;line-height:33px; " colspan="2"></td>
                                        <td style="width:17.2%;border-bottom: 1px solid black; border-right:1px solid black;height:33px; line-height:33px;" align="center" colspan="2">实际到达时间</td>
                                        <td style="height:33px; line-height:33px;border-bottom: 1px solid black;" align="center" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px;line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;width:25%" align="center" colspan="2">产品销售（维修）情况</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:10%" align="center">非常满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:7%" align="center">满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:7%" align="center">一般</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:8%" align="center">不满意</td>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black; width:11%" align="center">非常不满意</td>
                                        <td width="21%" style="height:33px;line-height:33px; border-bottom: 1px solid black;" align="center">军区投诉咨询电话</td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center" colspan="2">服务态度</td>
                                        <td colspan="5" style="height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                        <td rowspan="3" align="center">0821-683369</td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px;line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center" colspan="2">产品的熟悉程度</td>
                                        <td colspan="5" style="height:33px;line-height:33px; border-right: 1px solid black; border-bottom: 1px solid black;" align="center"></td>
                                    </tr>
                                    <tr>
                                        <td style="height:33px;line-height:33px; border-right: 1px solid black;" align="center" colspan="2">产品价格及其他</td>
                                        <td style="height:33px;line-height:33px; border-right: 1px solid black;" align="center" colspan="5"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="margin-top:3px;">
                        <table style="width:100%; font-size:14px;margin-left:5px;" cellpadding="0" cellspacing="0">
                            <tr style="height:33px">
                                <td>
                                    管理部门审核人：
                                    @if (Model.审核数据.审核者.用户ID == 10015)
                                    {
                                        <img src="~/Images/seal/昆明民族干部学院签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10003)
                                    {
                                        <img src="~/Images/seal/采购处签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10004)
                                    {
                                        <img src="~/Images/seal/78006签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10011)
                                    {
                                        <img src="~/Images/seal/后勤工程学院签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10013)
                                    {
                                        <img src="~/Images/seal/77200签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10007)
                                    {
                                        <img src="~/Images/seal/成都军区总医院签名.png" style="position:absolute; width:100px; height:80px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10005)
                                    {
                                        <img src="~/Images/seal/四川省军区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10012)
                                    {
                                        <img src="~/Images/seal/324医院签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10014)
                                    {
                                        <img src="~/Images/seal/云南省军区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                    else if (Model.审核数据.审核者.用户ID == 10009)
                                    {
                                        <img src="~/Images/seal/重庆警备区签名.png" style="position:absolute; width:100px; height:60px; margin-top:-15px;" />
                                    }
                                </td>
                                <td colspan="2"></td>
                                <td style="text-indent:2em;">供货单位开票人：@Model.供货单位开票人</td>
                                <td colspan="2"></td>
                                <td style="text-indent:2em;">收货单位验收人：</td>
                                <td colspan="2"></td>
                            </tr>
                            <tr style="height:33px;">
                                <td></td>
                                <td colspan="2"></td>
                                <td>供货单位开票人电话：</td>
                                <td colspan="2"></td>
                                <td>收货单位验收人电话：</td>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

