@using Go81WebApp.Models.数据模型.用户数据模型
<tr>
    <td colspan="7">
        第 @Model.n 次抽选【@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")】
        <input class="rescount" type="hidden" value="@Model.list.Count" />
    </td>
</tr>

@foreach (var ii in Model.list)
{
    <tr id="@ii.Id" name="@ii.Id">
        <td>@ii.身份信息.姓名</td>
        <td>@ii.学历信息.专业技术职称</td>
        <td>@ii.工作经历信息.从事专业</td>
        <td>@ii.身份信息.专家类型</td>
        <td>@ii.身份信息.专家类别</td>
        <td>@ii.联系方式.手机<br />@ii.联系方式.固定电话</td>
        <td>
            <div style="display:none; float:left;">
                <input type="radio" id="@(ii.Id)_y" name="@ii.Id" />
                <input type="radio" id="@(ii.Id)_n" name="@ii.Id" />
            </div>
            <div style=" width:60px; float:left;">
                <label for="@(ii.Id)_y" class="expert_condition_button2" onclick="deleteline(this)">不能出席</label>
                <label for="@(ii.Id)_n" class="expert_condition_button2" onclick="this.style.backgroundColor = 'green'; this.style.color = '#fff'">能够出席</label>
            </div>
            <div style=" width:200px; ">
                <input id="@ii.Id" type="text" class="expert_condition_reason" />
            </div>
            @*<input type="button" class="expert_condition_button" value="不能出席" onclick="deleteline(this)" />
                <input type="text" class="expert_condition_reason" />*@
        </td>
    </tr>
}
