@using Go81WebApp.Models.数据模型.用户数据模型
@{
    ViewBag.Title = "专家列表";
}
<link href="~/css/index.css" rel="stylesheet" />
<script src="~/JS/provinceandcity_all.js"></script>
@{
    Layout = "_BackLayout.cshtml";
}
<style>
    div#pager {
        text-align: center;
    }

        div#pager a, .gys_znxx_content_detailbox a {
            display: inline-block;
            width: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            height: 25px;
            border: 1px solid rgb(204, 204, 204);
            margin-top: 10px;
            margin-left: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }

            div#pager a:hover {
                background-color: rgb(243, 243, 243);
            }
</style>

<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div style="margin-bottom:50px;" class="bg_outdiv_right">
        <div>
            <div class="title-base-out">
                <div class="title-base-middle">
                    <div class="title-base-inner">专家列表<span style="color:red; font-size:16px;">【目前总共有@(ViewData["expert"])位专家,其中@(ViewData["checked"])位已审核,@(ViewData["wait"])位等待审核】</span></div>
                </div>
            </div>
            <div class="gys_znxx_box">
                @{IEnumerable<专家> supplier = ViewData["supplier"] as IEnumerable<专家>;}
                <div class="gys_znxx_contentbox">
                    <table width="80%" style="margin-left:20px; margin-top:10px;">
                        <tr>
                            <td align="right">专家名称：</td>
                            <td>
                                <input type="text" id="expertname" />
                            </td>
                            <td align="right">审核状态：</td>
                            <td>
                                <select name="s" id="status" style="width:153px;">
                                    <option value="1">已审核</option>
                                    <option value="0">未审核</option>
                                    <option value="2">审核未通过</option>
                                    <option value="-1" selected="selected">不限</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">地区：</td>
                            <td colspan="3">
                                <select id="deliverprovince" name="deliverprovince" style="width:153px;"></select>
                                <select id="delivercity" name="delivercity" style="width:153px;"></select>
                                <select id="deliverarea" name="deliverarea" style="width:153px;"></select>
                                <script>
                                    window.onload = function () { new PCAS("deliverprovince", "delivercity", "deliverarea"); }
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="left" height="50">
                                <input type="button" id="search" onclick="searchExpert(this)" style="width:100px; margin-left:250px; border:none; background-color:green; cursor:pointer; color:white; height:30px; font-size:15px;" value="查询" />
                            </td>
                        </tr>
                    </table>
                    <div class="gys_znxx_content">
                        <div style="font-size:12px;" id="tb1">
                            <table width="100%" cellpadding="0" cellspacing="0" id="ExpertList">
                                <tr><td colspan="11" style="text-align:right;"><a href="###" onclick="outPutExcel()">导出EXCEL表格</a></td></tr>
                                <tr>
                                    <th>序号</th>
                                    <th>专家姓名</th>
                                    <th>民族</th>
                                    <th>专家级别</th>
                                    <th>审核状态</th>
                                    <th>是否入库</th>
                                    <th colspan="2">操作</th>
                                    <th>Excel<input id="allCheck" name="parent" type="checkbox" value="" onclick="selectAll()" /></th>
                                </tr>
                                @for (int i = 0; i < supplier.Count(); i++)
                                {
                                    <tr>
                                        <td style="text-align: center; width:12%;">@(i + 1)</td>
                                        <td style="text-align: center; width:20%;"><a href="/运营团队后台/Expert_Edit?id=@supplier.ElementAt(i).Id" target="_blank">@(string.IsNullOrWhiteSpace(supplier.ElementAt(i).身份信息.姓名) ? "未填写" : supplier.ElementAt(i).身份信息.姓名)</a></td>
                                        <td style="text-align: center; width:12%;">@supplier.ElementAt(i).身份信息.民族</td>
                                        <td style="text-align: center; width:12%;">@supplier.ElementAt(i).身份信息.专家级别</td>
                                        <td style="text-align:center; width:10%;">@supplier.ElementAt(i).审核数据.审核状态.ToString()</td>
                                        <td style="text-align: center; width:9%;">
                                            @if (supplier.ElementAt(i).入库类型!=入库类型.入库)
                                            {
                                                <span>未入库</span>
                                            }
                                            else
                                            {
                                                <span style="color:#ff0000;">已入库</span>
                                            }
                                        </td>
                                        <td style="text-align: center; width:6%;"><a onclick="del(this,@supplier.ElementAt(i).Id)">删除</a></td>
                                        <td style="text-align: center; width:6%;"><a target="_blank" href="/运营团队后台/Print_Detail?id=@supplier.ElementAt(i).Id">打印</a></td>
                                        <td style="text-align: center; width:6%;"><input name="item" type="checkbox" value="@supplier.ElementAt(i).Id" onclick="selectThis()" /></td>
                                    </tr>
                                }
                            </table>
                            <div class="gys_znxx_content_detailbox">
                                @{
                                    int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                                    int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                                    if(Pagecount>0)
                                    {
                                        if(CurrentPage!=1)
                                        {
                                            <a href='/运营团队后台/expert_list?page=1'>首页</a><a href='/运营团队后台/expert_list?page=@(CurrentPage-1)'>上一页</a>
                                        }
                                    }
                                    if (Pagecount <= 6)
                                    {
                                        for (int i = 1; i <= Pagecount; i++)
                                        {
                                            if (CurrentPage == i)
                                            {
                                                <a style="border:1px solid red;" href='/运营团队后台/expert_list?page=@i'>@i</a>
                                            }
                                            else
                                            {
                                                <a href='/运营团队后台/expert_list?page=@i'>@i</a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (CurrentPage < 6)
                                        {
                                            if (CurrentPage != 1)
                                            {
                                                for (int i = 1; i < 7; i++)
                                                {
                                                    if (CurrentPage == i)
                                                    {
                                                        <a style="border:1px solid red;" href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                    }
                                                    else
                                                    {
                                                        <a href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                    }
                                                }
                                                <span>...</span><a href="/运营团队后台/expert_list?page=@(Pagecount)">@Pagecount</a>
                                            }
                                            else
                                            {
                                                for (int i = 1; i < 7; i++)
                                                {
                                                    if (CurrentPage == i)
                                                    {
                                                        <a style="border:1px solid red;" href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                    }
                                                    else
                                                    {
                                                        <a href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                    }
                                                }
                                                <span>...</span><a href="/运营团队后台/expert_list?page=@(Pagecount)">@Pagecount</a>
                                            }
                                        }
                                        else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                                        {
                                            <a href="/运营团队后台/expert_list?page=1">1</a><span>...</span>
                                            for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                            {
                                                if (CurrentPage == i)
                                                {
                                                    <a style="border:1px solid red;" href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                }
                                                else
                                                {
                                                    <a href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                }
                                            }
                                            <span>...</span><a href="/运营团队后台/expert_list?page=@(Pagecount)">@Pagecount</a>
                                        }
                                        else if (CurrentPage >= Pagecount - 3)
                                        {
                                            <a href="/运营团队后台/expert_list?page=1">1</a><span>...</span>
                                            for (int i = Pagecount - 5 + 1; i <= Pagecount; i++)
                                            {
                                                if (CurrentPage == i)
                                                {
                                                    <a style="border:1px solid red;" href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                }
                                                else
                                                {
                                                    <a href='/运营团队后台/expert_list?page=@i'>@i</a>
                                                }
                                            }
                                        }
                                    }
                                    if(Pagecount>0)
                                    {
                                        if(CurrentPage!=Pagecount)
                                        {
                                            <a href='/运营团队后台/expert_list?page=@(CurrentPage+1)'>下一页</a><a href='/运营团队后台/expert_list?page=@Pagecount'>末页</a>
                                        }
                                    }
                                    <span>第@(CurrentPage)页/共@(Pagecount)页</span>
}
                            </div>
                        </div>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    var s = "";
    function del(obj,num) {
        if (confirm("点击确定即将删除此用户！确定删除吗？")) {
            $.ajax({
                url:'/运营团队后台/DelExpert',
                data:{id:num},
                success:function() {
                    alert("删除成功！");
                    $(obj).parents("tr").remove();
                },
                error:function() {
                    alert("删除失败！");
                },
            });
        }
    }
    function searchExpert(e){
        var expertname = $("#expertname").val();
        var status = $("#status").val();
        var province =$("#deliverprovince").val();
        var city = $().val();
        var area = $().val();
        if(expertname==""){alert("请输入专家姓名！"); return false;}
        $.ajax({
            url:'/运营团队后台/SearchExpert',
            data:{expertname:expertname},
            dataType:'json',
            success:function(data){
                var str = "<tr><td colspan='11' style='text-align:right;'><a href='###' onclick='outPutExcel()'>导出EXCEL表格</a></td></tr>";
                str += " <tr><th>序号</th><th>专家姓名</th><th>民族</th><th>专家级别</th><th>审核状态</th><th colspan='2'>操作</th><th>Excel<input id='allCheck' name='parent' type='checkbox' value='' onclick='selectAll()' /></th></tr>";
                $.each(data, function (index) {
                    str += "<tr><td style='text-align: center; width:12%;'>" + (index + 1) + "</td>";
                    str += "<td style='text-align: center; width:20%;'><a href='/运营团队后台/Expert_Edit?id="+data[index].ID+"' target='_blank'>" + data[index].Name + "</a></td>";
                    str += "<td style='text-align: center; width:12%;'>" + data[index].Minzu + "</td>";
                    str += "<td style='text-align: center; width:12%;'>" + data[index].Zjjb + "</td>";
                    str += "<td style='text-align:center; width:10%;'>" + data[index].Shzt + "</td>";
                    str += "<td style='text-align: center; width:6%;'><a onclick='del(" + data[index].ID + ")'>删除</a></td>";
                    str += "<td style='text-align: center; width:6%;'><a target='_blank' href='/运营团队后台/Print_Detail?id=" + data[index].ID + "'>打印</a></td>";
                    str += "<td style='text-align: center; width:6%;'><input name='item' type='checkbox' value='" + data[index].ID + "' onclick='selectThis()' /></td></tr>";
                });
                $("#ExpertList").html(str);
            },
            error: function () {
                alert("失败！");
            },
        });
    }
    function selectAll() {
        s = "";
        var th = document.getElementsByName('parent').item(0);
        var items = document.getElementsByName('item');
        if (th.checked) {
            for (var i = 0; i < items.length; i++) {
                items.item(i).checked = true;
                s += items.item(i).value + ",";
            }
        }
        else {
            for (var i = 0; i < items.length; i++) {
                items.item(i).checked = false;
            }
            s = "";
        }
    }
    function selectThis() {
        s = "";
        var items = document.getElementsByName('item');
        var th = document.getElementsByName('parent').item(0);
        for (var i = 0; i < items.length; i++) {
            if (!items.item(i).checked) {
                th.checked = false;
                break;
            }
        }
        for (var i = 0; i < items.length; i++) {
            if (items.item(i).checked) {
                s += items.item(i).value + ",";
            }
        }
    }
    function outPutExcel() {
        if (s == "") {
            alert("请选择要导出的数据！");
        }
        else {
            window.location = "/运营团队后台/putOutExcel?id=" + s;
        }
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#专家列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#专家列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>