@using Go81WebApp.Models.数据模型.项目数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型
@{
    ViewBag.Title = "网站运营情况";
    Layout = "_BackLayout.cshtml";
}

<link href="~/css/css.css" rel="stylesheet" />
<script src="~/JS/myComfirm.js" type="text/javascript"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>

<style type="text/css">

</style>
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        <div class="title-base-out">
            <div id="title_div" class="title-base-middle">
                <div class="title-base-inner">网站运营情况统计</div>
            </div>
        </div>
        <div>
            <div style="font-size:13px;">
                 <div><h4 style="margin:10px;">供应商入网数量</h4></div>
                <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #ccc;border-right:1px solid #ccc">
                     <tr>
                         <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="3%">编号</th>
                         <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="10%">项目</th>
                         <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="6%">&nbsp;</th>
                         <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="6%">数量</th>
                     </tr>
                    @{
                        var 供应商入网数量 = ViewData["供应商入网数量"] as Dictionary<string, Dictionary<string, int>>;
                        if (供应商入网数量.Any())
                        {
                            var num=0;
                            foreach (var item in 供应商入网数量)
                            {
                                num++;
                                <tr>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">@num )</td>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">@item.Key</td>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">&nbsp;</td>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">@供应商入网数量[item.Key].Sum(o => o.Value)</td>
                                </tr>
                                foreach (var i in 供应商入网数量[item.Key]) 
                                { 
                                    <tr>
                                        <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">&nbsp;</td>
                                        <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">&nbsp;</td>
                                        <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">@i.Key</td>
                                        <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;text-indent:10px;">@i.Value</td>
                                    </tr>   
                                }
                            }
                        }
                    }
                    
                </table>
            
                <div><h4 style="margin:10px;">各行业供应商入网数量</h4></div>
                <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:1px solid #ccc;border-right:1px solid #ccc">
                    <tr>
                        <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="3%">&nbsp;</th>
                        <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="10%">项目</th>
                        <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="6%">&nbsp;</th>
                        <th style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;" width="6%">数量</th>
                    </tr>
                    @{
                        var 各行业供应商入网数量 = ViewData["各行业供应商入网数量"] as Dictionary<string, Dictionary<string, int>>;
                        foreach (var item in 各行业供应商入网数量)
                        {
                            <tr>
                                <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;" rowspan="@item.Value.Count">@item.Key</td>
                                <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">@各行业供应商入网数量[item.Key].ElementAt(0).Key 类</td>
                                <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">&nbsp;</td>
                                <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">@各行业供应商入网数量[item.Key].ElementAt(0).Value</td>
                            </tr>
                            foreach (var k in 各行业供应商入网数量[item.Key].Skip(1))
                            {
                                <tr>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">@k.Key 类</td>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">&nbsp;</td>
                                    <td style="border-top:1px solid #ccc;border-left:1px solid #ccc;line-height:30px;line-height:30px;text-indent:10px;">@k.Value</td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
        <div id="ggyfbsl" style="min-height:90px;"> 
            
        </div>

        
    </div>
</div>

<script type="text/javascript">
    var exist = false;
    window.onscroll=function(){
        var ggyfbsl = document.getElementById('ggyfbsl');
        var top = ggyfbsl.getBoundingClientRect().top;
        var se = document.documentElement.clientHeight;
        if (top <= se && !exist) {
            exist = true;
            $.ajax({
                url: '/运营团队后台/Part_UnitOrAdStatics',
                beforeSend: function () {
                    $("#ggyfbsl").html("<div style='position:absolute; z-index:100; width:940px;text-align:center; line-height:90px;'><img src='../Images/ajax-loader.gif' width='25px' height='25px' /></div>");
                },
                success: function (data) {
                    $("#ggyfbsl").html(data);
                },
                error: function () {
                    $("#ggyfbsl").html("获取数据出错！");
                },
            });
        }
    };
    $(function () {
        $("#网站运营情况统计").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#网站运营情况统计").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>

