@using Go81WebApp.Models.数据模型
@{
    ViewBag.Title = "机票代售点审核-待审核";
    Layout = "_BackLayout.cshtml";
    
}
<link rel="stylesheet" href="~/css/index.css" type="text/css">

<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        <div class="title-base-out">
            <div class="title-base-middle">
                <div class="title-base-inner">未审核代售点列表</div>
            </div>
        </div>
        @{
            IEnumerable<机票代售点> model=ViewData["代售点列表"] as IEnumerable<机票代售点>;
        }
        <div class="gys_znxx_box">
            <div class="gys_ztbsearch_contentbox">
                @if(model.Count()==0)
                {
                   <div style="text-align:center;">暂时没有待审核的代售点信息</div> 
                }
                @foreach (var item in model)
                {
                    <div class="gyspage_list_content">
                        <div class="gyspage_list_content_imgdiv">
                            <a href="~/运营团队后台/TicketDetail?id=@item.Id">
                                @if (item.照片.Count > 0)
                                {
                                    <img src="@item.照片[0].Replace("original/", "150X150/")" width="100" height="100" />
                                }
                                else
                                {
                                    <img src="~/images/noimage.jpg" width="100" height="100" />
                                }
                            </a>
                        </div>
                        <div class="gyspage_list_content_listdiv">
                            <div class="gyspage_list_content_list">
                                <div class="gyspage_list_content_list_cont">名称：@item.代售点名称</div>
                                <div class="gyspage_list_content_list_cont">所在地：@item.所属地域.地域</div>
                                <div class="gyspage_list_content_list_cont">
                                    联系电话：
                                    @try
                                    {
                                        @item.联系电话
                                    }
                                    catch
                                    {
                                        <span>未知</span>
                                    }
                                </div>
                            </div>
                            <div class="gyspage_list_content_list">
                                <a href="~/运营团队后台/TicketDetail?id=@item.Id" style="padding:0 10px 0 0;">进行处理</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="gys_znxx_content_detailbox">
                    @{
                        if (model.Count() != 0)
                        {
                            int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                            int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                            if (Pagecount > 0 && CurrentPage != 1)
                            {
                                <a href='/运营团队后台/TicketExamine?page=1'>首页</a><a href='/运营团队后台/TicketExamine?page=@(CurrentPage-1)'>上一页</a>
                            }
                            if (Pagecount <= 6)
                            {
                                for (int i = 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                    }
                                }
                            }
                            else
                            {
                                if (CurrentPage < 6)
                                {
                                    if (CurrentPage != 1)
                                    {
                                        for (int i = 1; i < 7; i++)
                                        {
                                            if (CurrentPage == i)
                                            {
                                                <a style="border:1px solid red;" href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                            }
                                            else
                                            {
                                                <a href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                            }
                                        }
                                        <span>...</span><a href="/运营团队后台/TicketExamine?page=@(Pagecount)">@Pagecount</a>
                                    }
                                    else
                                    {
                                        for (int i = 1; i < 7; i++)
                                        {
                                            if (CurrentPage == i)
                                            {
                                                <a style="border:1px solid red;" href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                            }
                                            else
                                            {
                                                <a href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                            }
                                        }
                                        <span>...</span><a href="/运营团队后台/TicketExamine?page=@(Pagecount)">@Pagecount</a>
                                    }
                                }
                                else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                                {
                                    <a href="/运营团队后台/TicketExamine?page=1">1</a><span>...</span>
                                    for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/运营团队后台/TicketExamine?page=@(Pagecount)">@Pagecount</a>
                                }
                                else if (CurrentPage >= Pagecount - 3)
                                {
                                    <a href="/运营团队后台/TicketExamine?page=1">1</a><span>...</span>
                                    for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/TicketExamine?page=@i'>@i</a>
                                        }
                                    }
                                }
                            }
                            if (Pagecount > 0)
                            {
                                if (CurrentPage < Pagecount)
                                {
                                    <a href="/运营团队后台/TicketExamine?page=@(CurrentPage+1)">下一页</a><a href="/运营团队后台/TicketExamine?page=@Pagecount">末页</a>
                                }
                                <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#待审核代售点").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#待审核代售点").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
        </script>
    </div>
</div>

