@using Go81WebApp.Models.数据模型.推荐数据模型
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">待联系推荐评审专家</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="20%">单位名称</th>
                    <th width="10%">评审专家姓名</th>
                    <th width="15%">手机</th>
                    <th width="15%">固定电话</th>
                    <th width="10%">时间</th>
                    <th width="10%">状态</th>
                    <th width="20%">操作</th>
                </tr>
                @{
                    IEnumerable<推荐信息> model=ViewData["待联系推荐专家"] as IEnumerable<推荐信息>;
                }
                @foreach (var item in model)
                {
                    <tr>
                        <td>@item.名称</td>
                        <td>@item.联系方式.联系人</td>
                        <td>@item.联系方式.手机</td>
                        <td>@item.联系方式.固定电话</td>
                        <td>@item.基本数据.添加时间.ToString("yyyy-MM-dd")</td>
                        <td>@item.推荐审核数据.推荐状态</td>
                        <td><a href="/运营团队后台/Recommend_ExpertDetail/@item.Id">进行处理</a><a onclick="del(@item.Id)">删除</a></td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/运营团队后台/Recommend_ExpertList_Ed?page=1'>首页</a><a href='/运营团队后台/Recommend_ExpertList_Ed?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/运营团队后台/Recommend_ExpertList_Ed?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/运营团队后台/Recommend_ExpertList_Ed?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/运营团队后台/Recommend_ExpertList_Ed?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/运营团队后台/Recommend_ExpertList_Ed?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/运营团队后台/Recommend_ExpertList_Ed?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/运营团队后台/Recommend_ExpertList_Ed?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/运营团队后台/Recommend_ExpertList_Ed?page=@(CurrentPage+1)">下一页</a><a href="/运营团队后台/Recommend_ExpertList_Ed?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#待联系推荐评审专家").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#待联系推荐评审专家").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    function del(num)
    {
        if(confirm("点击确定即将删除此消息！确定删除吗？"))
        {
            window.location="/运营团队后台/Delete_Recommend?id="+num;
        }
    }
</script>

