@model Go81WebApp.Models.数据模型.用户数据模型.专家
@using Go81WebApp.Models.数据模型.用户数据模型
<script src="~/JS/provinceandcity_all.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/calendar.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/config.js"></script>
<script type="text/javascript" src="~/JS/My97DatePicker/WdatePicker.js"></script>


<style type="text/css">
.expert {
        width: 927px;
        height: auto;
        overflow: hidden;
        padding: 10px;
        border: none;
    }
.expert p{background:#7BAFA5;font-weight:bold; text-indent:2em; height:30px; line-height:30px;}

.expert_identity table tr td{ width:300px;}
.expert_identity table tr td input{width:180px;}
.expert_identity table tr td select{width:185px; text-align:center;}
.expert_identity table tr td.lab{width:150px; text-align:right;font-size: 13px; }
.expert textarea{width:638px;height:100px;}
.tabletable tr td.lac{ width:90px; text-align:right;}
.tabletable tr td.lad{ width:264px;}
.expert span{ font-size:12px; color:red;}
.expert ul{
    padding:0px;
    list-style:none;
}
</style>

@using (Html.BeginForm("EditExpert", "运营团队后台", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    Html.AntiForgeryToken();
    @Html.HiddenFor(model=>model.Id)
    <div class="expert">
        <div class="title-base-out">
            <div class="title-base-middle">
                <div class="title-base-inner">评审专家详情</div>
            </div>
        </div>
        <!--身份信息-->
        <p class="title">身份信息</p>
        <div class="expert_identity">
            <table>
                <tr>
                    <td class="lab">姓名：</td>
                    <td>@Html.EditorFor(m => m.身份信息.姓名)
                    </td>
                    <td class="lab">性别：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.身份信息.性别)
                    </td>
                </tr>
                <tr>
                    <td class="lab">出生年月：</td>
                    <td>
                        @Html.TextBoxFor(m => m.身份信息.出生年月, new { onfocus = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                    </td>
                    <td class="lab">民族：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.身份信息.民族)
                    </td>
                </tr>
                <tr>
                    <td class="lab">政治面貌：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.身份信息.政治面貌)
                    </td>
                    <td class="lab">评审专家类型：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.身份信息.专家类型)
                    </td>
                </tr>
                <tr>
                    @if (Model.身份信息.证件类型 == 证件类型.军官证)
                    {
                        <td class="lab">军官证号：</td>
                    }
                    else if (Model.身份信息.证件类型 == 证件类型.身份证)
                    {
                        <td class="lab">身份证号：</td>
                    }
                    else
                    {
                        <td class="lab">证件号：</td>
                    }
                    <td>@Html.TextBoxFor(m => m.身份信息.证件号)
                    </td>
                    <td class="lab">评审专家类别：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.身份信息.专家类别)
                    </td>
                </tr>
                <tr>
                    <td class="lab">专家证号：</td>
                    <td>@Html.EditorFor(m => m.身份信息.专家证号)</td>
                    <td class="lab">专家证电子扫描件：</td>
                    <td style="position:relative;" onmouseover="showDetail(this,1)" onmouseout="showDetail(this,0)">
                        @if (Model.身份信息.专家证电子扫描件.Count != 0)
                        {
                            <a style="color:#ff0000;">查看详情</a>
                            <div style="position:absolute;width:250px;top:25px; left:0px; background-color:#fff; border:1px solid #B7E2FF; box-shadow:0px 0px 15px #f1ecec,1px 1px 15px #f1ecec; display:none;">
                                <ul>
                                    @foreach (var item in Model.身份信息.专家证电子扫描件)
                                    {
                                        <li><a target="_blank" href="@item" style="color:blue;">@item</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <span style="color:#ff0000;">暂时没有上传</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="lab">证件电子扫描件：</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(Model.身份信息.证件电子扫描件))
                        {
                            <a target="_blank" href="@Model.身份信息.证件电子扫描件" style="color:blue;">@Model.身份信息.证件电子扫描件</a>
                        }
                        else
                        {
                            <span style="color:#ff0000;">暂时没有上传</span>
                        }
                    </td>
                    <td class="lab">本人照片电子扫描件：</td>

                    <td>
                    @if (!string.IsNullOrWhiteSpace(Model.身份信息.本人照片电子扫描件))
                    {
                        <a target="_blank" href="@Model.身份信息.本人照片电子扫描件" style="color:blue;">@Model.身份信息.本人照片电子扫描件</a>
                    }
                    else
                    {
                        <span style="color:#ff0000;">暂时没有上传</span>
                    }
                </tr>
                <tr>
                    <td class="lab">所在地区：</td>
                    <td>
                        @Html.HiddenFor(m => m.所属地域.省份, new { id = "provence" })
                        @Html.HiddenFor(m => m.所属地域.城市, new { id = "city" })
                        @Html.HiddenFor(m => m.所属地域.区县, new { id = "area" })
                        <select id="deliverprovince" name="deliverprovince" style="width:95px;"></select>
                        <select id="delivercity" name="delivercity" style="width:95px;"></select>
                        <select id="deliverarea" name="deliverarea" style="width:95px;"></select>
                        <script>
                            window.onload = function () { new PCAS("deliverprovince", "delivercity", "deliverarea", "@Model.所属地域.省份", "@Model.所属地域.城市", "@Model.所属地域.区县"); }
                        </script>

                    </td>
                    <td class="lab">入库类型：</td>
                    <td>
                        @Html.EnumDropDownListFor(model=>model.入库类型)
                    </td>
                </tr>
            </table>
        </div>

        <!--学历信息-->

        <p>学历信息</p>
        <div class="expert_identity">
            <table>
                <tr>
                    <td class="lab">毕业院校：</td>
                    <td>@Html.EditorFor(m => m.学历信息.毕业院校)
                    </td>
                    <td class="lab">专业技术职称：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.学历信息.专业技术职称)
                    </td>
                </tr>
                <tr>
                    <td class="lab">取得现技术职称时间：</td>
                    <td>
                        @Html.TextBoxFor(m => m.学历信息.取得现技术职称时间, new { onfocus = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                    </td>
                    <td class="lab">职称证书电子扫描件：</td>
                    <td style="position:relative;" onmouseover="showDetail(this,1)" onmouseout="showDetail(this,0)">
                    @if (Model.学历信息.职称证书电子扫描件.Count != 0)
                    {
                        <a style="color:#ff0000;">查看详情</a>
                        <div style="position:absolute;width:250px;top:25px; left:0px; background-color:#fff; border:1px solid #B7E2FF; box-shadow:0px 0px 15px #f1ecec,1px 1px 15px #f1ecec; display:none;">
                            <ul>
                                @foreach (var item in Model.学历信息.职称证书电子扫描件)
                                {
                                    <li>
                                        <a target="_blank" href="@item" style="color:blue;">@item</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <span style="color:#ff0000;">暂时没有上传</span>
                    }
                
                </tr>
                <tr>
                    <td class="lab">最高学历：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.学历信息.最高学历)
                    </td>
                    <td class="lab">最高学位：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.学历信息.最高学位)
                    </td>
                </tr>
            </table>
        </div>

        <!--工作经历-->

        <p>工作经历</p>
        <div class="expert_identity">
            <table>
                <tr>
                    <td class="lab">参加工作时间：</td>
                    <td>@Html.TextBoxFor(m => m.工作经历信息.参加工作时间, new { onfocus = "WdatePicker({dateFmt:'yyyy/MM/dd'})" })
                    </td>
                    <td class="lab">从事专业：</td>
                    <td>@Html.EditorFor(m => m.工作经历信息.从事专业)
                    </td>
                </tr>
                <tr>
                    <td class="lab">从事专业起始年度：</td>
                    <td>@Html.EditorFor(m => m.工作经历信息.从事专业起始年度)
                    </td>
                    <td class="lab">工作单位：</td>
                    <td>@Html.EditorFor(m => m.工作经历信息.工作单位)
                    </td>
                </tr>
                
                <tr>
                    <td class="lab">健康状况：</td>
                    <td>
                        @Html.EnumDropDownListFor(m => m.工作经历信息.健康状况)
                    </td>
                    <td class="lab">现任职务：</td>
                    <td>@Html.EditorFor(m => m.工作经历信息.现任职务)
                    </td>
                </tr>
                <tr>
                    <td class="lab" valign="top">单位地址：</td>
                    <td colspan="3">
                        @Html.EditorFor(m => m.工作经历信息.单位地址)
                    </td>

                </tr>
                <tr>
                    <td class="lab" valign="top">社会兼聘职情况：</td>
                    <td colspan="3">@Html.TextAreaFor(m => m.工作经历信息.社会兼聘职情况)
                    </td>
                </tr>
                <tr>
                    <td class="lab" valign="top">本人参加过何种项目招标及评标：</td>
                    <td colspan="3">@Html.TextAreaFor(m => m.工作经历信息.本人参加过何种项目招标及评标)
                    </td>
                </tr>
                <tr>
                    <td class="lab" valign="top">本人专业领域研究及成果：</td>
                    <td colspan="3">@Html.TextAreaFor(m => m.工作经历信息.本人专业领域研究及成果)
                    </td>
                </tr>
                <tr>
                    <td class="lab" valign="top">主要工作经历：</td>
                    <td colspan="3">@Html.TextAreaFor(m => m.工作经历信息.主要工作经历)
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <button class="btn-base" id="btn_sub" type="submit">保   存</button>
    </div>
}
    
<script type="text/javascript">
    $(function() {
        $("#专家列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#专家列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    $("#btn_sub").click(function() {
        var provence = $("#deliverprovince").find("option:selected").text();   //地址信息
        var city = $("#delivercity").find("option:selected").text();
        var area = $("#deliverarea").find("option:selected").text();
        $("#provence").val(provence);
        $("#city").val(city);
        $("#area").val(area);

    });
    function showDetail(th,flag)
    {
        if(flag==1)
        {
            $(th).children("div").show();
        }
        else
        {
            $(th).children("div").hide();
        }
    }
</script> 