@using Go81WebApp.Models.数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
<link href="~/css/index.css" rel="stylesheet" />
<style>
    #pager {
        text-align: center;
    }

        #pager a {
            display: inline-block;
            width: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            height: 25px;
            border: 1px solid rgb(204, 204, 204);
            margin-top: 10px;
            margin-left: 5px;
            margin-right: auto;
            margin-bottom: 5px;
            cursor: pointer;
        }

            #pager a:hover {
                background-color: rgb(243, 243, 243);
            }
</style>
<div class="gys_znxx_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">单位用户列表</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <table width="90%" style="margin-left:20px; margin-top:10px;">
            <tr>
                <td style="font-size:14px;">用户ID：</td>
                <td><input type="text" id="number" style="width:200px;" /></td>
                <td style="font-size:14px;">单位名称：</td>
                <td><input type="text" id="name" style="width:200px;" /></td>
                <td rowspan="2" valign="middle">
                    <input type="button" style="width:80px; height:40px;" value="查询" onclick="Search_Department(1)" />
                </td>
            </tr>
            <tr>
                <td style="font-size:14px;">单位级别：</td>
                <td>
                    <select style="width:204px;">
                        <option value="@((int)单位用户.单位级别.未设置)">未设置</option>
                        <option value="@((int)单位用户.单位级别.正军级)">正军级</option>
                        <option value="@((int)单位用户.单位级别.正师级)">正师级</option>
                        <option value="@((int)单位用户.单位级别.正团级)">正团级</option>
                        <option value="@((int)单位用户.单位级别.正营级)">正营级</option>
                        <option value="@((int)单位用户.单位级别.副军级)">副军级</option>

                        <option value="@((int)单位用户.单位级别.副师级)">副师级</option>
                        <option value="@((int)单位用户.单位级别.副团级)">副团级</option>
                        <option value="@((int)单位用户.单位级别.副营级)">副营级</option>
                        <option value="@((int)单位用户.单位级别.营级以下)">营级以下</option>
                    </select>
                </td>
                <td style="font-size:14px;">联系人：</td>
                <td><input type="text" id="user" style="width:200px;" /></td>
            </tr>
        </table>
        <div class="gys_znxx_content">
            <table width="100%" id="con" cellpadding="0" cellspacing="0">
                <tr><td colspan="8" style="text-align:right;"><a href="###" onclick="outPutExcelAll()">导出所有用户信息</a><a href="###" onclick="outPutExcel(this)">导出EXCEL表格</a></td></tr>
                <tr><th align="center">用户ID</th><th align="center">登录名</th><th align="center">所属单位</th><th align="center">单位名称</th><th>联系人</th><th>审核状态</th><th>操作</th><th>EXCEL<input id="allCheck" name="parent" type="checkbox" value="" onclick="selectAll()" /></th></tr>
                @foreach (var item in ViewData["user"] as IEnumerable<用户基本数据>)
                {
                    var m = item as 单位用户;
                    <tr>
                        <td>@m.Id</td>
                        <td><a href="/运营团队后台/Department_Detail?id=@item.Id">@item.登录信息.登录名</a></td>
                        <td>
                            @if(!string.IsNullOrWhiteSpace(m.单位信息.所属单位))
                            {
                                <span>@m.单位信息.所属单位</span>
                            }
                            else
                            {
                                <span>未填写</span>
                            }
                        </td>
                        <td>@m.单位信息.单位名称</td>
                        <td>@m.联系方式.联系人</td>
                        @if (m.审核数据.审核状态 == 审核状态.审核通过)
                        {
                            <td>@m.审核数据.审核状态</td>
                        }
                        else if (m.审核数据.审核状态 == 审核状态.审核未通过)
                        {
                            <td style="color: red;">@m.审核数据.审核状态</td>
                        }
                        else
                        {
                            <td style="color: #3333ff;">@m.审核数据.审核状态</td>
                        }
                        <td><a target="_blank" href="/运营团队后台/DepartmentModify?id=@m.Id">修改</a>|<a onclick="del(@item.Id)">删除</a></td>
                        <td><input name="item" type="checkbox" value="@m.Id" onclick="selectThis()" /></td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @Html.Pager("page", int.Parse(ViewData["pagesize"].ToString()), int.Parse(ViewData["listcount"].ToString()))
            </div>
            <div id="pager">

        </div>
    </div>
</div>
</div>
<script type="text/javascript" language="javascript">
    $(":button").click(function () {
        var str=0;
        $(":checked").each(function () {
            if ($(this).prop("checked"))
            {
                str += parseInt($(this).val());
            }
        });
        Search_Department(1);
    });
    function Search_Department(p)
    {
        $.ajax({
            url: '/运营团队后台/Search_Department',
            data: { name: $(":text#name").val(), num: $(":text#number").val(),/* pro: str,*/ catorgray: $("select").val(),cp:p,u:$("#user").val() },
            dataType: 'json',
            success: function (data) {
                var result = "<table width='100%' cellspacing='0' cellpadding='0'><tr><th align='center;' style='width:7%'>用户ID</th><th align='center;' style='width:11%'>登录名</th><th align='center'>所属单位</th><th align='center'>单位名称</th><th>联系人</th><th style='width:9%'>审核状态</th><th style='width:10%'>操作</th></tr>";
                $.each(data.Data.deplist, function (index, item) {
                    result += "<tr><td>" + item.Id + "</td><td><a href='/运营团队后台/Department_Detail?id=" + item.Id + "'>" + item.loginame + "</a></td><td>" + item.ssdw + "</td><td>"+item.unitname+"</td><td>"+item.contactuser+"</td><td>"+item.status+"</td><td><a onclick='del("+item.Id+")'>删除</a>|<a target='_blank' href='/运营团队后台/DepartmentModify?id=" + item.Id + "'>修改</a></td></tr>";
                });
                result += "</table>";
                $("table#con").html(result);
                $(".gys_znxx_content_detailbox").hide();
                setPage(data.Data.PageCount,p);
            },
            error:function() {
                $("table#con").html("根据条件未找到任何结果！");
            },
        });
    }
    @{
        int pages = int.Parse(ViewData["listcount"].ToString())/int.Parse(ViewData["pagesize"].ToString());
        if (int.Parse(ViewData["listcount"].ToString())%int.Parse(ViewData["pagesize"].ToString()) > 0)
        {
            pages++;
        }
    }
    var num =@(int.Parse(ViewData["page"].ToString()));
    var j=@pages
    $(document).ready(function () {
        $(".gys_znxx_content_detailbox a").each(function () {
            if ($(this).text() == num) {
                $(this).css("border","1px solid #ff0000");
            }
            if (num == j) {
                $(".gys_znxx_content_detailbox a:last").addClass("endPage");
            }
            if (num == 1) {
                $(".gys_znxx_content_detailbox a:first").addClass("endPage");
            }
        });
        $("#单位列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#单位列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    function setPage(pgCount, currentPage) {
        if (pgCount <= 6) {
            var str = '';
            for (var i = 1; i <= pgCount; i++) {
                str += "<a onclick='Search_Department("+i+")'>" + i + "</a>";
            }
            if (pgCount!=0)
            {
                str += "<span>" + currentPage + "/" + pgCount + "页</span>";
            }
            $("div#pager").html(str);
        }
        else {
            if (currentPage < 6) {
                if (currentPage != 1) {
                    var str = "<a onclick='Search_Department("+(currentPage-1)+")'>上一页</a>";
                    for (var i = 1; i < 7; i++) {
                        str += "<a onclick='Search_Department("+i+")'>" + i + "</a>";
                    }
                    str += "...<a  onclick='Search_Department("+pgCount+")'>" + pgCount + "</a><a onclick='Search_Department("+(currentPage+1)+")'>下一页</a>";
                    str += "<span>" + currentPage + "/" + pgCount + "页</span>";
                    $("div#pager").html(str);
                }
                else {
                    var str = "";
                    for (var i = 1; i < 7; i++) {
                        str += "<a  onclick='Search_Department("+i+")'>" + i + "</a>";
                    }
                    str += "...<a onclick='Search_Department("+pgCount+")'>" + pgCount + "</a><a onclick='Search_Department("+(currentPage+1)+")'>下一页</a>";
                    str += "<span>" + currentPage + "/" + pgCount + "页</span>";
                    $("div#pager").html(str);
                }
            }
            else if (currentPage >= 6 && currentPage < pgCount - 3) {
                var str = "<a onclick='Search_Department("+(currentPage-1)+")'>上一页</a><a onclick='Search_Department("+(1)+")'>1</a>...";
                for (var i = (currentPage - 4 + 1) ; i <= currentPage+1; i++) {
                    str += "<a onclick='Search_Department("+i+")'>" + i + "</a>";
                }
                str += "...<a onclick='Search_Department("+pgCount+")'>" + pgCount + "</a><a onclick='Search_Department("+(currentPage+1)+")'>下一页</a>";
                str += "<span>" + currentPage + "/" + pgCount + "页</span>";
                $("div#pager").html(str);
            }
            else if (currentPage >= pgCount - 3) {
                var str = "<a onclick='Search_Department("+(currentPage-1)+")'>上一页</a><a onclick='Search_Department("+1+")'>1</a>...";
                for (var i = pgCount - 6 + 1; i <=pgCount; i++) {
                    str += "<a onclick='Search_Department("+i+")'>" + i + "</a>";
                }
                str += "<span>" + currentPage + "/" + pgCount + "页</span>";
                $("div#pager").html(str);
            }
        }
        $("div#pager a").each(
            function () {
                if ($(this).text() == currentPage.toString()) {
                    $(this).css("border", "1px solid red");
                }
            }
        );
    }
    function del(num)
    {
        if(confirm("点击确定即将删除此用户！确定删除吗？"))
        {
            window.location="/运营团队后台/Del_Department?id="+num;
        }
    }
    var s="";
    function selectAll() {
        s = "";
        var th = document.getElementsByName('parent').item(0);
        var items = document.getElementsByName('item');
        if (th.checked) {
            for (var i = 0; i < items.length; i++) {
                items.item(i).checked = true;
                s += items.item(i).value + ",";
            }
        }
        else {
            for (var i = 0; i < items.length; i++) {
                items.item(i).checked = false;
            }
            s = "";
        }
    }
    function selectThis() {
        s = "";
        var noallSelected=false;
        var items = document.getElementsByName('item');
        for (var i = 0; i < items.length; i++) {
            if (!items.item(i).checked) {
                noallSelected = true;
                break;
            }
        }
        for (var i = 0; i < items.length; i++) {
            if (items.item(i).checked) {
                s += items.item(i).value + ",";
            }
        }
        if(noallSelected)
        {
            document.getElementsByName('parent').item(0).checked=false;
        }
        else
        {
            document.getElementsByName('parent').item(0).checked=true;
        }
    }
    function outPutExcel(str) {
        if (s == "") {
            alert("请选择要导出的数据！");
        }
        else {
                window.location = "/运营团队后台/putOutExcel?id=" + s+"&type=unit";
            
        }
    }
    function outPutExcelAll() {
        window.location = "/运营团队后台/putOutExcelAll";
    }
</script>