@using Go81WebApp.Models.数据模型.内容数据模型
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <th width="51%">标题</th>
        <th width="10%">公告性质</th>
        <th width="12%">公告类别</th>
        <th width="12%">时间</th>
        <th width="15%">操作</th>
    </tr>
    @{
        IEnumerable<公告> model = ViewData["后台公告列表"] as IEnumerable<公告>;
    }
    @foreach (var item in model)
    {
        <tr>
            <td><a href="~/运营团队后台/PushMessageDetail?id=@item.Id" target="_blank">@item.内容主体.标题</a></td>
            <td>@item.公告信息.公告性质</td>
            <td>@item.公告信息.公告类别</td>
            <td>@item.基本数据.修改时间.ToString("yyyy.MM.dd")</td>
            <td class="gys_znxx_content_tabletime">
                @Html.ActionLink("编辑推送信息", "PushMessageDetail", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@if (model.Count() != 0)
{
    <div class="gys_znxx_content_detailbox">
        @if (int.Parse(ViewData["currentPage"].ToString()) != 1)
        {
            <a id="1" onclick="changeAdpage(this)">首页</a><a id="@(int.Parse(ViewData["currentPage"].ToString())-1)" onclick="changeAdpage(this)">上一页</a>
        }
        @for (int i = 0; i <= 10; i++)
        {                       //一共最多显示10个页码，前面5个，后面5个
            if ((int.Parse(ViewData["currentPage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentPage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
            {
                if (5 == i)
                {                               //当前页处理
                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentPage"].ToString())</a>
                }
                else
                {                               //一般页处理
                    <a id="@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)" onclick="changeAdpage(this)">@(int.Parse(ViewData["currentPage"].ToString()) + i - 5)</a>

                }
            }
        }
        @if (int.Parse(ViewData["currentPage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
        {
            <a id="@(int.Parse(ViewData["currentPage"].ToString()) + 1)" onclick="changeAdpage(this)">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" onclick="changeAdpage(this)">末页</a>
        }
        <span>第@(ViewData["currentPage"].ToString())页/共@(ViewData["pagecount"].ToString())页</span>
    </div>
}
