@model List<供应商>
@using Go81WebApp.Models.数据模型.用户数据模型
<table cellpadding="0" cellspacing="0" width="100%">
    @{
        if (Model.Count() > 0 && Model.Any())
        {
            int counter = 1;
            foreach (var k in Model)
            {
                if (k != null)
                {
                    <tr style="line-height:40px;">
                        <td><span>@counter 、</span><a href="/运营团队后台/ValueAddedService?id=@k.Id">@k.企业基本信息.企业名称</a></td>
                    </tr>
                }
                counter++;
            }
        }
        else
        {
            <tr>
                <td>无申请军采通供应商！</td>
            </tr>
        }
    }

</table>

@if (ViewData["currentpage"] != null)
{
    <div class="gys_znxx_content_detailbox">
        @if (int.Parse(ViewData["currentpage"].ToString()) != 1)
        {
            <a id="1" class="page">首页</a><a id="@(int.Parse(ViewData["currentpage"].ToString())-1)" class="page">上一页</a>
        }
        @for (int i = 0; i <= 10; i++)
        {                       //一共最多显示10个页码，前面5个，后面5个
            if ((int.Parse(ViewData["currentpage"].ToString()) + i - 5) >= 1 && (int.Parse(ViewData["currentpage"].ToString()) + i - 5) <= int.Parse(ViewData["pagecount"].ToString()))
            {
                if (5 == i)
                {                               //当前页处理
                    <a style="border:1px solid #ff0000;">@int.Parse(ViewData["currentpage"].ToString())</a>
                }
                else
                {                               //一般页处理
                    <a class="page" id="@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)">@(int.Parse(ViewData["currentpage"].ToString()) + i - 5)</a>

                }
            }
        }
        @if (int.Parse(ViewData["currentpage"].ToString()) != int.Parse(ViewData["pagecount"].ToString()))
        {
            <a id="@int.Parse(ViewData["currentpage"].ToString())" class="page">下一页</a><a id="@int.Parse(ViewData["pagecount"].ToString())" class="page">末页</a>
        }
        <span>第@(ViewData["currentpage"].ToString())页/共@(ViewData["pagecount"].ToString())页</span>
    </div>
}

<script type="text/javascript">
    $("a.page").click(function () {
        var p = $(this).attr("id");
        $.ajax({
            url: "/运营团队后台/Part_AccountInfoManage",
            data: { page: p },
            success: function (data) {
                $("#tablelist").html(data);
            }
        });
    });
    $(function () {
        $("#军采通申请列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#军采通申请列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>