@model Go81WebApp.Models.数据模型.商品数据模型.商品分类
@using Go81WebApp.Models.数据模型.商品数据模型
@*<link href="~/JS/YYTD/css.css" rel="stylesheet" />*@
<link href="~/css/css.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
<script src="~/JS/good_ml.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(".index_tree").Goodml({
        click: function (a) {
            if (!$(a).attr("hasChild"))
                window.location.href = $(a).attr("href");
        }
    });
});
</script>
<style type="text/css">
    .modal-backdrop{height:0 !important;}
</style>
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">商品目录管理</div>
    </div>
</div>
<div class="index_tree gys_znxx_box">
    <ul>
        <li class="index_first_tittle"><span>序号</span><span>商品目录名称</span><span>商品目录级别</span><span>操作</span></li>
        <li class="index_first_tittle"><span>&nbsp;</span><span>全部</span><span id="tiptp">&nbsp;</span><span><a id="-1" class="newadd" data-toggle="modal" name="0" data-target="#myModal">新建</a></span></li>
        @{IEnumerable<商品分类> good = ViewData["商品分类"] as IEnumerable<商品分类>; }
        @if (good != null && good.Any())
        {
            foreach (var name in good)
            {
                if(name.分类性质==商品分类性质.通用物资)
                { 
                    var aa = name.应急采购 ? "t" : "f";
                    var bb = name.协议采购 ? "t" : "f";
                    <li class="index_second_title"><span>@((name.序号 != null) ? name.序号 : 999999999)</span><span id="@name.Id" title="@aa" role="@bb">@name.分类名</span><span>一级</span><span><a class="edit" id="@name.Id" data-toggle="modal" data-target="#myModalEdit">编辑</a>&nbsp;&nbsp;<a class="del" data-toggle="modal" data-target="#myModalDel" id="@name.Id">删除</a>&nbsp;&nbsp;<a id="@name.Id" class="newadd" data-toggle="modal" name="0" data-target="#myModal">新建</a></span></li>
                    if (name.子分类.Any())
                    {
                        <ul id="second" class="showed" show="">
                            @foreach (var na in name.子分类)
                            {
                                var dd = na.协议采购 ? "t" : "f";
                                var cc = na.应急采购 ? "t" : "f";
                                <li class="index_third_title"><span>@((na.序号 != null) ? na.序号 : 999999999)</span><span title="@cc" role="@dd">@na.分类名</span><span>二级</span><span><a class="edit" id="@na.Id" data-toggle="modal" data-target="#myModalEdit">编辑</a>&nbsp;&nbsp;<a class="del" data-toggle="modal" data-target="#myModalDel" id="@na.Id">删除</a>&nbsp;&nbsp;<a id="@na.Id" class="newadd" data-toggle="modal" name="0" data-target="#myModal">新建</a> </span></li>
                                if (na.子分类.Any())
                                {
                                    <ul show="">
                                        @foreach (var a in na.子分类)
                                        {
                                            var ee = a.应急采购 ? "t" : "f";
                                            var ff = a.协议采购 ? "t" : "f";
                                            <li class="index_fourth_title"><span>@((a.序号 != null) ? a.序号 : 999999999)</span><span title="@ee" role="@ff">@a.分类名</span><span>三级</span><span><a class="edit" id="@a.Id" data-toggle="modal" data-target="#myModalEdit">编辑</a>&nbsp;&nbsp;<a class="del" data-toggle="modal" data-target="#myModalDel" id="@a.Id">删除</a>&nbsp;&nbsp;<a id="@a.Id" class="newadd" data-toggle="modal" name="0" data-target="#myModal">新建</a>&nbsp;&nbsp;@Html.ActionLink("属性管理", "GoodAttrManage", new { xid = a.Id, name = a.分类名 }, new { target = "_blank" })</span></li>
                                        }
                                    </ul>
                                }
                            }
                        </ul>
                    }
                }

            }
            <li class="index_second_title"><span>999999999</span><span>专用物资</span><span>一级</span><span><a class="newadd" data-toggle="modal" name="1" data-target="#myModal">新建</a></span></li>
            <ul id="second" class="showed" show="">
                @foreach (var name in good)
                {
                    if (name.分类性质 == 商品分类性质.专用物资)
                    {
                        var dd = name.协议采购 ? "t" : "f";
                        var cc = name.应急采购 ? "t" : "f";
                        <li class="index_third_title"><span>@((name.序号 != null) ? name.序号 : 999999999)</span><span title="@cc" role="@dd">@name.分类名</span><span>二级</span><span><a class="edit" id="@name.Id" data-toggle="modal" data-target="#myModalEdit">编辑</a>&nbsp;&nbsp;<a class="del" data-toggle="modal" data-target="#myModalDel" id="@name.Id">删除</a>&nbsp;&nbsp;<a id="@name.Id" class="newadd" data-toggle="modal" name="1" data-target="#myModal">新建</a> </span></li>
                        if (name.子分类.Any())
                        {
                            <ul show="">
                                @foreach (var a in name.子分类)
                                {
                                    var ee = a.应急采购 ? "t" : "f";
                                    var ff = a.协议采购 ? "t" : "f";
                                    <li class="index_fourth_title"><span>@((a.序号 != null) ? a.序号 : 999999999)</span><span title="@ee" role="@ff">@a.分类名</span><span>三级</span><span><a class="edit" id="@a.Id" data-toggle="modal" data-target="#myModalEdit">编辑</a>&nbsp;&nbsp;<a class="del" data-toggle="modal" data-target="#myModalDel" id="@a.Id">删除</a>&nbsp;&nbsp;<a id="@a.Id" class="newadd" data-toggle="modal" data-target="#myModal">新建</a>&nbsp;&nbsp;@Html.ActionLink("属性管理", "GoodAttrManage", new { xid = a.Id, name = a.分类名 }, new { target = "_blank" })</span></li>
                                }
                            </ul>
                        }
                    }
                }
            </ul>
        }
        else
        {
            <li><span>暂无相关数据！</span></li>
        }
    </ul>
</div>

<!--添加商品分类-->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建商品目录</h4><span id="tips"></span>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hidden" />
                    <label>是否参与协议供货</label>
                    <input id="isPost" type="checkbox" />参与协议供货  <br />
                    <label>是否参与应急采购</label>                      
                    <input id="isFirst" type="checkbox" />参与应急采购 <br />
                    <label>商品目录名称：</label>
                    <input type="text" id="text" /><span id="nametips"></span><br />
                    <label style="margin-left:60px;">序号：</label>
                    <input type="text" id="numtext" /><span id="numtips"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close_add" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="add_save" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">新建商品目录</h4><span id="tips"></span>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden" name="" />
                <label>是否参与协议供货：</label>
                <input id="isPost" type="checkbox" />参与协议供货  <br />
                <label>是否参与应急采购：</label>
                <input id="isFirst" type="checkbox" />参与应急采购 <br />
                <label>商品目录名称：</label>
                <input type="text" id="text" /><span id="nametips"></span><br />
                <label style="margin-left:64px;">序号：</label>
                <input type="text" id="numtext" /><span id="numtips"></span>
            </div>
            <div class="modal-footer">
                <button type="button" id="close_add" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="add_save" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
         $(".newadd").click(function(){
             $("#hidden").val($(this).attr("id"));
             $("#hidden").attr({"name":$(this).attr("name")});
             $("#nametips").html(" ");
             $("#isFirst").prop("checked", false);
             $("#isPost").prop("checked", false);
             $("#text").val(" ");
             $("#numtext").val("");
         });
    });
    

    $("#add_save").click(function () {
        var isPost = $("#isPost").is(":checked");
        var isFirst = $("#isFirst").is(":checked");
        var parid = $("#hidden").val();
        var isZhuanyong = $("#hidden").attr("name");
        var text = $("#text").val().trim();
        var numtext = $("#numtext").val().trim();
        if (text != null && text != "" && numtext != null && numtext != "") {
            $.ajax({
                url: "/运营团队后台/新建商品目录",
                data: 'ispost=' + isPost + '&isfirst=' + isFirst + '&parid=' + parid + '&text=' + text + '&num=' + numtext+'&iszhuanyong='+isZhuanyong,
                success: function () {
                    $("#tips").html("添加成功！").css({ "color": "red" });
                    $("#isFirst").prop("checked", false);
                    $("#isPost").prop("checked", false);
                    $("#text").val(" ");
                    $("#numtext").val("");
                    setTimeout(function() {
                        $("#tips").hide();
                    },1000);
                },
                error: function () {
                    $("#tips").html("添加失败！").css({ "color": "red" });
                },
            });
        }
        else {
            if (text == "" || text == null) {
                $("#nametips").html("请填写商品分类名称！").css({ "color": "red" });
            }
            else {
                $("#nametips").empty();
            }
            if (numtext == "" || numtext == null) {
                $("#numtips").html("请填写商品分类序号!").css({ "color": "red" });
            }
            else {
                $("#numtips").empty();
            }
        }
    });
    $("#close_add").click(function(){
        window.location.reload();
    });
</script>


<!--编辑商品分类-->
    <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑商品分类</h4><span id="tip"></span>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hiddenid" />
                    <label>是否参与协议供货：</label>
                    <input id="rename_isPost" type="checkbox" />参与协议供货  <br />
                    <label>是否参与紧急采购：</label>
                    <input id="rename_isFirst" type="checkbox" />参与紧急采购 <br />
                    <label>商品目录名称：</label>
                    <input type="text" id="name" value="" /><span id="tipstip"></span> <br />
                    <label style="margin-left:64px;">序号：</label>
                    <input type="text" id="numname" value="" /><span id="numnametip"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close_edit" data-dismiss="modal">关闭</button>
                    <button type="button" id="edit_save" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>                                             
    </div>

<script type="text/javascript">
        $(".edit").click(function () {
            $("#hiddenid").val($(this).attr("id"));
            $("#hiddenid").attr({ "name": $(this).attr("name") });
            //var p=$(this).parent().parent().children().eq(0).html();
            $("#rename_isFirst").prop("checked",false);
            $("#rename_isPost").prop("checked", false);
            $("#tipstip").html(" ");
            $("#numname").val($(this).parent().parent().children(":first").html());
            $("#name").val($(this).parent().parent().children().eq(1).html());
            var first = $(this).parent().parent().children().eq(1).attr("title");
            var post = $(this).parent().parent().children().eq(1).attr("role");
            if ( first== "t") {
                $("#rename_isFirst").prop("checked",true);
            }
           else
            {
                $("#rename_isFirst").prop("checked",false);
            }
            if ( post == "t")
            {
                $("#rename_isPost").prop("checked", true);
            }
           else
            {
                $("#rename_isPost").prop("checked", false);
            }
        });


        $("#edit_save").click(function () {
            var isPost = $("#rename_isPost").is(":checked");
            var isFirst = $("#rename_isFirst").is(":checked");
            var parid = $("#hiddenid").val();
            var isZhuanyong = $("#hiddenid").attr("name");
            var text = $("#name").val().trim();
            var numname=$("#numname").val().trim();
            if (text != null && text != "" && numname!=""&&numname!=null) {
                $.ajax({
                    url: "/运营团队后台/重命名分类",
                    data: 'ispost=' + isPost + '&isfirst=' + isFirst + '&parid=' + parid + '&text=' + text + '&numname=' + numname + '&iszhuanyong=' + isZhuanyong,
                    success: function () {
                        $("#tip").html("修改成功！").css({ "color": "red" });
                        //$("#close_edit").click();
                        window.location.reload();
                    },
                    error: function () {
                        alert("添加失败！");
                    },
                });
            }
            else {
                if (text == "" || text == null)
                {
                    $("#tipstip").html("商品分类名称不能为空！").css({"color":"red"});
                }
                if(numname==""||numname==null)
                {
                    $("#numnametip").html("商品分类序号不能为空！").css({"color":"red"});
                }
            }
        });
</script>



<!--删除确认对话框-->
<div class="modal fade" id="myModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            </div>
            <div class="modal-body">
                <span class="comfirm" style="color:red">确定删除该条分类？</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"id="comfirm_close" data-dismiss="modal">关闭</button>
                <button type="button" id="confirm_del" class="btn btn-primary">删除</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".del").click(function () {
        $(".comfirm").attr("id",$(this).attr("id"));
    });
    $("#confirm_del").click(function () {
        $.ajax({
            url: '/运营团队后台/删除商品目录?a=' + $(".comfirm").attr("id"),
            success: function (data) {
                if (data == "删除成功！") {
                    $("#tiptp").html(data).css({ "color": "red" });
                    window.location.reload();
                }
                else {
                    $("#comfirm_close").click();
                    $("#tiptp").html(data).css({ "color": "red" });

                }
            },
            error: function (data) {
                $("#tiptp").html(data).css({ "color": "red" });
            },
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#商品目录管理").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#商品目录管理").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>


    
