@using Go81WebApp.Models.数据模型.竞标数据模型
@using Go81WebApp.Models.数据模型
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">网上竞标列表--未完成</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="4%">序号</th>
                    <th width="30%">商品名称</th>
                    <th width="20%">商品型号</th>
                    <th width="10%">商品数量</th>
                    <th width="10%">起始价格</th>
                    <th width="10%">结束时间</th>
                    <th width="15%">操作</th>
                </tr>
                @{
                    var 报价列表 = ViewData["网上竞标列表"] as IEnumerable<网上竞标>;
                    if (报价列表.Any() && 报价列表.Count() > 0)
                    {
                        var num = 0;
                        foreach (var item in 报价列表)
                        {
                            num++;
                            <tr>
                                @*<td>
                                        @if (item.所属采购项目.招标采购项目ID != -1)
                                        {
                                            <a href="~/运营团队后台/Project_Detail?id=@item.Id" target="_blank">@item.所属采购项目.招标采购项目.项目名称</a>

                                        }
                                    </td>*@
                                <td style="text-align:center">@num</td>
                                <td>@item.商品名称</td>
                                <td>@item.商品型号</td>
                                <td>@item.商品需求数量</td>
                                <td>￥@item.起始价格</td>

                                <td>@item.报价结束时间.ToString("yyyy/MM/dd")</td>
                                @*@if (item.最终价格>0)
                                    {
                                        <td class="gys_znxx_content_tabletime">@Html.ActionLink("查看", "OnlineBidding_Detail", new { id = item.Id})|<a onclick="del(@item.Id)">删除</a></td>
                                    }
                                    else
                                    {*@
                                <td class="gys_znxx_content_tabletime">@Html.ActionLink("查看", "OnlineBidding_Detail", new { id = item.Id })|@Html.ActionLink("修改", "OnlineBidding_Modify", new { id = item.Id })|<a onclick="del(@item.Id)">删除</a></td>
                                @*}*@
                            </tr>
                        }
                    }
                    else
                    {
                         <tr>
                             <td colspan="7">暂无信息</td>
                         </tr>
                    }

                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @(Html.Pager("page", int.Parse(ViewData["pagesize"].ToString()), int.Parse(ViewData["listcount"].ToString())))
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    function del(num) {
        if (confirm("点击确定即将删除此消息！确定删除吗？")) {
            window.location = "/运营团队后台/OnlineBidding_Delete?id=" + num;
        }
    }
    @{
        int pages = int.Parse(ViewData["listcount"].ToString())/int.Parse(ViewData["pagesize"].ToString());
        if (int.Parse(ViewData["listcount"].ToString())%int.Parse(ViewData["pagesize"].ToString()) > 0)
        {
            pages++;
        }
    }
    var num =@(int.Parse(ViewData["page"].ToString()));
    var j=@pages
    $(document).ready(function () {
        $(".gys_znxx_content_detailbox a").each(function () {
            if ($(this).text() == num) {
                $(this).addClass("currentPage");
            }
            if (num == j) {
                $(".gys_znxx_content_detailbox a:last").addClass("endPage");
            }
            if (num == 1) {
                $(".gys_znxx_content_detailbox a:first").addClass("endPage");
            }
        });
        $("#未完成网上报价列表").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#未完成网上报价列表").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({"background":"url('../Images/tree_icons.png') -115px -4px"});
    });
</script>

