@using Go81WebApp.Models.数据模型.内容数据模型;
@using Go81WebApp.Models.数据模型.用户数据模型
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">待审核公告列表</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="5%">序号</th>
                    <th width="25%">标题</th>
                    <th width="10%">公告性质</th>
                    <th width="12%">公告类别</th>
                    <th width="10%">时间</th>
                    <th width="20%">发布者</th>
                    <th width="18%">操作</th>
                </tr>
                @{var sortnum = 0;
                  IEnumerable<公告> model = ViewData["未审核公告列表"] as IEnumerable<公告>;
                  }
                @foreach (var item in model)
                {
                    sortnum++;
                    <tr>
                        <td>@sortnum</td>
                        <td><a href="~/运营团队后台/AdListDetail?id=@item.Id" target="_blank">@item.内容主体.标题</a></td>
                        <td>@item.公告信息.公告性质</td>
                        <td>@item.公告信息.公告类别</td>
                        <td>@item.内容主体.发布时间.ToString("yyyy.MM.dd")</td>
                        @if (item.内容基本信息.所有者.用户ID > 0 && item.内容基本信息.所有者.用户ID < 100000000000)
                        {
                            try
                            {
                                var user = item.内容基本信息.所有者.用户数据 as 单位用户;
                                <td>@user.单位信息.单位名称，@user.联系方式.联系人，@user.联系方式.手机</td>
                            }
                            catch (Exception)
                            {
                                <td>@item.内容基本信息.所有者.用户ID</td>
                            }

                        }
                        else
                        {
                            <td>客服发布</td>
                        }
                        <td class="gys_znxx_content_tabletime">
                            @Html.ActionLink("查看", "Procure_AdDetail", new { id = item.Id },new {target="_blank"})|
                            <a onclick="del(@item.Id)">删除</a>
                            @Html.ActionLink("修改", "Procure_AdModify", new { id = item.Id }, new { target = "_blank" })
                            @*@if (item.基本数据.已屏蔽 == false)
                            {
                                @Html.ActionLink("禁用", "Procure_AdForbid", new { id = item.Id })
                            }
                            else
                            {
                                @Html.ActionLink("解除禁用", "Procure_AdForbid", new { id = item.Id })
                            }*@
                        </td>
                    </tr>
                }
            </table>
            <div class="gys_znxx_content_detailbox">
                @{
                    if (model.Count() != 0)
                    {
                        int Pagecount = int.Parse(ViewData["Pagecount"].ToString());
                        int CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
                        if (Pagecount > 0 && CurrentPage != 1)
                        {
                            <a href='/运营团队后台/Procure_AdAudit?page=1'>首页</a><a href='/运营团队后台/Procure_AdAudit?page=@(CurrentPage-1)'>上一页</a>
                        }
                        if (Pagecount <= 6)
                        {
                            for (int i = 1; i <= Pagecount; i++)
                            {
                                if (CurrentPage == i)
                                {
                                    <a style="border:1px solid red;" href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                }
                                else
                                {
                                    <a href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (CurrentPage < 6)
                            {
                                if (CurrentPage != 1)
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/运营团队后台/Procure_AdAudit?page=@(Pagecount)">@Pagecount</a>
                                }
                                else
                                {
                                    for (int i = 1; i < 7; i++)
                                    {
                                        if (CurrentPage == i)
                                        {
                                            <a style="border:1px solid red;" href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                        }
                                        else
                                        {
                                            <a href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                        }
                                    }
                                    <span>...</span><a href="/运营团队后台/Procure_AdAudit?page=@(Pagecount)">@Pagecount</a>
                                }
                            }
                            else if (CurrentPage >= 6 && CurrentPage < Pagecount - 3)
                            {
                                <a href="/运营团队后台/Procure_AdAudit?page=1">1</a><span>...</span>
                                for (int i = (CurrentPage - 4 + 1); i <= CurrentPage + 1; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                    }
                                }
                                <span>...</span><a href="/运营团队后台/Procure_AdAudit?page=@(Pagecount)">@Pagecount</a>
                            }
                            else if (CurrentPage >= Pagecount - 3)
                            {
                                <a href="/运营团队后台/Procure_AdAudit?page=1">1</a><span>...</span>
                                for (int i = Pagecount - 6 + 1; i <= Pagecount; i++)
                                {
                                    if (CurrentPage == i)
                                    {
                                        <a style="border:1px solid red;" href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                    }
                                    else
                                    {
                                        <a href='/运营团队后台/Procure_AdAudit?page=@i'>@i</a>
                                    }
                                }
                            }
                        }
                        if (Pagecount > 0)
                        {
                            if (CurrentPage < Pagecount)
                            {
                                <a href="/运营团队后台/Procure_AdAudit?page=@(CurrentPage+1)">下一页</a><a href="/运营团队后台/Procure_AdAudit?page=@Pagecount">末页</a>
                            }
                            <span>第@(CurrentPage)页/共@(Pagecount)页</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#审核公告").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#审核公告").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });

    function del(num)
    {
        if(confirm("点击确定即将删除此消息！确定删除吗？"))
        {
            window.location="/运营团队后台/Procure_AdDelete?id="+num+"&h=adaudit";
        }
    }
</script>