@using Go81WebApp.Models.数据模型.权限数据模型
@using Microsoft.Ajax.Utilities
@model Go81WebApp.Models.数据模型.权限数据模型.角色
<style type="text/css">
    .procure_formlistdiv input {
        width: 500px;
    }

    .emunlist {
        width: 250px;
        height: 30px;
        float: left;
        padding: 10px;
    }

        .emunlist input {
            width: 15px;
            height: 15px;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">添加角色</div>
        </div>
    </div>
    <div class="gys_znxx_box">
        <div class="gys_znxx_contentbox">
            <div class="gys_znxx_content">
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">角色名：</div>
                    <div class="procure_formlistdiv">
                        @Html.EditorFor(model => model.角色名)
                        <span class="errormessage">@Html.ValidationMessageFor(model => model.角色名)</span>
                    </div>
                </div>
                <div class="procureinputdiv">
                    <div class="procureinputdiv_title">包含用户组:</div>
                    <div class="procure_formlistdiv" style="border: 1px solid #999; height: auto; overflow: hidden; width: 850px;">
                        @foreach (var item in (IEnumerable<用户组>)ViewData["用户组集合"])
                        {

                            var str = "权限列表：";
                            if (item.权限列表 != null)
                            {
                                foreach (var it in item.权限列表)
                                {
                                    str += it + ",";
                                }
                            }
                            <div class="emunlist">
                                <input type="checkbox" id="@item.用户组名" title="@str" name="selectlist" value="@item.用户组名" />@item.用户组名
                            </div>
                        }
                    </div>
                </div>
                <input type="hidden" id="permissionstr" name="permissionstr" />
                <div style=" text-align:center;"><input id="addbutton" name="addbutton" type="submit" @*onclick="return checkcontent();"*@ style="margin-top:20px;" class="front_login_rightbox_button" value="确定"></div>


            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#addbutton").click(function () {
            var selectcontent = "";

            var selectlist = document.getElementsByName("selectlist");
            for (var i = 0; i < selectlist.length; i++) {
                if (selectlist[i].checked)
                    selectcontent += selectlist[i].value + ",";
            }
            document.getElementById("permissionstr").value = selectcontent;
        });
        $(function () {
            $("#添加角色").addClass("left_menu_select").children("a").css({ "color": "#fff" });
            $("#添加角色").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
        });
    </script>
}

