@using Go81WebApp.Models.数据模型.消息数据模型

<link href="~/css/index.css" rel="stylesheet" />
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">已处理投诉</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_znxx_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr><th width="15%" align="center">投诉人</th><th width="38%" align="center">投诉标题</th><th width="32%" align="center">投诉时间/处理时间</th><th width="15%" align="center">操作</th></tr>
                @{
                    IEnumerable<投诉> tslist = ViewData["投诉列表"] as IEnumerable<投诉>;
                    if (tslist.Any() && tslist != null)
                    {
                        foreach (var items in tslist)
                        {

                            foreach (var i in items.对话消息)
                            {
                                <tr>
                                    <td align="center">@items.发起者.用户数据.登录信息.登录名</td>
                                    <td align="center"><a target="_blank" href="/运营团队后台/Suggest_Detail?id=@items.Id">@i.消息主体.标题</a></td>
                                    <td align="center">@items.基本数据.添加时间.ToString("yyyy-MM-dd hh:mm") / @items.基本数据.修改时间.ToString("yyyy-MM-dd hh:mm")</td>
                                    <td align="center">
                                        <a href="/运营团队后台/Suggest_Detail?id=@items.Id" target="_blank">详情</a>
                                        <a href="/运营团队后台/Suggestion_Del?id=@items.Id">删除</a>
                                    </td>
                                </tr>
                                break;
                            }

                        }
                    }
                    else
                    {
                        <tr><td colspan="4">暂无相关数据！</td></tr>
                    }
                }

            </table>

            <div class="gys_znxx_content_detailbox">
                @(Html.Pager("page", int.Parse(ViewData["pagesize"].ToString()), int.Parse(ViewData["listcount"].ToString())))
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#close_box").click(function () {
                $("#con_box").hide(1000);
            });
            $("#tb1 table tr td a.op").click(function () {
                $.ajax({
                    url: '/运营团队后台/查找投诉',
                    dataType: 'json',
                    success: function (data) {
                        $("#con_box").show(1000);
                        alert(data);
                        $("#tsname").html(data);
                        $("#question").html(data);
                        $("#time").html(data);
                        $("#clname").html(data);
                        $("#con").html(data);
                    },
                    error: function () {
                        alert("获取数据失败！");
                    },
                });

            });
        });
    </script>
<script type="text/javascript" language="javascript">
    @{
        int pages = int.Parse(ViewData["listcount"].ToString())/int.Parse(ViewData["pagesize"].ToString());
        if (int.Parse(ViewData["listcount"].ToString())%int.Parse(ViewData["pagesize"].ToString()) > 0)
        {
            pages++;
        }
    }
    var num =@(int.Parse(ViewData["page"].ToString()));
    var j=@pages
    $(document).ready(function () {
        $(".gys_znxx_content_detailbox a").each(function () {
            if ($(this).text() == num) {
                $(this).addClass("currentPage");;
            }
        });
        $("#已处理投诉").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#已处理投诉").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>

